[2016-03-25 14:21] nh13 opened #13 "Fix the outpuf"
Fix this:
https://github.com/fulcrumgenomics/fgbio/search?utf8=%E2%9C%93&q=outpuf

[2016-04-04 23:28] nh13 commented on #13
#15

[2016-04-04 23:29] #13 closed

[2016-06-24 18:13] tfenne opened #30 "Add tests for ExtractUmisFromBam"

[2016-06-24 18:49] tfenne opened #31 "Add tests to increase coverage of ReadStructure class"

[2016-06-28 05:14] nh13 commented on #31
Done.

[2016-06-28 05:14] #31 closed

[2016-06-28 09:47] tfenne opened #36 "Set the HTSJDK logging level to INFO or WARNING as a default"
Currently it is at `DEBUG`.

[2016-06-28 09:51] tfenne opened #37 "Should fgbio tools produce any messages as they start and end?"
E.g. at startup should they report their environment similar to the way Picard tools do?  At the end should they print out the runtime and any other useful stats?

[2016-06-28 15:45] nh13 commented on #30
Done

[2016-06-28 15:45] #30 closed

[2016-06-28 16:06] tfenne opened #39 "Update the main README.md to have more useful information!"

[2016-06-30 04:03] nh13 commented on #37
See #40

[2016-06-30 15:24] nh13 opened #42 "ProgressLogger should have a method to print the last "record" statement"
... so that we can call it when we have completed recording to get a final count.

[2016-07-06 14:49] nh13 opened #46 "Consensus caller should filter consensus calls that have too many Ns"
reported by @tfenne: `bwa mem` runs slowly with reads with even a small # of Ns.

[2016-07-06 14:49] tfenne opened #47 "CallMolecularConsensusReads should add a @PG and possibly chain it to the old ones?"
Should we leave any existing @PGs in the header?  That's going to make chaining much more complicated.

[2016-07-07 00:40] nh13 opened #51 "Efficient computation of "or" with an array of log probabilities."
The previous implementation of `NumericTypes.or(values: Array[LogProbability]): LogProbability` did not use a rolling sum, but now we do:  https://github.com/fulcrumgenomics/fgbio/pull/50

Figure out a way to make this more efficient.  Likely the array is only a few elements long (four in a lot of cases).  See the use of this method in the `ConsensusCaller`.

[2016-07-07 19:38] nh13 opened #52 "wgsHistogram.R no longer needed"
Remove: src/scripts/com/fulcrumgenomics/metrics/wgsHistogram.R

[2016-07-19 21:12] tfenne opened #63 "CallMolecularConsensusReads should probably support sorting into queryname order"
Right now it outputs an unsorted BAM and it would be more useful to have it sorted by queryname.

[2016-07-19 21:14] tfenne opened #64 "CallMolecularConsensusReads doesn't appear to support /dev/stdout as it's output file"
Not sure why since this isn't usually a problem:

[code]

[2016-07-20 00:17] nh13 commented on #52
Fixed.

[2016-07-20 00:17] #52 closed

[2016-07-20 00:36] nh13 commented on #64
Weird, it happens for me too right at the end of processing.

[2016-07-20 00:37] nh13 commented on #64
Also:
[code]

this makes me think there is something else going on (with htsjdk?)

[2016-07-20 00:40] nh13 commented on #64
Apparently it passe line 285 in:
[code]

[2016-07-20 02:06] nh13 opened #66 "Resolve consensus calling naming"
The following terms need to be unified in `CallMolecularConsensusReads`, `VanillaUmiConsensusCaller`, and `VanillaUmiConsensusCallerOptions`:
`errorRatePreUmi -> errorRatePreLabeling`
`errorRatePostUmi -> errorRatePostLabeling`
`maxBaseQuality -> maxRawBaseQuality`
`baseQualityShift -> rawBaseQualityShift`

[2016-07-20 14:21] nh13 opened #67 "SamRecordSetBuilder should expose setting the random seed (to 42)"

[2016-07-22 14:15] nh13 opened #69 "PickIlluminaIndices fails to create indices"
[code]

I tried both master and the additions on #68.  In the latter case, no Exception is thrown inside each `execute` statement in the `IndexSet.remove` method, but we get:
[code]

[2016-07-22 14:36] nh13 commented on #69
I added a `super.contains(index)` in the `IndexSet.remove` method prior to the call to `super.remove`, such that if the index **was not** contained an exception would be thrown.  And an exception was thrown.  So we are calling `IndexSet.remove` passing an index that is not in the set.

[2016-08-17 02:08] nh13 commented on #39
Done.

[2016-08-17 02:08] #39 closed

[2016-08-17 02:08] nh13 commented on #37
Done in https://github.com/fulcrumgenomics/fgbio/pull/43

[2016-08-17 02:08] #37 closed

[2016-08-17 02:09] nh13 commented on #36
Done.

[2016-08-17 02:09] #36 closed

[2016-08-17 02:10] #63 closed

[2016-08-25 10:45] smithcg02 opened #87 "Assertion error: reads out of order"
Hi
I am currently trying to handle sequence data that contains UMIs. I came across fgbio and have attempted to use some of its applications with my data. I have successfully annotated my bams with UMIs and am now looking to collapse the reads into a consensus sequence. I have tried using the 'GroupReadsByUmi' and 'CallMolecularConsensusReads' applications (I understand that the latter is dependent

[2016-08-25 12:34] tfenne commented on #87
Hi @smithcg02, I'm sorry you're having problems.  You've inferred correctly - the workflow is to run an aligned bam through `GroupReadsByUmi` and then through `CallMolecularConsensusReads` in that order.

Looking at your stack trace the problem that's cropping up is that even after filtering out all un-paired reads and sorting by read name, it's encountering a situation where when it plucks two re

[2016-08-25 13:59] smithcg02 commented on #87
Thanks @tfenne
It does indeed look like some of the reads are missing the mate. I ran ValidateSamFile and got a series of messages like the following;
ERROR: Read name D00408:358:C8KK0ANXX:7:2103:4546:11697, Mate not found for paired read
I'm trying to dig in to the pipeline that yields that bam to see where reads are getting lost. I thought it might be MarkDuplicates but we're retaining all reads

[2016-08-25 14:02] tfenne commented on #87
The tools in their current state only work with PE data, and discard any SE data.  It's possible they could be patched to also discard reads that claim to be paired, but with the mate missing.  However, it would probably be better/easier to simply sanitze the input BAM before running the tool.  I'm pretty sure you can use picard's `RevertSam` with `SANITIZE=true` and all the REMOVE/RESTORE options

[2016-08-25 15:35] smithcg02 commented on #87
That seems to have done the trick, for now.
Both the GroupReadsByUmi and CallMolecularConsensusReads commands have worked, in as much as the commands have completed without any errors!
I'll have a look at interpreting the output
Thanks very much for your help!

[2016-08-26 18:21] nh13 opened #89 "SamRecordSetBuilder returning records with invalid insert size"
Tracked it down to this: https://github.com/samtools/htsjdk/pull/692

[2016-08-26 18:41] nh13 commented on #89
Actually, it was the above issue combined with using a release of fgbio that had an old version of `SamRecordSetBuilder` with the negative strand set to false.  Still, the issue stands in htsjdk, but I am closing this one.

[2016-08-26 18:41] #89 closed

[2016-08-27 02:55] nh13 opened #90 "Time for a 0.1.2 release?"
@tfenne what do you think?

It would be great to have it depend on a stable version of `dagr` for the release, so perhaps depend on https://github.com/fulcrumgenomics/dagr/issues/201?

[2016-08-27 02:57] nh13 opened #91 "Should we make a recipe for fgbio in homebrew?"
It probably belongs in [homebrew-science](https://github.com/Homebrew/homebrew-scienc).  See the [contributing  guide](https://github.com/Homebrew/homebrew-science/blob/master/.github/CONTRIBUTING.md).

[code]

[2016-08-31 01:53] nh13 opened #96 "Sonatype snapshots not being released"

[2016-08-31 01:54] nh13 commented on #96
Fixed with #92, #93, #94, and finally #95.

Example snapshot:
https://oss.sonatype.org/content/repositories/public/com/fulcrumgenomics/fgbio_2.11/0.1.2-SNAPSHOT/

[2016-08-31 01:54] #96 closed

[2016-09-02 13:05] smithcg02 commented on #87
Dear @tfenne
Me again.
I can see that the collapsed bam (as output by CallMolecularConsensusReads command) contains my reads but they don’t seem to have location information (no chromosome, start, end, etc). Is this what you’d expect of the command (if so, do you know how I might go about adding it?) or am I still doing something wrong?

An example of a line from my bam is copied here;

SLX-11341_

[2016-09-02 13:48] nh13 commented on #87
@smithcg02 this is what we would expect, namely no mapping information in the consensus reads.  Therefore, you should map the consensus reads for any downstream analysis that requires it.

The motivation to output unmapped reads include but are not limited to:

1. Specifying the "right" mapped information is challenging from a set of input reads that have mapping information, especially with corne

[2016-09-07 14:46] tfenne opened #102 "Metric does not support optional values"
The Metric class does not support optional values via `Option[Type]`.  This would be nice as there are definitely cases where some values are optional, and not necessarily present.

[2016-09-07 14:53] tfenne commented on #102
Outputting is relatively simple (see `PickLongIndices`' `IndexMetric` for an updated `formatValues` method), but reading back doesn't work as expected.

[2016-09-07 14:58] nh13 opened #103 "Improve the parallel collection support"
Instead of this:

[code]

something like:

[code]

and something like this:

[code]

The latter is useful if we have multiple parallel collections.

[2016-09-07 15:05] nh13 commented on #102
@tfenne  I think we have to agree on how to represent `None` on disk, which also affects arg-parsing (see https://github.com/fulcrumgenomics/dagr/pull/197).  The special token for `None` was proposed to be `<None>`.  What do you think?

[2016-09-08 01:27] nh13 commented on #103
Consider: https://github.com/tim-group/iterata/

[2016-09-08 01:28] nh13 commented on #87
@smithcg02 closing this, please open a new issue if you encounter any other issues.  Thanks for reporting!

[2016-09-08 01:28] #87 closed

[2016-09-13 18:08] nh13 opened #110 "Count the # of Ns in the read ignored in ErrorRateByReadPosition"
Could also consider the same for the reference.

[2016-09-19 19:52] jaredo opened #113 "error in HapCutToVcf"
Hello! I am getting the following error when trying to run HapCutToVcf. I can share some test data but it is quite large.

[code]

just to check that my inputs are sane:

[code]

[2016-09-19 20:15] nh13 commented on #113
@jaredo thanks for the very clear bug report.  I was able to reproduce the issue, which likely comes from the input to HapCut was a VCF with already phased genotypes, whereas the tool expected the variants not to be phased.  I have added support for the case you want to re-phase variants with HapCut, as the output of HapCut would includes the input genotypes.  Could you see if https://github.com/f

[2016-09-19 21:08] jaredo commented on #113
Thanks for the quick response. Yes, #114 fixes the issue.

[2016-09-19 21:09] nh13 commented on #113
👍 I will close this issue.  I am glad you are using this tool.

[2016-09-19 21:09] #113 closed

[2016-09-20 11:00] jaredo opened #115 "HapCutToVcf: `FORMAT/PR` has no header entry"
Hi again,

Just noticed a format field has no header entry:

[code]

[2016-09-20 13:00] nh13 commented on #115
Is the PR field in the input VCF? I'll try to take a look today?

[2016-09-20 13:29] jaredo commented on #115
I think `PR` is generated by HapCut2 and then I think fgbio tries to propagate it. It wasn't in the provided vcf.

It looks like there is some code in HapCutToVcf to add the relevant header in https://github.com/fulcrumgenomics/fgbio/blob/37767f80f02f08fcd44b12db6cda8cc1f5f7926b/src/main/scala/com/fulcrumgenomics/vcf/HapCutToVcf.scala#L210

[2016-09-20 16:28] nh13 commented on #115
I have a fix that will be merged after tests pass here: https://github.com/fulcrumgenomics/fgbio/pull/116

[2016-09-20 16:49] #115 closed

[2016-10-10 04:21] fleharty opened #120 "Does CallMolecularConsensusReads preserve alignment information"
I was recently experimenting with CallMolecularConsensusReads, and it appears to strip the alignment information out of the resulting bam when I use it.  Is this the desired behavior?

[2016-10-10 05:03] nh13 commented on #120
At present, it is.  @tfenne and myself thought to initially play it safe by removing the alignment information, and thus requiring the consensus reads to be re-aligned as though they were unmapped to begin with.  With some work, it should be possible to emit the correct alignment information, even when the input alignments disagree, are trimmed differently, have different indel representations, or

[2016-10-10 05:03] #120 closed

[2016-10-10 10:27] fleharty commented on #120
@nh13 I see, that makes sense.  Thanks!

[2016-10-20 17:55] chapmanb commented on #91
As a heads up, I created a conda recipe for bioconda (https://bioconda.github.io/) with the latest development version (https://anaconda.org/bioconda/fgbio).

[2016-10-20 18:03] chapmanb opened #122 "Positional dependence during GroupReadsByUmi"
We've been getting started with an AnnotateBamWithUmis, GroupReadsByUmi and CallMolecularConsensusReads pipeline to consolidate UMI tagged input fastqs and a couple of conceptual questions and feature requests came up and the grouping process:

- How are read positions treated for the grouping process? The UMI edit distance and grouping algorithms make sense but we were not sure the conditions und

[2016-10-20 18:44] mjafin commented on #122
On point # 1, in marking duplicates samblaster doesn't just use fragment alignment start/end coordinates but extends these by any soft clipped bases. This increases the chances of catching the true duplicates in one group - wonder if you take this into consideration?

[2016-10-21 09:49] tfenne commented on #122
@chapmanb @mjafin: Thanks for the feedback and questions.  The positions used in identifying source molecules do take into account soft-clipping just like Picard's `MarkDuplicates` and `samblaster`, i.e. the read ends are _unclipped_ before taking the position.

It would be rather difficult given the current implementation to allow for wiggle room around the position though.  The implementation so

[2016-10-30 10:30] chapmanb commented on #122
Tim -- thanks so much for all the details on soft clipping, it sounds like that's exactly what we need. Brilliant. Thanks also for the details on changing out for non-exact position dependence. This does sound like too much work/abstraction for an esoteric use case, so no worries at all. We can group in a separate step after tagging for this experiment instead of excessively generalizing your code

[2016-10-30 10:30] #122 closed

[2016-11-03 18:43] mh1111 opened #123 "GroupReadsByUmi returns empty bam"
Hi folks,

First of all, many thanks for providing this nice package. I just started using fgbio to deal with sequences that use some customized UMIs. I could successfully annotate my bam file with UMI tags. Bam file looks like the following after annotating with AnnotateBamWithUmis:

 NS500607:25:HGWNLBGXY:4:11404:10042:8605	99	chr1	836282	60	74M	=	836455	247	GTGAATCTAAAACCGTTCTTTAAAAAGAGTTTATTTA

[2016-11-03 19:04] nh13 commented on #123
Likely the easiest way to debug this would be to share a small snippet of the input BAM file to `GroupReadsByUmi`.  Would you be able to send us say the first few hundred reads?  For example, using samtools:
[code]
My gmail is "nilshomer".

[2016-11-03 19:23] mh1111 commented on #123
Thank you for your prompt reply Nils. I just emailed you debug.bam.

Cheers,
MH

[2016-11-03 20:42] tfenne commented on #123
@mh1111 Thanks for providing the BAM for debugging.  After staring at things for a few minutes I think I see what's going on.  The tool filters out reads with mapq < 10 _and_ mate mapq < 10.  To do the latter it expects that `MQ` (mate mapping quality) optional tag to be present on reads with mapped mates, and drops reads that don't have it set.

The quickest way for you to get results will be to

[2016-11-03 20:43] tfenne opened #124 "Add logging with counts and reasons for dropped reads in GroupReadsByUmi"
It would be helpful to output, at the end of execution, the counts of reads that were filtered out, along with the reasons, in order to help users understand why reads are being dropped and particularly to diagnose pathalogical situations.

[2016-11-03 21:53] mh1111 commented on #123
@tfenne thank you very much for letting me know about the required MQ tag. I was in the middle of testing what you suggested that our cluster just crashed! :(
I will get back to you as soon as I had a chance to test it.

Again, thank you and @nh13 for your prompt assistance.

Cheers,
MH

[2016-11-04 15:17] mh1111 commented on #123
@tfenne you were exactly right. The issue was not having MQ tags in input BAM. After adding them, GroupReadsByUmi worked just fine! :) Thank you so much for your help.

Just a side note; SetMateInformation needs input BAMs sorted by query name via SortSam class of picard. At first, I sorted input BAM via samtools sort -n and it didn't work. I am guessing samtools and picard use different methods f

[2016-11-04 19:17] mh1111 opened #126 "no coordinate in output of CallMolecularConsensusReads"
Hi folks,

The output of CallMolecularConsensusReads seems incomplete (no coordinate info is included):

C:0	77	*	0	0	*	*	0	0	TGGCTGGGCGCGGTGGCTCACGCCTGTAATCCCAGCATATNNGGAGGCTGAGGCGNGNGNNTCNNGNGNNCANG	LLLLLMMMMMMMMMMMMMMAMMMMMMMMAMMMMMMM==AM##MM2MMMMMMMMMA#M#M##M;##M#M##MM#M	RG:Z:A	MI:Z:0
C:0	141	*	0	0	*	*	0	0	CCACCTCCCGGGTTCACGCCATTCTCTNGCCTCAGCCACCTGAGTAGCTGGGACTACAGGCNNCNGCCACCNCN	LLLLLMMMMMMMM

[2016-11-07 15:57] mh1111 commented on #126
Thanks a lot @nh13. It totally makes sense.

Cheers,
MH

[2016-11-07 15:57] #126 closed

[2016-11-07 16:23] #123 closed

[2016-11-21 16:36] mh1111 opened #130 "likelihood model of CallMolecularConsensusReads"
Hi folks,

We have successfully used AnnotateBamWithUmis, GroupReadsByUmi and CallMolecularConsensusReads pipeline and we are very pleased with the fgbio package so far. Hats off to the developers!
I was wondering if you have additional documentation online beyond what is provided by –help command. For example, in order to properly interpret the consensus reads, we are very interested to learn mor

[2016-11-21 16:55] nh13 commented on #130
Hey @mh1111, take a look at our wiki as we fortunately have a brief write-up: https://github.com/fulcrumgenomics/fgbio/wiki/Calling-Consensus-Reads.  Feedback is always welcome.

[2016-11-21 16:59] mh1111 commented on #130
Thanks a lot @nh13
The write-up is absolutely helpful.

Cheers,
MH

[2016-11-21 16:59] #130 closed

[2016-11-21 21:15] mh1111 opened #131 "java.lang.NullPointerException error - GroupReadsByUmi"
Hi folks,

I am getting the following error when I run GroupReadsByUmi:

###############################
[2016/11/21 15:32:07 | GroupReadsByUmi | Info] Sorted    76,000,000 record.  Elapsed time: 00:14:55s.  Time for last 1,000,000:   11s.  Last read position: chr2:198,257,003
[2016/11/21 15:32:19 | GroupReadsByUmi | Info] Sorted    77,000,000 record.  Elapsed time: 00:15:07s.  Time for last 1,000

[2016-11-21 23:57] mh1111 commented on #131
I found the issue; UMI tags (RX) were missed in the BAM file after sorting and running SetMateInformation! I still do not know why this happened. Anyway, GroupReadsByUmi runs just fine on a BAM file with more than 77M reads!

[2016-11-22 16:50] nh13 commented on #131
@mh1111 I still think it's worth it to have a better error message when the UMI tag is missing.  Also, if you have a case where the `RX` tag disappears when running `SetMateInformation` that would seem not ideal, so I'd like to fix that too.  I am opening this and assigning it to myself.

[2016-11-22 16:54] mh1111 commented on #131
@nh13 that would be very nice to add such an error message. Honestly, I still do know why "RX" tag disappeared after running SetMateInformation. I have to add that it did not happen the second time I ran it.
Thank you very much for fixing this.

Cheers,
MH

[2016-11-22 21:14] nh13 commented on #131
@mh1111 I don't see why in the code `SetMateInformation` would remove it.  A better error message can be found here: https://github.com/fulcrumgenomics/fgbio/pull/132

[2016-11-30 16:31] nh13 opened #134 "AssessPhasing should report the # of blocks per chromosome"
This is useful to ensure that there is at least one block per chromosome.

[2016-12-07 16:09] mh1111 opened #135 "Details on the likelihood model of CallMolecularConsensusReads"
Hi folks,

I have a question about the write-up on the likelihood model of CallMolecularConsensusReads available here: https://github.com/fulcrumgenomics/fgbio/wiki/Calling-Consensus-Reads

Almost all of the parameters used in the model are described in the write-up, but unfortunately I could not find how Err_{post} and Err_{pre} are determined. More precisely, what are the factors affecting these

[2016-12-07 22:26] nh13 commented on #135
@mh1111 examples of the types of processes are described in the glossary.  The types of errors and their frequency are highly dependent on the assay type and steps involved, and so the they really should be tuned (learned) from the data as well as set according to your intuition.  For example, how often does oxidation occur in your assay (pre) or how often does target capture introduce an error (p

[2016-12-08 14:05] lindakohn opened #136 "AnnotateBamWithUmis with two UMIs"
Hi,
How will the AnnotateBamWithUmis tool work with two UMIs? I have reads with one UMI 5' of insert and one 3' of it.

[2016-12-12 16:51] mh1111 commented on #135
Thank you very much for your reply @nh13

MH

[2016-12-12 16:52] #135 closed

[2016-12-21 17:53] #102 closed

[2016-12-23 13:35] tfenne opened #145 "Proposal for improvements to consensus calling"
There are really three parts to this proposal:

1. Simplify the consensus caller (particularly the usage thereof) by removing parameters that we have found are not useful and are overlapped with other parameters

2. Add tags to the consensus reads that are generated so that downstream tools can know a lot more about the properties of each consensus read and it's supporting raw reads

3. Move filte

[2016-12-23 13:36] tfenne commented on #145
@nh13 I'd like to start in on the work described here next week.  Any chance you can take a read through this by early next week and share your thoughts?

[2016-12-23 21:01] nh13 commented on #145
For things that you want to remove, what do you think about deprecating in one commit, tagging a release, then remove in the next commit?  It may not make sense for the constructor args for the CLP classes, but definitely could be useful for the non-CLP classes (ex. `VanillaUmiConsensusCallerOptions`) as well as the methods in the CLP classes.  It's more work, but would allow folks to point to the

[2016-12-24 11:31] tfenne commented on #145
Thanks for the feedback @nh13.  I'm happy to deprecate and tag, I don't think that should be much work; probably cutting the release will be most of it.  I'll get a PR ready and then we can decide if we want to do anything further before tagging and releasing.

I'm happy to go with the number of disagreeing bases in the tag.  I think the two options have equal information (given total and errors o

[2017-01-24 17:57] tfenne opened #160 "SimpleCounter and NumericCounter should implement CanBuildFrom and maybe Map"
It would be nice to have the counter objects implement the CanBuildFrom interfaces so that you can manipulate their contents and get another counter back without a lot of extra effort.

Similarly it might be nice to implement immutable Map too to provide Map-like accessors?

[2017-01-24 17:59] nh13 commented on #160
I agree with this.  I am finding I am using these classes a lot more these days.

[2017-02-28 14:50] tfenne opened #182 "Support for setting common/global options"
There are a number of options that are common to many, but not all, tools in `fgbio` that it would be nice to be able to have standard names for.  For example things that control some aspects of BAM and VCF writing like whether or not to create indices, what compression level to use, whether or not to enable async-io.

Perhaps we could convert `fgbio` to use the same `sub-command` model as `dagr`

[2017-02-28 14:50] tfenne commented on #182
This will, of course, complicate generation of usages and param documentation though!

[2017-02-28 19:20] nh13 commented on #182
You don't want to use `java -Dasync=true`? 👍

[2017-03-07 19:43] ssaif opened #188 "Soft Clipped Bases"
Hello,

I was wondering if soft clipped bases, in Illumina HiSeq4000 data, are removed before consensus building? We have noticed a lot more longer insertions in our analyses when use all reads for a given UMI but don''t not in consensus build from 3 or more reads of a given UMI.

Thanks,
Sakina

[2017-03-16 13:19] tfenne opened #192 "GroupReadsByUmi, CallMolecularConsensusReads and CallDuplexConsensusReads should emit @PG tags"
It would be really nice if the tools in the consensus chain could all emit @PG tags in the header.  Even if they're not stamped on the records, it would be great to capture the command lines used in grouping, calling and filtering.

[2017-03-16 17:50] tfenne opened #193 "In FilterConsensusReads consider end-trimming reads of Ns before applying max-n-fraction test"
It would be interesting to try this.  The thought being that if quality does tail off at the end of reads we may end up with more errors or masked bases at the end of the read.  We could, during filtering, apply some kind of end-trimming to reads after masking and prior to the "too many Ns" test.  The trimming could do any of:
- Remove all trailing Ns in the read
- Remove bases until we've gone X

[2017-03-16 17:54] tfenne opened #194 "Quality trim source reads before generating consensus reads"
In VanillaUmiConsensusCaller we have a method `consensusReadLength` which calculates the output read length based on the the longest length at which we still have `min-reads` available.

I think that probably we should quality trim the source reads prior to invoking this method.  We could simply trim off bases below `min-input-base-quality` at the ends of the reads without doing any harm.  We coul

[2017-03-16 17:56] tfenne opened #195 "FilterConsensusReads should spot unmapped BAMs and not do it's second sort!"
`FilterConsensusReads` works on unmapped BAMs, but does an unnecessary second sort into coordinate order(!) in order to recalculate tags that don't exist.  I think we could check and if we don't see any mapped reads at all, output the file in queryname order without doing the whole second sort.

[2017-04-04 11:55] madhubioinfo opened #201 "segmentation fault error during haplotype calling"
I am trying to identify the haplotypes and its alleles and my command line is posted below when am running this am getting following error , help me in fixing this error
calling MAXCUT based haplotype assembly algorithm
./command.sh: line 11: 10635 Segmentation fault

/share/apps/hapcut/extractHAIRS --VCF filtered_variants.vcf --bam aln_sorted.bam --maxIS 600 --ref 2017_V2_ND886_assembly.fa --inde

[2017-04-10 16:38] nh13 opened #207 "CorrectUmis should output metrics per end metrics for read pairs along with the template metrics"
I find this personally very useful, so I'll assign this to myself.

[2017-04-10 16:57] tfenne opened #208 "CorrectUmis should store the old/uncorrected UMI in a tag once the spec says which one"
Requires the spec to be a bit more settled.  See:
* https://github.com/samtools/hts-specs/issues/109
* https://github.com/samtools/hts-specs/pull/119
* https://github.com/samtools/hts-specs/pull/200

[2017-04-10 18:06] nh13 commented on #208
# Those are some issues
![](http://www.reactiongifs.com/r/mog1.gif)

[2017-04-11 15:40] tfenne opened #209 "Metric.write and Metric.read don't agree on how to deal with Boolean values"
The default mechanism for writing out values in Metric.write causes `Boolean` values to be emitted as either `Y` or `N`.  However, the code that reads the values back only appears to recognize `true` as a value value for Boolean.True.  So upon roundtrip all boolean values become `false`.

[2017-04-11 15:45] nh13 commented on #209
I think this is because `Metric` uses `htsjdk.samtools.util.FormatUtil.format(boolean value)` but does not use `parseBoolean`.

[2017-04-11 15:46] tfenne commented on #209
Agreed. We should probably just modify formatValues to not use FormatUtil for booleans.

[2017-04-21 12:41] tfenne opened #213 "GroupReadsByUmi should handle no-calls in UMIs better"
As it stands the way GroupReadsByUmi checks whether UMIs are equivalent is just by counting the number of bases that are not identical (after upper-casing).  This is problematic for a few corner cases:

1. Comparing NNN to NNN should probably not yield a match!
2. Comparing ACG to ACN - what should this do?

My first instinct is that we should do two things:

1. Throw out all reads whose UMIs cont

[2017-04-25 15:45] fleharty opened #216 "FilterConsensusReads appears to have been removed"
I believe there was a tool called FilterConsensusReads.  Is this tool still available?  Is it considered necessary when dealing with consensus reads?

[2017-04-25 15:57] tfenne commented on #216
Hi @fleharty - yes that tool is still alive and healthy.  You can find it here:
https://github.com/fulcrumgenomics/fgbio/blob/master/src/main/scala/com/fulcrumgenomics/umi/FilterConsensusReads.scala

We think it's a fairly essential part of our toolkit for a number of reasons.  I'll try to explain, apologies for any repetition!  Our basic consensus process is:

`map -> group -> call -> remap -> fi

[2017-04-25 19:25] fleharty commented on #216
@tfenne Thank you very much.  This was really quite helpful to me!

[2017-05-01 22:45] #216 closed

[2017-05-01 22:47] fleharty opened #221 "Can CallMolecularConsensusReads use a different tmp directory?"
Sometimes when I run CallMolecularConsensusReads, I run out of disk space in the /tmp directory that I have.

Is it possible using something like the --tmp-dir argument to change the directory that it write the sortingcollection to?

[2017-05-02 20:49] tfenne commented on #221
Hi Mark.  Right now fgbio doesn't have a toolkit specific way to do this.  We are exploring a better way to add some global options that won't interfere directly with tool options.

In the meantime, the code uses whatever temp directory Java says it the default.  This can be changed using a JVM system property:
`java -Djava.io.tmpdir=/scratch -jar fgbio.jar .....`

[2017-05-02 21:23] fleharty commented on #221
@tfenne Thanks again @tfenne!

[2017-05-02 21:23] #221 closed

[2017-05-04 23:45] pjedge opened #222 "HapCUT2 format has changed slightly"
Sorry for the change in format, but it this change will really improve interpretability of HapCUT2 output.

The value in HapCUT2 output corresponding to the 'SE' tag is now represented by a floating point phred-scaled quality score (closer to 0 means switch is likely, closer to 100 means switch is unlikely).
Similarly, the value corresponding to 'ME' is represented by a phred-scaled quality score

[2017-05-05 00:27] nh13 commented on #222
@pjedge thanks for keeping us in the loop on this, and I'll take a look at updating it.

[2017-05-05 04:14] nh13 commented on #222
@pjedge do you have some example output you could send me.  I wouldn't mind having a test case or two from a real example dataset.

[2017-05-05 09:39] chapmanb opened #223 "Improving speed of UMI consensus generation: GroupReadsByUmi and CallMolecularConsensusReads"
Tim and Nils;
Thanks for all the work on the UMI consensus calling scripts. We're using this
in bcbio with good success and are at the point where we're trying to speed up
this part of the pipelines. We looked at some example cases and for a 7.2Gb
input BAM the initial alignment with bwa takes 3 hours, UMI consensus generation
is 3 hours and secondary alignment is a 1/2 hour:
[code]
Ideally we'd l

[2017-05-05 10:28] tfenne commented on #223
Hey Brad - I'm glad you're finding the tools useful.  We're definitely interested in speeding things up, and would love any help you're able to give.

I think the timings you're seeing are in line with what I'd expect given the inputs, calling with a min depth of 1, and inputs where there are a lot of families of sizes 1-2.  Most of our current work is focused on smaller panels at considerably hig

[2017-05-05 10:34] tfenne commented on #223
I should also mention, that if you are not using the detailed per-base tags that are generated by the consensus caller, e.g. to filter reads/bases downstream, then turning off that option (`--output-per-base-tags=false`) will reduce the size of the output significantly and thus speed things up a bit.

[2017-05-05 11:06] tfenne commented on #223
I just tried what I suggested above on a deep dataset that I have.  Keep in mind though that this dataset goes from ~35m raw reads to only 1.8m consensus reads, so that's quite different than how I think you're using the tools.  I would expect you to see similar results to me on `GroupReadsByUmi`, but potentially much bigger improvements in `CallMolecularConsensusReads`.

Turning on async io and d

[2017-05-05 11:36] mjafin commented on #223
Nice improvement, thanks for looking into this so promptly. If you think that parallelisation could help we might be able to tap into the required resource (vardictjava parallelisation folks)

[2017-05-06 09:52] chapmanb commented on #223
Tim;
Thank you so much for all the great suggestions. By implementing these IO and sorting changes, it now runs in ~2/3 the time of previously -- a fully piped run to generate gzipped fastq, equivalent to the 3 hour runtime above, now finishes in `129m18.575s`. I also tried without the final bamtofastq step and just sending the output to `/dev/null` and the timing is similar (`128m20.045s`) so we

[2017-05-06 10:24] tfenne commented on #223
That's great @chapmanb!  Two thoughts:

1. @nh13 has parallelized a tool quite similar to our consensus caller recently and might be able to do that here, or show the way if someone else wants to try
2. I spent some time yesterday looking at ways to improve the sorting time in `GroupReadsByUmi` and made some interesting findings.  To my surprise more time was spent reading in the BAM than was spen

[2017-05-10 19:17] tfenne commented on #193
Done!

[2017-05-10 19:17] #193 closed

[2017-05-10 19:19] tfenne commented on #188
Hi @ssaif - sorry for not seeing this sooner.  Is this still something you're having an issue with?  There have been multiple updates to the consensus callers lately, which may relate to this.

In short the callers don't remove soft-clipped bases since we don't know in advance if they are clipped for quality, for being adapter, or perhaps because there is a real indel near the end of the reads.

W

[2017-05-10 19:19] tfenne commented on #182
This just made it onto master and will be in 0.2.0.

[2017-05-10 19:19] #182 closed

[2017-05-10 19:20] tfenne commented on #160
Closing for now as a) we haven't done it and b) that code is now in commons.

[2017-05-10 19:20] #160 closed

[2017-05-10 19:22] tfenne commented on #136
Hi @lindakohn - my apologies for not responding to your issue sooner.  `AnnotateBamWithUmis` is probably not the right tool for the job if you have inline UMIs (i.e. they show up in the template reads).  We have two other tools that could help you though.  If the reads are already in BAM format you could use `ExtractUmisFromBam` to extact the UMI bases into appropriate tags.  If you have fastq you

[2017-05-10 19:22] #136 closed

[2017-05-10 19:24] #131 closed

[2017-05-10 19:25] tfenne commented on #145
This is largely done bar the removal of deprecated things which will happen later.

[2017-05-10 19:25] #145 closed

[2017-05-10 19:28] tfenne commented on #64
This appears to be working now.

[2017-05-10 19:28] #64 closed

[2017-05-10 19:28] #90 closed

[2017-05-11 00:18] pjedge commented on #222
Hey Nils. Sorry for the delay. Sent you 3 example files to your gmail.

[2017-05-16 17:04] nh13 opened #232 "A tool that can downsample a BAM many times"
I'd like a tool that reads an input BAM to downsample only _once_, and then produces `N` downsampled BAMs, each corresponding to a different downsampling proportion.  I also wonder if the index could be used (when present) so that we can specify the # of reads, not the proportion.

[2017-05-16 17:38] tfenne commented on #232
The only issue with using the index is that it tracks `records`, whereas you might want to base your proportion of of reads or templates and ignore secondary and supplementary alignments.

[2017-05-19 16:12] nh13 opened #234 "Have github hashes in the snapshot release version."

[2017-05-19 23:54] nh13 commented on #222
@pjedge can you take a look and potentially try the tool on your data?

[2017-05-20 03:42] nh13 commented on #234
If this (https://github.com/fulcrumgenomics/commons/pull/10) works in commons, it should work here.

[2017-05-24 14:14] mletexier opened #237 "Fatal ERROR in AnnotateBamWithUmis"
**I ve got a fatal error when I launch the following command line:**
java -Xmx4g -jar fgbio-0.2.0-SNAPSHOT.jar AnnotateBamWithUmis -i sorted.bam -f UMI_S6_L002_R2_001.fastq.gz -o Test.bam

**The UMI_S6_L002_R2_001.fastq.gz file contain the UMI barcode:**
@K00103:235:HJ5LLBBXX:2:1101:1529:1543 2:N:0:ATGCCTAA
ACCAGTCTGA
+
AA<FFFJFFJ
@K00103:235:HJ5LLBBXX:2:1101:2788:1543 2:N:0:ATGCCTAA
GCGATTGGTA
+

[2017-05-24 14:25] tfenne commented on #237
@mletexier The last message printed before the fatal error appears to indicate that it found no matches between the read names in your BAM file and the read names in your fastq file:

[code]

The most likely causes would be either mixing up which fastq went with which BAM, or something transforming the names in the BAM file.  Could you try the following please:

1) Extract the name of the first re

[2017-05-24 14:39] mletexier commented on #237
Thank you so much for your help and answer

My bam file was obtained with Illumina software (CASAVA1.8.2)

[sbsuser@master2 Project_OPVA-SureSelectXTHS-pool1]$ samtools view
sorted.bam |more
K00103_235:2:2226:8318:19038    163     chr1    14856   82      75M     =
    14931   150
GGTTGGTGGGAAACCCTGGTTCCCCCAGCCCCCGGAGACTTAAATACAGGAGGAAAAAGGCAGGACAGAATTACG
    AAFF
FJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ

[2017-05-24 15:04] nh13 commented on #237
You could strip out the trailing ':N:0:ATGCCTAA' or equivalent from each read name in the FASTQ.

[2017-05-24 20:32] nh13 opened #239 "FgBioMain is not easily extended"
It has both `FgBioCommonArgs` and `FgBioTool` hard-wired in the `makeItSo` method.

[2017-05-26 23:24] nh13 opened #240 "Sorter does not need to spill to disk..."
if we have all the records in memory!

[2017-05-27 03:26] tfenne commented on #240
It doesn't, but it reduces complexity significantly by doing so _and_ ensures that consecutive sorts can't over-consume on memory.  E.g. imagine sorting with max 1m in memory, to queryname to fix mate information, then back into coordinate.  If you had 999k records, you'd end up with them all in memory twice potentially.

[2017-05-27 03:53] nh13 commented on #240
It's max in memory for this sorter. Not all sorters. It wouldn't be too complex to return an iterative over the records in memory.  If it becomes a big problem, I'll probably implement it. Thanks for the background.

[2017-05-27 03:53] #240 closed

[2017-05-27 13:38] tfenne commented on #240
I understand.  My point is that the current implementation has very predictable semantics:

1. Large amount of memory are only used during the accumulation/sorting phase
2. Iteration is non-destructive (i.e. you can iterate > 1 times if you want)

It's largely impossible to do that unless you write the records to disk, even if you never hit max memory.  So we'd either have to add the complication

[2017-06-06 04:24] nh13 opened #243 "Does CallDuplexConsensusReads support outputting consensus reads from one strand only?"
I think not: https://github.com/fulcrumgenomics/fgbio/blob/master/src/main/scala/com/fulcrumgenomics/umi/DuplexConsensusCaller.scala#L144-L146

@tfenne what do you think?  If not, should this be explicitly documented somewhere?

[2017-06-06 10:15] tfenne commented on #243
Currently it does not.  It's documented in the usage here:
https://github.com/fulcrumgenomics/fgbio/blob/master/src/main/scala/com/fulcrumgenomics/umi/CallDuplexConsensusReads.scala#L47

Wouldn't be a huge deal to change, but is/was a nice simplifying assumption to begin with.

[2017-06-06 16:38] nh13 opened #244 "SamBuilder.addPair should support setting attributes on each end individually."
Currently supports setting attributes on both ends using a single map.

[2017-06-08 19:57] #222 closed

[2017-06-10 21:22] abolia opened #246 "Error while running CallDuplexConsensusReads"
Hi,

I am getting this error while running "CallDuplexConsensusReads":

"Exception in thread "main" java.lang.IllegalArgumentException: requirement failed: Not all AB-R1s and BA-R2s were on the same strand for molecule with id:260/A"

I tried looking around for this error but couldn't find anything useful. Can you please help me understand what's this error and how can I fix this issue.

FYI: The

[2017-06-10 22:59] nh13 commented on #246
The error is complaining that it expected that the following reads should be on the same strand:
  - all reads that are the first end of a pair and have molecular identifier "260/A"
  - all reads that are the second end of a pair and have molecular identifier "260/B"

Can you post the reads that have molecule id "260"?  Something like this should work: `samtools view ${name}_grouped.bam | grep "MI

[2017-06-11 00:31] abolia commented on #246
Thanks for the quick reply. Here are the reads that have id "260"

D00783:175:H7JGYBCXY:1:2211:0:7400483	99	1	2713207	60	53M79S	=	2713207	53	GATCATTAAAGTGGAAGGCCCCCTCCCTCCTGGAGCCCCCTTGCTGTGGGCATGAGAGAGATCGGAAGAGCACACGTCTGAACTCCAGTCACCGTATCTCATCTCGTATGCCGTCTTCTGCTTGAAAAAAAA	GGGGGGGGGGGGGGGGGGGIIIGGGGGGIGGIGIIIIGIIIIIIIIGGIGGAAGGGIIIIIGGIIGGGIGAGIGIIGIGIAGAGIGGGGGAAGGGIGIGGIGGGGGGIAGGIIGGGGAGGIGAGGG

[2017-06-12 19:52] tfenne commented on #246
Thanks for the reads @abolia.  I think I see the problem.  I think there is a bug upstream in `GroupReadsByUmi`, and that it is doing the wrong thing when the A and B UMIs on a molecule are the same or very similar.  In your case it looks like the UMIs are `CTC-CTC`, or maybe `CTG-CTC`, so it's incorrectly assigning the reads to A vs. B strands, and confusing the caller.  I'll look into a fix shor

[2017-06-14 15:22] abolia commented on #246
@tfenne Thank you so much for helping out with this. I will look forward to the fix.

Thanks,
Ashini

[2017-06-14 20:51] tfenne commented on #246
@abolia I just merged the fix to master.  It's from PR #247 if you want to see what changed.

[2017-06-15 16:22] abolia commented on #246
@tfenne After the fix, it ran successfully. I was able to generate a consensus bam file. Thank you so much for your help.

[2017-06-15 19:36] tfenne commented on #246
You're welcome - glad it solved your problem.

[2017-06-15 19:36] #246 closed

[2017-06-15 20:27] abolia opened #250 "Incorrect Quality Score assignment by CallDuplexConsensusReads"
Hi,

I found a bug with "CallDuplexConsensusReads". It is assigning 90 quality score to each base in the entire bam. I can see the correct quality score in the bam generated from "GroupReadsByUmi", however when the reads are collapsed, somehow the quality scores get altered.

For example, here is one line from my bam:
Sample_Hiseq:100002 77 * 0 0 * * 0 0 CTCTTGTTACTTACAAGCTGAGCCATGAGGACCAGGTCACAGG

[2017-06-15 20:51] abolia commented on #250
Okay so I looked through my bam files and found that the "CallDuplexConsensusReads" is actually assigning 90 quality score to each base in the entire bam. I can see the correct quality score in the bam generated from "GroupReadsByUmi", however when the reads are collapsed based, somehow the quality scores get altered.

For example, here is one line from my bam:
Sample_Hiseq:100002      77      *

[2017-06-15 20:55] nh13 commented on #250
I believe the[ maximum PHRED ](https://github.com/fulcrumgenomics/fgbio/blob/master/src/main/scala/com/fulcrumgenomics/util/NumericTypes.scala#L58)score we produce is `93`, which should be allowed, though not all tools can handle even scores above 40-50.  I believe that htsjdk (see [SAMUtils.MAX_PHRED_SCORE](https://github.com/samtools/htsjdk/blob/master/src/main/java/htsjdk/samtools/SAMUtils.java

[2017-06-15 20:58] nh13 commented on #250
And for that particular read, you have very good depth on the A and B strand respectively (33 and 24), so the final quality of the call will be very good.  See these two pages on our wiki about how we call duplex consensus reads and the math behind it:

- https://github.com/fulcrumgenomics/fgbio/wiki/Calling-Duplex-Consensus-Reads
- https://github.com/fulcrumgenomics/fgbio/wiki/Calling-Consensus-R

[2017-06-15 21:05] abolia commented on #250
Thanks for the quick reply.
I randomly picked few 1000 reads from my bam and they all had 93 quality score so that kinda baffled me, but I will look into the documentation you mentioned.

Yes, I tried "fix_misencoded_quality_scores" option but it throws another error: "Bad input: while fixing mis-encoded base qualities we encountered a read that was correctly encoded; we cannot handle such a mixtu

[2017-06-15 21:09] nh13 commented on #250
@abolia could you try turning `--baq OFF`?  Unfortunately it looks like it is a problem with GATK and not our software, so I would head over to that forum and link an issue to here.

As for _why_ there is a lot of `93` base qualities, it's likely because you have very high depth of coverage across both strands of your duplex molecule (this is really good), and therefore the consensus quality is ve

[2017-06-15 21:10] nh13 commented on #250
@abolia can you tell us _which_ GATK you are using as well?

[2017-06-15 21:18] abolia commented on #250
I am using gatk version 3.6. I turned --baq off but got the same error.
Command line for gatk:
java -Xmx20g -jar $gatk -nct $threads \
-T BaseRecalibrator -R $indexFasta \
--allow_potentially_misencoded_quality_scores \
-knownSites $dbsnp \
--baq OFF \
-I ${name}_sorted.bam -o $name.recalibration.grp  &> Logs/6_recal.txt

I looked at the GATK forum for similar issues but they ask to check the enco

[2017-06-15 21:36] nh13 commented on #250
I think you can skip base recalibration anyhow.  The other option is to write a quick script to cap the base qualities to a fixed value and retry.  Sorry we cannot be of more help.  If you link your question in the GATK forum here, I'd be happy to chime in.

[2017-06-15 21:36] #250 closed

[2017-06-15 21:39] nh13 commented on #250
Also, here's the relevant line in the GATK codebase: https://github.com/broadgsa/gatk-protected/blob/master/public/gatk-utils/src/main/java/org/broadinstitute/gatk/utils/QualityUtils.java#L51

It looks like 60 is the maximum.  I would rather see GATK cap the quality rather than throw an error, which is not so user friendly.

[2017-06-15 21:45] nh13 commented on #250
Asked here: http://gatkforums.broadinstitute.org/gatk/discussion/9791/request-to-only-warn-when-a-base-quality-greater-than-60-is-encountered/p1?new=1

[2017-06-15 21:48] abolia commented on #250
Thanks @nh13 for your help on this. I can write a script to cap the base qualities. But, I have one more question, "CallDuplexConsensusReads" only assigns quality scores to collapsed reads. If there are any single reads (that cannot be grouped), does "CallDuplexConsensusReads" assigns quality scores to them as well or does it keep the quality scores from bwa. If thats true and we have singletons,

[2017-06-15 21:50] nh13 commented on #250
At the moment, `CallDuplexConsensusReads` will not output singletons, and requires at least one read from both strands of a duplex.  Regardless, if you run BAM through Picard's `ValidateSamFile` you should get no errors.   The error for mixed encodings is 100% the issue with GATK not accepting quality values 60 or greater.

[2017-06-15 21:57] abolia commented on #250
@nh13 When you say "at least one read from both strands of a duplex", are you talking about forward and reverse reads in a read pair? I am sorry I don't understand your definition of duplex here.

[2017-06-15 22:18] nh13 commented on #250
At least one from the "A" strand and one from the "B" strand, not the first read of a pair and second read of a pair.  It wont generate a consensus reads from only reads from one strand of the double-stranded (duplex) source molecule.

[2017-06-16 14:07] abolia commented on #250
Got it. That makes sense. Thank you.

[2017-06-18 23:11] yyren commented on #237
How can I prepare for the fastq file with the UMIs for the illumina pair-end sequencing data? Thank you very much in advance

[2017-06-19 09:28] yyren opened #252 "How to build a fastq file with UMI sequences for AnnotateBamWithUmis ‘-f’ argument"
I got a pair-end sequencing data by using The illumina Accel-NGS 2S Hyb DNA Library Kit, which P5 adapter is incorporated with a 9 base random N sequence as an UMI at the [i5] (index 2 position) like:
P5 adaptor:
AATGATACGGCGACCACCGAGATCTACACNNNNNNNNNACACTCTTTCCCTACACGACG
CTCTTCCGATCT

The forward and reverse strand both have but with different UMI sequences, how can I build a fastq file with the

[2017-06-19 16:29] nh13 commented on #252
@yyren there's a relatively new tool in the `master` branch that may be more suited to your needs, called  [`FastqToBam`](https://github.com/fulcrumgenomics/fgbio/blob/master/src/main/scala/com/fulcrumgenomics/fastq/FastqToBam.scala#L42-L98).  The command line would look something like this:

[code]

assuming that:
1. read one and two are all template bases
2. the fastqs are per-sample (i.e. the i

[2017-06-20 01:55] yyren commented on #252
@nh13 Thank you so much for your help and quickly answer.
I think the read structure is the same as you mentioned like this :
P5(UMI-1)+insert sequence+P7(index1)
P7(index1)+insert sequence +P5(UMI-2)

and one of read in my pair-end data looks like :
R1:
@NB501899:18:HHJCLAFXX:1:11101:26341:1028 1:N:0:CGATGT
ATTGCAAACTAGAATAACNAGTTTAGAGAAATAAATGACCTNATGGAGCTGAAAAACACAGCATGAGAACTTCAT
+
<AAAAEEAEEAE

[2017-06-20 11:47] mletexier commented on #237
Dear Yyren
I ve obliged to do a post traitment on the fastq files (Only UMI fastq
file) as following:

RUN=170519_K00103_0243_AHJ5HKBBXX
FC_ID=HJ5HKBBXX
RUN_ID=243
UNALIGNED_UMI=Unaligned_UMI

zcat
/illumina/runs/${RUN}/${UNALIGNED_UMI}/${project}/${sample}/*_R2_001.fastq.gz|
sed 's/K00103:${RUN_ID}:${FC_ID}/K00103_${RUN_ID}/g' | gzip >
/illumina/runs/${RUN}/${UNALIGNED_UMI}/${project}/${sample}/$

[2017-06-20 17:28] nh13 commented on #237
@yyren I am closing this as @mletexier has a solution for your simple editing of your FASTQs.

[2017-06-20 17:28] #237 closed

[2017-06-20 21:38] nh13 commented on #252
For `FastqToBam`, did you provide the FASTQ for index two, which I called `i2.fq`?

[2017-06-21 15:56] chapmanb opened #256 "Memory issues with GroupReadsByUmi and consensus calling in latest devel"
Tim and Nils;
Thanks for all the recent work supporting duplex reads. I've been working on adding support for this into bcbio and updated to the latest development version to get the duplex fixes in place since 1.4. Everything runs cleanly on smaller test samples but on reasonably sized test sample (5Gb inputs) I'm hitting memory problems even when allocating lots of Java memory. I see this both w

[2017-06-21 17:01] tfenne commented on #256
Hey @chapmanb - I think you're intuition is right that there's something strange going on here.  A few thoughts:

1. The latest (master) version of GroupReadsByUmi has two places that use significant memory.  The first is sorting, but that is limited to 1m records in RAM at the same time, so for BAM that have records of similar size, and > 1m reads, they should all work about the same.  The second

[2017-06-21 19:24] chapmanb commented on #256
Tim;
Thanks much for thoughts and directions, this really helped focus on what might be going on. The fgbio wrapper does correctly pass through options, and in the problem of simplifying I realized the issues is due to the length of the temporary directory specification. It is totally bizarre but if you have a tempdir setting like:
[code]
It'll run fine (well, until it discovers the temporary dire

[2017-06-21 20:05] tfenne commented on #256
I can reproduce from here.  I think I see what the problem is.  Should have a fix shortly.

[2017-06-21 20:25] tfenne commented on #256
Ok, I have a fix, but @nh13 is offline and I'd like him to review before I merge.  The short version is it's nothing to do with the BAM, and is a bug in some unrelated code.  We, as part of 0.2.0, have transitioned to writing all our usage and argument documentation in MarkDown, and now have a system to parse and emit website documentation, and also to parse and emit the plain text that comes out

[2017-06-21 20:38] nh13 commented on #256
@chapmanb @tfenne I merged it into sopt, so depending on how long it takes to get to our snapshots repo, it should be as simple as rebuilding fgbio (run `sbt update && sbt assembly`).

[2017-06-22 03:30] yyren commented on #252
@nh13 Thank you very much for your help
I still feel confused about the meaning of `the FASTQ for index two, which I called i2.fq`. when I searched on the google, it is the output file from the sequencer like Miseq, I am not sure whether it is the same as you mentioned.  Is it convenience to you post an example of the i2.fq? Thank you very much

[2017-06-22 06:28] nh13 commented on #252
@yyren I believe you will need to run [`bcl2fastq`](https://support.illumina.com/content/dam/illumina-support/documents/documentation/software_documentation/bcl2fastq/bcl2fastq2_guide_15051736_v2.pdf) with the `--create-fastq-for-indexreads` option to get FASTQs for the index reads.  In this case, you should get four FASTQs assuming paired end reads and dual indexing:
1. `r1`: reads from the first

[2017-06-22 06:28] #252 closed

[2017-06-22 10:50] chapmanb commented on #256
Tim and Nils;
Thanks so much for looking at this and the quick fix. Do you know if the sopt snapshot has gotten updated (or is there a way I can monitor)? I tried re-building everything this morning but am still running into the same memory usage issues with long tmpdir specifications. I'm not sure if I'm missing it, there is still an issue, or if I'm just not patient enough. Thanks again.

[2017-06-22 10:57] tfenne commented on #256
It usually doesn't take very long to propagate.  The snapshots for sopt are [here](https://oss.sonatype.org/content/repositories/snapshots/com/fulcrumgenomics/sopt_2.12/0.2.0-SNAPSHOT/) and would indicate that it updated within an hour or two of Nils' comment.

Automatic dependency management and snapshots seem to run into trouble from time to time and it's a PITA to figure out.  Probably the easi

[2017-06-22 14:21] chapmanb commented on #256
Tim -- thanks for the details, either I can't seem to get it to update or it's not fixing the issue but wasn't able to figure out a build with this. I could work around it by using the new global options instead of java specific ones so switched over to doing that to get over the immediate problem. I'm happy to check again once the 0.2.0 releases are available, and will update the conda packages t

[2017-06-22 18:09] chapmanb opened #257 "AB-R1s, BA-R2s on same strand check in CallDuplexConsensusReads"
Tim and Nils;
After your help working through the memory issues I'm running into an apparent input data related issue on trying to test this for duplex input reads. After running through GroupReadsByUmi with `-s paired`, I'm getting a complaint about the orientation of the reads using the latest development version:
[code]
I'm not totally sure what this indicates about our data/prep process and if

[2017-06-22 21:15] nh13 commented on #256
@chapmanb we have released a [new version o fgbio](https://github.com/fulcrumgenomics/fgbio/releases/tag/0.2.0).  Would you mind trying the JAR attached to the release?

[2017-06-22 22:18] nh13 commented on #257
@chapmanb can you try with the latest (released) fgbio.  I am wondering if it is the same issue as here: https://github.com/fulcrumgenomics/fgbio/issues/246#issuecomment-307903215, namely a bug that `GroupReadsByUmi` incorrectly assigned the reads when the UMIs are similar, which happens much more often with short (ex. 3bp) UMIs.

[2017-06-23 12:23] chapmanb commented on #256
Nils and Tim -- thanks so much. I updated and tested this and the 0.2.0 release does resolve the issue. Thanks again for the help fixing this.

[2017-06-23 12:23] #256 closed

[2017-06-25 06:44] nh13 opened #258 "BuildToolDocs documents private constructor variables."

[2017-06-26 18:37] chapmanb commented on #257
Nils;
Thanks for following up on this. The 0.2.0 release does resolve most of the issues but I'm still running into cases failing with the same problem. I was able to put together a minimal example that demonstrates the issue:
[code]
Let me know if I can provide anything else to help with debugging. Thanks again for looking at this.

[2017-06-26 18:47] nh13 commented on #257
@chapmanb @tfenne I re-ran this back through `GroupReadsByUmi` and can confirm there's an error.  I am wondering if there is an _actual_ collision between two independent source molecules having the same UMI.  I am wondering if we should just filter those cases rather than throwing an exception.

[2017-06-26 18:51] nh13 commented on #257
@chapmanb I created a new PR (https://github.com/fulcrumgenomics/fgbio/pull/259) that you could try out.  It will not generate consensus reads in this case, but should continue on.  Can you verify it works in your hands (it does in mine).

[2017-06-26 22:42] nh13 opened #260 "Have GroupReadsByUmi not assign MIDs if AB-R1s are not on the same strand ads BA-R2s"
Relevant PR: https://github.com/fulcrumgenomics/fgbio/pull/259

[2017-06-26 22:57] #257 closed

[2017-06-26 23:01] nh13 commented on #257
@chapmanb I merged the PR which changes `CallDuplexConsensusReads` to not output consensus reads in the case that AB-R1s and BA-R2s are not and the strand (and similarly for AB-R2s and BA-R2s).  @tfenne mentioned that we could also update `GroupReadsByUmi` to not mark reads in the same case, but I will leave that for another day (https://github.com/fulcrumgenomics/fgbio/issues/260).  You'll see a

[2017-06-27 09:26] chapmanb commented on #257
Nils -- thanks so much. This fix works perfectly for both my test case and the larger project that I was testing this on. I'll bump the bioconda fgbio package and start using this in bcbio. I appreciate all the help getting it fixed.

[2017-06-29 14:48] abolia opened #261 "Reads counts from GroupbyUMI and CallDuplexConsensusReads"
Hi,

I am finding some weird read counts with GroupbyUMI and CallDuplexConsensusReads. There is a drastic difference between the number of reads obtained after GroupbyUMI and CallDuplexConsensusReads. For example, some numbers from a fresh frozen 10ng NA12878 cell line is:

Reads before GroupbyUMI: 54045503
Reads after GroupbyUMI: 48877740
Reads after CallDuplexConsensusReads: 511372

As you can s

[2017-06-29 18:05] nh13 commented on #261
@abolia `GroupReadsByUmi` simply adds the `MI` tag, so there really shouldn't be a large drop (besides a few filters like requiring both ends mapped, no secondary/supplementary, and a few more) after running `GroupReadsByUmi`.  The large "drop" should occur after call consensus reads.

As a heads up, we do offer [bioinformatics support services](www.fulcrumgenomics.com) if you find that you need m

[2017-06-29 18:05] #261 closed

[2017-06-30 19:20] vfunari opened #263 "Strings of different lengths"
Hi Nils,
Hope things are going well... I love the new application its so critical now for integrating the UMI into pipelines, and so happy Brad Chapman has made it seemless in bcbio.

We worked hard on adapting the qiagen and other kits for this application, but we run into a problem that fgbio doesnt deal with UMIs of different length. One of the UMIs is always on the 3' side of the read, so it m

[2017-07-05 15:01] abolia opened #264 "Filtering Reads due to only seeing A or B reads"
Hi,

I am calling Duplex consensus on my data and we are loosing 48-50% of the reads due to only seeing either A or B reads irrespective of DNA extracted from FFPE, FF or cfDNA. I saw in your documentation that "The expectation is that read 1s derived from the A strand will match read 2s derived from the B strand and vice versa". So, in order to assign the strands, does it look for matching sequen

[2017-07-05 16:38] tfenne commented on #264
Hi @abolia the assigning of read pairs to strands is done by `GroupReadsByUmi` based on matching the UMIs alone.  The tool allows for errors within the UMI sequences, controlled by the `--edits` parameter.  The assignment to strand is done by looking for the UMIs in inverse order.  I.e. if it finds reads with the same positions, but with e.g. `AAAA-CCCC` and `CCCC-AAAA` it will interpret that as a

[2017-07-05 17:16] abolia commented on #264
Thanks @tfenne for the explanation. I will play with the --edits parameter to see how it affects the consensus and overall metrics.

Thanks,
Ashini

[2017-07-12 19:41] abolia commented on #264
HI @tfenne, I ran my sample with different values for --edit parameter. Surprisingly I do not see any difference in the read counts when I allow for more errors in the UMI sequences.
I have a 3 bp UMI on each read, so 6bp in total. Therefore, I played with edit distance of 1 to 6.

**Command**:
java -jar $fgbio GroupReadsByUmi \
-i ${name}_mapped.bam \
-o ${name}_grouped.bam \
--strategy=paired --

[2017-08-08 22:07] nh13 opened #267 "Make `SamSource` a bit friendlier and not suck up all my memory."
`SamSource(input).filter { ... }.foreach { ...}` will keep all records in memory, while `SamSource(input).iterator.filter { ... }.foreach { ...}` will behave like an iterator.  This was not obvious until I ran out of memory!

[2017-08-11 17:55] abolia opened #270 "Amplicon collapsing"
Hi,

I wanted to check if fgbio can work on collapsing duplexed reads in amplicon-based NGS? Meaning Is it possible to use the tool to error correct using the duplex reads (R1 & R2) on the same amplicon, but not dedup the entire amplicon set?

Thanks,
Ashini

[2017-08-11 19:04] nh13 commented on #270
@abolia the fgbio tool `GroupReadByUmi` uses both the duplex UMIs _as well as_ the mapping information to identify reads originating from the same source molecule.  So if we have the same duplex UMIs on two read pairs, but they map to different (non-overlapping) amplicons, then there should be two consensus reads.  Are you seeing a different behavior?

[2017-08-11 19:54] abolia commented on #270
@nh13 thanks for the reply. No, we haven't tested it yet. I just wanted to check about it before testing.  don't understand when you say "same duplex UMIs on two read pairs, but they map to different (non-overlapping) amplicons, then there should be two consensus reads".
So, since we are talking about amplicons, the non-duplicates can also have same start and stop as they roginated from same ampli

[2017-08-11 20:42] nh13 commented on #270
@abolia to be precise, we aren't detecting duplicates in the "pcr duplicates" sense, so lets talk about identifying reads from the same source molecule.  I thought you meant across two amplicons, not within an amplicon, my apologies.  If two reads have the same duplex UMI and same start/stop, then they will be treated as coming from the same duplex source molecule.   This is a big issue in general

[2017-08-11 21:13] abolia commented on #270
@nh13 Thanks. Actually, I wasn't really interested in duplicate removal. I understand that its not possible in amplicon sequencing, I just wanted to check if there is any way for error correction in a cluster like by using one of the subsetps used in de-duping and if fgbio tool can do that.

Thanks.
Ashini

[2017-08-11 21:27] nh13 commented on #270
I think the hard part would be ensuring that the cluster of reads all come from the same source molecule. If so, the consensus calling should work. Otherwise true variants may be squashed by reads from a different source molecule.

[2017-08-14 17:43] jasonwalker80 opened #271 "UMI alignment workflow"
I've used the DemuxFastq tool to perform the demux with UMIs in both FASTQ and BAM output format. I then align the output FASTQ (or unaligned BAM converted to FASTQ) with BWA-MEM 0.7.15. I did not expect the UMI info/tag to be retained in the output alignments other than in the read names from the input FASTQ.

Now, I'm unsure what the workflow should be to add the UMI info as a tag to the aligned

[2017-08-14 17:59] nh13 commented on #271
@jasonwalker80 thanks for taking the time to try out `DemuxFastqs`, I can certainly try to help you here.

 You can specify the read structure in `DemuxFastqs` to include the molecular barcode in addition to the sample barcode (ex. `8B8M100T`, gives 8bp of sample barcode, 8bp of molecular barcode, and 100bp of template).  If you output to BAM, the molecular barcode will be stored in the `RX` tag b

[2017-08-15 21:52] jasonwalker80 commented on #271
No need to reopen this, but I did find an issue with the sort order of the `DemuxFastq` and the output of BWA. My command was something like:
[code]
A warning from Picard which triggers errexit when set:
[code]

If errexit is not set it runs but fails at the end with:
[code]

Sorting the DemuxFastq.bam with `java -jar picard.jar SortSam I=DemuxFastq.bam O=QuerynameDemuxFastq.bam SORT_ORDER=queryna

[2017-08-15 22:04] nh13 commented on #271
@jasonwalker80
(1) yes, please file an issue.
(2) my initial take is that it is due to the difference between how `fgbio` and `Picard` sort by `queryname`, with neither being correct or incorrect according to the SAM specification.  In fact, if you sort by `queryname` using `samtools sort`, you'd also get this error.  A few solutions we could consider are:

  1. Add a "picard-queryname" sort order

[2017-08-15 22:23] jasonwalker80 opened #272 "fgbio queryname sort order and Picard compatibility"
I found an issue with the sort order of the `DemuxFastq` and the output of `BWA` going into `MergeBamAlignment`. My example command:
[code]
A warning from Picard which triggers errexit when set:
[code]

If errexit is not set it runs but fails at the end with:
[code]

Sorting the DemuxFastq.bam with `java -jar picard.jar SortSam I=DemuxFastq.bam O=QuerynameDemuxFastq.bam SORT_ORDER=queryname` seems

[2017-08-16 00:13] nh13 commented on #272
Looks like the `queryname` order in `fgbio` is compatible with `picard`, and it was as simple as specifying the output sort order to `DemuxFastqs`, which is now `queryname` by default.  Thanks for reporting!

[2017-08-16 00:13] #272 closed

[2017-08-16 21:31] nh13 opened #274 "SamRecord.apply should thrown an exception if the tag was not found"
@tfenne I _think_ it will do the wrong thing currently.

[code]
if `getAttribute` returns `null`, and `A` is `Int`, then, we have `null.asInstanceOf[Int]`, which in my REPL returns `0`!

[2017-08-16 21:39] tfenne commented on #274
Well that's horrifying.  I would have expected that `null.asInstanceOf[Int]` to either return `null` itself, or fail with an NPE.  WTF is it doing returning the default value for `Int`?

[2017-08-16 21:50] nh13 opened #275 "SamOrder.Coordinate is not stable based on read name"
If two reads have the same coordinate, Picard orders the reads by:
1. read name
2. flags
3. mapq
4. mate coordinate
5. insert size

whereas fgbio orders the reads by the flags only.

There are tests where we rely on reads from the same pair are sequential if they all have the same coordinates.  @tfenne thoughts on changing the sub-sort here?

[2017-08-16 21:56] tfenne commented on #275
@nh13 Can you remind me where we rely on reads from the same template coming together in a coordinate sorted file if they have the same coordinate?  I'm not suggesting we shouldn't do that, but I'm struggling to recall anywhere where we rely on that.

The sort keys in `SamOrder` are kept as light weight as possible so as to incurr as little memory overhead as necessary, since we keep both the key

[2017-08-16 22:31] #274 closed

[2017-08-16 22:36] nh13 commented on #275
I sent a Slack message in which private repo I found the test.  I also find it extremely useful when viewing a BAM to have read pairs be adjacent, especially for "unpaired" (heh) reads (i.e. read pairs where one end is unmapped).  I am happy to punt for now, but it's something to keep in the back of our minds if we see oddities like this.

[2017-08-16 22:36] #275 closed

[2017-08-23 09:38] nicodemus88 opened #277 "GroupReadsByUmi output is empty"
Hi to the developers,

I just recently started using fgbio but I have a problem. After annotating my bam file with UMIs, i tried to group them but my output file is always empty.

Could you please check if there is anything wrong?

My input command for annotation is:
**java -jar /usr/local/bin/fgbio-0.2.0.jar AnnotateBamWithUmis -i htlv_map.bam -o htlv_umi.bam -f ./index2.fastq**

Resulting bam fi

[2017-08-23 16:30] tfenne commented on #277
@nicodemus88 It's a little hard to tell.  GroupReadsByUmi discards reads for various reasons, the most common of which are that the read is not paired, or that the mapping quality is <= 30 (default), or that the read's mate pair is not aligned.  The other requirement (listed in the usage) is that mapped pairs must have the `MQ` tag present, which I don't see in your files.  It's likely that's the

[2017-08-24 00:32] nicodemus88 commented on #277
@tfenne Thanks for your suggestion.
I think the first few reasons are probably not as for the BAM file I am using, I have already filtered it only for reads with mapping quality >= 30 and the reads are mapped proper and paired.
The culprit is most probably the missing MQ tag.
I was able to group the reads by UMI after sorting and setting the mate information.
Thanks again!

However, I have a probl

[2017-08-25 15:12] tfenne commented on #277
Hi @nicodemus88 .  I think I see what's going on here.  The example records you pasted in have MI tags like `MI:Z:5` and `MI:Z:6`.  But if this is duplex sequencing data I would expect to see either `MI:Z:5/A` or `MI:Z:5/B`.  Additionally your UMIs in the `RX` tag look like they are single UMIs.  Is the data you generated duplex sequencing data (i.e. two UMIs per sample, one at each end of the tem

[2017-08-28 08:46] nicodemus88 commented on #277
Hi @tfenne. Thank you very much for your reply.
Ah, I see now.
Well, my data is a single-UMI data. I wanted to get the metrics of the UMIs such as counts per UMI. At first I thought the CollectDuplexSeqMetrics was able to do it, without knowing that it is only for duplex data. I am terribly sorry for my mistake here.
Do you have any suggestion on any way I can extract sequencing metrics for my sin

[2017-09-08 19:25] nh13 commented on #277
@nicodemus88 you could look at the output of `GroupReadsByUmi`, using the `--family-size-histogram` option.  Does that work for you?

[2017-09-14 18:04] nh13 opened #282 "Release version 0.2.1"
Outstanding PRs:
- [ ] https://github.com/fulcrumgenomics/fgbio/pull/281
- [ ] https://github.com/fulcrumgenomics/fgbio/pull/266

[2017-09-24 00:11] dilmiperera opened #283 "Exception in ReviewConsensusVariants"
Hi to the developers,

I'm working with a set of bam files with Duplex UMIs and I've followed the following steps:

1. AnnotateBamWithUmis
2. SortBam  --sort-order=Queryname
3. SetMateInformation
4. GroupReadsByUmi -s 'paired'
5. CallDuplexConsensusReads
6. FilterConsensusReads -M=2 -N=20

And then I tried to run ReviewConsensusVariants
_

_

The 2 input bams are both sorted and indexed and I chec

[2017-09-25 19:09] nh13 commented on #283
@dilmiperera can you post both the sequence dictionary in the VCF (`#contig` lines) and the SAM( `@SQ` lines)?  Yes, the consensus BAM should be mapped, as presumably you had to map it to feed it to the variant caller!

[2017-09-25 22:11] nh13 opened #284 "Automatically generate Dagr Task from Fgbio Tool Constructors"

[2017-10-02 07:50] nicodemus88 commented on #277
Hi @nh13,
Thank you for your response and sorry for the delayed reply.

I tried your suggestion and this is the result I got.

family_size     count   fraction        fraction_gt_or_eq_family_size
1       1493260 0.82354 1
2       261045  0.143967        0.17646
3       49003   0.027025        0.032493
4       8359    0.00461 0.005468
5       1261    0.000695        0.000858
6       215     0.0001

[2017-10-02 10:02] tfenne commented on #277
@nicodemus88: that file is documented here: http://fulcrumgenomics.github.io/fgbio/metrics/latest/#tagfamilysizemetric

[2017-10-03 01:35] nicodemus88 commented on #277
Hi @tfenne,
Thank you for your response.

However, I still don't quite understand the meaning of the metrics.

**Family_size = The family size, or number of templates/read-pairs belonging to the family.**

Does this mean family_size of 1 actually has 1 UMI?

However, this option is not what I wanted.
Are there any options or alternatives in which I can group my reads by UMI, then display a stats o

[2017-10-03 11:29] tfenne commented on #277
The best way to think of family size is the number of read-pairs believed to come from the same source molecule.  E.g. a family size of 1 means one read pair with the same start/stop/UMI, a family size of 2 means two identical read pairs, etc.

If you're wanting to do this based solely on UMI, and not include genomic coordinates I'm not sure there's actually a better solution than a quick `samtool

[2017-10-03 14:31] malnirav commented on #277
Would GroupReadsByUmi work on single end reads?

[2017-10-03 14:37] tfenne commented on #277
As it stands, GroupReadsByUmi only works on paired-end reads, but it would not be a large undertaking to also support single-end reads.

[2017-10-03 15:11] malnirav commented on #277
Thank @tfenne. It would be tremendously helpful if GroupReadsByUmi can support single-end reads in the near future.

[2017-10-03 15:55] nh13 opened #287 "Support single-end reads in GroupReadsByUmi"
@malnirav
See issue: https://github.com/fulcrumgenomics/fgbio/issues/277

[2017-10-03 15:58] nh13 commented on #277
@malnirav [drop us a line](www.fulcrumgenomics.com/contact/) if this is something urgent, as we we frequently add customizations and improvements to `fgbio` for our clients, and would be happy to discuss doing the same for you.  It likely will not be done in the near-term, unless @tfenne or I have a need, as we currently support work on `fgbio` via work for our clients.

I have tracked the issue h

[2017-10-08 20:07] BigTA78 commented on #136
The newer versions of Illumina's bcl2fastq support inline UMI's. You could remove PCR duplicates at the same point as demultiplexing/fastq building

[2017-10-13 19:28] chapmanb opened #294 "StackOverflowError in GroupReadsByUmi in deep regions"
Nils and Tim;
We're running into a StackOverflowError when dealing with deep regions with a large number of reads per UMI. I've put together a reproducible example here with an input BAM and run script:

wget https://s3.amazonaws.com/chapmanb/testcases/fgbio_umi_overflow.tar.gz

The command line we're using is:
[code]
I'd been hoping `--max-reads` would help downsample and avoid the issue but it d

[2017-10-16 17:38] nh13 commented on #294
It looks like the issue is in the `GroupReadsByUmi` tool, not `CallMolecularConsensusReads` where you are using `--max-reads`.  Thanks for the test case, unfortunately we are a bit busy with some client work at the moment, so other than trying with a bit more memory (8GB, 16GB) in `GroupReadsByUmi`, it may be a a few weeks until we can look at it.

[2017-10-17 14:51] nh13 commented on #294
@chapmanb could you reduce the test case to a smaller set of reads (say those that are part of the largest tag family) that causes the exception in the GroupReadsByUmi tool? That would speed up our debug time and we may be able to get a fix in a quicker time frame. Does that work?

[2017-10-17 16:38] chapmanb commented on #294
Nils;
Thanks for following up and apologies about mixing up the `--max-reads` usage here and looking in the wrong place. I dug into this more and it looks like the underlying issue isn't a specific tag but that there are a whole ton of ugly G-heavy tags with single base differences:
[code]
Increasing memory didn't get through it but not allowing edits with `--edits 0` does let us work around the i

[2017-10-17 17:27] tfenne commented on #294
@chapmanb I took a brief look at this too.  I think you're right on the problem.  I added a little debug logging, and there are a bunch of pair-locations where there are a _ton_ of read pairs.  I think the real problem is the pairs at `chr5:157416598-157417071`, of which there are 260,960.  Furthermore, I think there are a lot of UMIs there with errors..

The `adjacency` strategy tries to build a

[2017-10-17 19:13] nh13 commented on #294
thanks @tfenne for taking the time to look out of this (and relieving my guilt for not looking).

[2017-10-20 17:54] chapmanb commented on #294
Tim and Nils -- thanks so much for this. I tested your branch on the original dataset and it works great. It can power through the excessive number of nearly identical UMIs and no longer overflows.

In this case, I think the original sample itself is probably not going to have a lot of useful data, and I'm writing it off as more of a failed sample then anything. However, it's really nice to be abl

[2017-10-29 23:22] dilmiperera opened #297 "ErrorRateByReadPosition.scala line 216"
Hi,

I'm trying to run the ErrorRateByReadPosition method and there is no output for the c_to_g_error_rate column. It looks like a bug in the code.

In file ErrorRateByReadPosition.scala

[code]

Thanks,
Dilmi

[2017-10-31 11:11] tfenne commented on #297
Thanks for reporting this @dilmiperera.  Fix is inbound in PR #300.

[2017-11-02 16:51] dilmiperera commented on #297
You're welcome and thanks for the quick response.

[2017-11-02 16:51] #297 closed

[2017-11-05 05:59] nh13 opened #301 "Add a += method to ProgressLogger"

[2017-11-05 17:51] ivaltier commented on #287
Dear fgbio developers,

It would be wonderful if you could add this feature to GroupReadsByUmi and your other UMI-related tools. In the meantime, I would like to ask if you have any recommendations to group reads and call the consensus per UMI on single-end data with the current version of fgbio.

Thank you for your attention and for the great software!

[2017-11-06 18:30] nh13 commented on #287
@ivaltier unfortunately we do not have the bandwidth at this time to add the feature (single-end support), and so likely until we have a need for it for our own purposes, it likely wont get added.  As mentioned in the [linked issue](https://github.com/fulcrumgenomics/fgbio/issues/277#issuecomment-333888443), feel free [drop us a line](www.fulcrumgenomics.com/contact/) if this is something urgent,

[2017-11-10 11:49] #282 closed

[2017-11-10 11:49] tfenne commented on #260
This was fixed a while ago in the referenced PR.

[2017-11-10 11:49] #260 closed

[2017-11-10 11:57] tfenne commented on #194
Closing as this got implemented a while ago.

[2017-11-10 11:57] #194 closed

[2017-11-10 12:05] tfenne opened #303 "Implement a scala set of Interval/IntervaList classes?"
I'm starting to feel like we need to implement our own `Interval` and `IntervalList` classes in scala.  The more I use the ones in HTSJDK the more frustrated I get.  I would like there to be a package in fgbio that:

1. Makes it easy to load in intervals from Picard's IntervalList format, BED format and possibly also files with lines like `chr1`, `chr1:1000-` and `chr1:1000-2000`.  This is hard wi

[2017-11-10 12:13] tfenne commented on #42
This will require either a PR to htsjdk (because the logging is all internal to the `record()` method, or breaking the dependency on htsjdk.

[2017-11-10 12:14] tfenne commented on #46
I think we can close this @nh13.  I think that between quality trimming, insert-size trimming and the cigar/alignment filtering we've solve most of this in orthogonal ways, and there's FilterConsensusReads to take care of the rest.  Do you agree?

[2017-11-10 12:27] tfenne commented on #91
@nh13 I think we should close this as bioconda is probably the better place and @chapmanb has already hooked us up.  What do you think?

[2017-11-10 12:29] tfenne commented on #103
@nh13 Did the addition of the implicit class `ParSupport` to `CommonsDef` solve this or is this something else?

[2017-11-10 12:31] tfenne commented on #188
I'm closing this, but if a question remains please feel free to reopen.

[2017-11-10 12:33] tfenne commented on #47
Closing as duplicate of #192

[2017-11-10 12:33] #47 closed

[2017-11-10 12:36] tfenne commented on #239
FYI I looked at this and it's not easy (not possible?) to do without breaking backwards compatibility a little bit.  I was hoping we could just add type members e.g:

[code]

that would allow subclasses to override them.  But type members cannot have the necessary `: ClassTag`, that is needed to do all the reflection hijinks in that class.  So I think the only solution is to change the declaration

[2017-11-10 12:39] tfenne commented on #223
@chapmanb I'm closing this issue since we made some progress and it hasn't been touched in six months.  Feel free to reopen or log a new issue if you'd like to continue the conversation.

[2017-11-10 12:39] #223 closed

[2017-11-10 12:42] tfenne commented on #213
@nh13 Can you share your thoughts on this?  I'd like to fix this, but want to make sure we're on the same page.  My thinking is that making mistakes in either direction is bad.  I.e. grouping together reads that don't really share the same UMI is dangerous (squashing real variants), but likewise partitioning reads as if the no-calls are mismatches is also bad as we might create multiple consensus

[2017-11-10 13:15] tfenne commented on #209
See https://github.com/fulcrumgenomics/commons/pull/18

[2017-11-10 13:18] tfenne commented on #208
The spec is now ammended.  `OX` is the tag for original UMI.  I think the only question that remains is whether to always write that tag, write it only for UMIs that get corrected, or never write it.  Or make it an argument to the program.

[2017-11-10 13:20] tfenne commented on #201
This is an issue with HapCut, not with fgbio.  Please report it there.

[2017-11-10 13:20] #201 closed

[2017-11-10 13:22] tfenne commented on #234
@nh13 Perhaps we should revisit this with the next release we do?

[2017-11-10 13:23] tfenne commented on #243
Closing this as I believe #293 resolves it.

[2017-11-10 13:23] #243 closed

[2017-11-10 13:25] tfenne commented on #258
@nh13 I assume you mean that it's picking up private / non-@arg constructor params in tools and documenting them?  Can you point me to an example please?

[2017-11-10 13:28] tfenne commented on #264
@abolia I'm closing this for now, feel free to reopen.  I think what you're seeing is just an artifact of the prep.  One of the key challenges in duplex sequencing is recovering clones from both strands of an original duplex.  In my experience it is very common to only recover reads from one strand or the other for a high fraction of molecules.

We just updated the duplex caller to allow for outpu

[2017-11-10 13:28] #264 closed

[2017-11-10 13:39] tfenne commented on #267
I'm surprised by this as the only collection type that is extended is `Iterable`, so I'd have assumed that this would implement everything via the iterator.  In poking around some more it appears to be because all of the `.filter`, `.map` etc. are expected to return an `Iterable`, and so have to generate a collection.  Ugh.  So I don't think we can fix this without some API breakage.

I think the

[2017-11-10 13:39] #270 closed

[2017-11-10 13:40] #277 closed

[2017-11-10 13:46] tfenne commented on #283
@dilmiperera I'm closing this as it's been a few weeks and you haven't gotten back to us; feel free to reopen if you'd still like help.  My best guess is that the chromosome names in your VCF don't match your BAM, but as @n13 says we really need to be able to see a reproducible failing test in order to help more.

[2017-11-10 13:46] #283 closed

[2017-11-10 13:47] tfenne commented on #51
@nh13 Do you still care about this? 18 months later I'm tempted to just close it.

[2017-11-10 17:13] nh13 commented on #303
https://www.google.com/search?q=this+gif

[2017-11-10 17:18] nh13 commented on #46
@tfenne we filter _after_ we re-align, since we regenerate the nm/md/uq tags in the filtering tool (after the filters potentially mask bases).  Therefore, I still think this relevant if we are ok with having some reads filtered _during_ consensus calling.

[2017-11-10 17:18] #91 closed

[2017-11-10 17:19] #103 closed

[2017-11-10 17:20] #67 closed

[2017-11-10 17:22] nh13 commented on #209
@tfenne LGTM.

[2017-11-10 17:24] nh13 commented on #234
@tfenne it seems to work there, so that's good.  I hope maven has a lot of disk space!

[2017-11-10 17:25] nh13 commented on #234
Also, I think we should add it to sopt while we are at it.  Maybe dagr too.

[2017-11-10 17:30] nh13 commented on #258
The `generate-plots` option is documented here: http://fulcrumgenomics.github.io/fgbio/tools/latest/CollectDuplexSeqMetrics.html

[2017-11-10 17:30] nh13 commented on #258
Sorry I didn't link it originally.

[2017-11-10 17:35] nh13 commented on #263
@vfunari Sorry for not seeing this sooner, I don't know why I didn't.

I would be concerned that the shortened UMIs aren't long enough to uniquely identify the source molecule depending on the experiment, for example if you had short UMIs to begin with and the same start site for all reads.  A few *hacks* come to mind:
1. Truncate all UMIs to the UMI with the shortest length before running `GroupR

[2017-11-10 17:37] nh13 commented on #51
Lets close it until it is an issue.

[2017-11-10 17:37] #51 closed

[2017-11-10 20:15] tfenne commented on #46
@n13 My main point here is that I think we were generating reads with a lot of Ns in them because of bugs/things not handled well in consensus calling, e.g. mis-aligned reads, not trimming adapters for duplex etc.

[2017-11-10 20:16] tfenne commented on #209
Resolved by the change in commons.

[2017-11-10 20:16] #209 closed

[2017-11-10 20:45] tfenne commented on #258
Resolved by https://github.com/fulcrumgenomics/sopt/pull/11

[2017-11-10 21:38] tfenne commented on #213
After discussion we have decided doing this right is much more complicated than we initially thought and that for now that GroupReadsByUmi should reject any reads whose UMIs contains Ns, and log how many reads were rejected for that reason.

[2017-11-10 21:39] nh13 commented on #263
I am going to add an optional command line argument that specifies that all umis must be of a given length or greater.  We discard reads with UMIs shorter than this length when that option is supplied.  When comparing clusters of UMIs with variable lengths, we will truncate them down to the smallest UMI length that is greater than or equal to the command line option specified minimum length, and g

[2017-11-10 22:06] tfenne commented on #267
Fixed in #307

[2017-11-10 22:08] nh13 commented on #267
https://github.com/fulcrumgenomics/fgbio/pull/307

[2017-11-10 23:02] #267 closed

[2017-11-10 23:39] vfunari commented on #263
That’s awesome! Luca from bcbio had the same problem so he’ll be glad for this. I had to make a workaround. I noticed a few cases wear it didn’t look like it made a consensus quality score. That is it compressed the umi correctly but then didn’t increase the quality accordingly so the read was not scored any better than a single read. Have u seen this before? It should adjust the quality of the co

[2017-11-10 23:51] nh13 commented on #263
@vfunari I think that is a separate issue from here if you don't mind adding a new issue.  Though I am not sure what you mean by "compressed the umi".  Can you given an example in the new issue?

Pull request for this feature here: https://github.com/fulcrumgenomics/fgbio/pull/309

[2017-11-11 01:23] gshiba opened #310 "How to specify barcode from 2+ reads with `DemuxFastqs`"
I'd like to use `DemuxFastqs` for a library where the barcode is split over 2 or more reads, but I can't seem to get it to work.

**Should the `Sample_Barcode` column in metadata.csv include dashes? `ACGTACGT` vs `ACGT-ACGT`**

[code]

Relevant lines from the source code:

The (automatic) unmatched sample gets a `-` (dash):
https://github.com/fulcrumgenomics/fgbio/blob/d0c1454eff9a8bd6a32debc3f873

[2017-11-11 02:02] n13 commented on #46
You meant to mention @nh13 in this, not me ;)

[2017-11-11 02:03] tfenne commented on #46
Doh!  My apologies @n13.

[2017-11-11 02:05] n13 commented on #46
No problem. I was a bit puzzled at first, but looks like a cool project haha

[2017-11-13 16:53] nh13 opened #312 "FgbioDefTest has tests that should be in commons"
Ex. `forloop`.

[2017-11-13 18:37] angadps opened #313 "GroupReadsByUmi fails with "Reads out of order" in SamWriter"
I get the stack trace below when running the GroupReadsByUmi tool. The exception statement reads:

**Exception in thread "main" java.lang.AssertionError: assertion failed: Reads out of order @ readID1/1 + readID2/2**

readID1 and readID2 obviously are different read IDs

[2017/11/11 14:32:12 | GroupReadsByUmi | Info] Assigning reads to UMIs and outputting.
[2017/11/11 14:33:38 | SamWriter | Info]

[2017-11-13 18:49] nh13 commented on #313
@angadps any chance you could print out the reads with name "readID1" and "readID2"?  Something like `samtools view in.bam | grep readID1` should get the rads.  I am betting that somehow one of the ends for `readID1` read pair is being filtered out but not the other (perhaps the `MQ` tag is missing?).

[2017-11-13 20:45] angadps commented on #313
@nh13 below are the 4 lines for the two read pairs:

read1ID 147     chr1    152127815       60      8S104M  =       152127818       -101    CAGTGTTATGTGATTGAATATAGTGGGAACTCTGGCCTTGTCTGTCTGTCTGACCATAATGATAGCTCTGGCCTTGTCTGTCTGTCTGACCGTAGTGGGAACTCTGGCCTTG       ###BCDCEF-AEFFGEDECFCEEGDDECCFDFFDBEFEFEDFFEDFFEDFFECEGECCEFEECEFFDFFDFEFEFEDFFEDFFDDFFDCE=DBDDECCDBBEBDDBDBA@A@        BC:Z:ACAGTGTTATAA-CT

[2017-11-13 23:21] nh13 commented on #313
@angadps I think the issue is that "read2ID" is missing the "MQ" optional SAM tag.  We do say that the `MQ` tag is required in the tool's description, and filter out any read that do not have it.  I have to say it's odd that one end does, and the other end doesn't.  We recommend using `MergeBamAlignment` to ensure that the recommended tags are present in the output of the aligner.  In this case, y

[2017-11-14 00:06] nh13 opened #314 "Metric may not support collection member variables"
I need to confirm this, and if so, fix it.

[2017-11-14 12:46] tfenne commented on #312
I took a look.  The tests are already in commons, so I've pushed a PR (#315) to remove them from fgbio.

[2017-11-14 12:49] tfenne commented on #314
I don't believe it does.  I'm curious what your expected/desired result is though.  E.g. if I had a class:

[code]

What would you expect this to write into a row?  And more importantly how would it be parsed back?  The former seems easy enough, if we never expect to read it back.  The latter seems fraught with peril.  I.e. you'd have to pick some string to join the entries with, then escape that

[2017-11-14 12:54] tfenne commented on #310
Hi @gshiba I think this is a bug in the tool.  Your first attempt (just concatenating the bases) is what the tool documentation describes, and should work just fine.

I think the problem is that internally the tool generates an additional sample entry for the unmatched sample, and it's not following it's own instructions.  It appears to generate it by constructing strings of Ns matching the length

[2017-11-14 12:55] tfenne commented on #294
PR merged.

[2017-11-14 12:55] #294 closed

[2017-11-14 12:56] tfenne commented on #124
Done in #308 .

[2017-11-14 12:56] #124 closed

[2017-11-14 12:57] tfenne commented on #213
Resolved in #308

[2017-11-14 12:57] #213 closed

[2017-11-14 12:58] tfenne commented on #258
Closing this as it'll be fixed in the next release when we bump up the dependency on sopt.

[2017-11-14 12:58] #258 closed

[2017-11-14 16:15] nh13 commented on #314
This is what I would "like" to support:
[code]

[2017-11-14 18:57] #314 closed

[2017-11-14 19:29] angadps commented on #313
@nh13 Thanks for the suggestion. I notice the SetMateInformation tool requires reads to be present in query-name order, which is a huge operation for the size of the bam file that I am working with. I'm going to do that and confirm whether the tool works well with the fixed reads or not. I'll keep you updated once I have that information.

Thank you.

[2017-11-15 16:22] #310 closed

[2017-11-15 16:23] nh13 commented on #310
@gshiba fixed in #310.  Thank-you for the very clear bug report and debugging!

[2017-11-15 16:23] #312 closed

[2017-11-15 16:24] nh13 commented on #263
@vfunari we have implemented support for partial UMIs.  Please take a look at the new description in the tool's usage.  We have not added support for the "paired" strategy, which is typically used for Duplex Sequencing, as we could not quickly agree on a good implementation.

[2017-11-15 16:24] #263 closed

[2017-11-15 17:21] nh13 opened #318 "A question about the precision of doubles and floats in Metric"
@tfenne It looks like we print decimal values down to only six digits!  If we are outputting a very small double, say the error rate in duplex sequencing, then the result may be zero, when in fact it is greater than zero.  This makes me want to roll our own metric formatting utility.  We should also not forget about `Option[Double]` in the implementation.

https://github.com/fulcrumgenomics/fgbio/

[2017-11-15 19:29] tfenne commented on #318
I do think that we should probably change it so that it formats doubles with five significant digits.  Perhaps something like:

[code]

Note that this is possible to override in an individual `Metric` class as it stands.

[2017-11-15 20:01] nh13 commented on #42
https://github.com/samtools/htsjdk/pull/1027

[2017-11-16 14:14] tfenne opened #319 "ClipBam (and SamRecordClipper) don't hard clip if there is already >= n soft clipped bases"
ClipBam does not do the right thing when hard clipping, if there is already sufficient clipping present as soft-clipping.  I was trying to use ClipBam to generate a 2x75bp BAM from a BAM with 2x151bp reads by doing:

`fgbio ClipBam -i $in -o $out -r $ref --read-one-three-prime=76 --read-two-three-prime=76`

Most of the reads were clipped correctly - a `76H` was added to the cigar at the right plac

[2017-11-16 18:33] mh1111 opened #320 "Consensus base quality and issue with FilterConsensusReads"
Hi folks,

I am trying to filter consensus reads in `1.2.bam`, generated by CallMolecularConsensusReads, using FilterConsensusReads. Header and four first lines of `1.2.bam` are:

[code]
it would be great if you could please let me know about your inputs on:

Q1. Why all the base qualities are capped to 45, the default value of  --error-rate-pre-umi? Do I need to use a value other than the default

[2017-11-16 19:53] jasonwalker80 opened #321 "Unable to run DemuxFastqs: MalformedInputException"
I was having issues with version 0.2.1a and 0.2.1b that are available on BioContainers. I decided to create my own docker image using 0.4.0. This is the pull request for my new Dockerfile that I'm testing
https://github.com/genome/docker-fgbio/pull/1/files

This command is not working. The error message is `Exception: MalformedInputException Error: Input length = 1`. I am having a hard time determ

[2017-11-16 19:56] angadps commented on #313
@nh13 I ran SetMateInformation but it did not populate the MQ tag for the respective read. GroupReadsByUmi failed again. Then I decided to filter out all reads that are missing an MQ tag. I ran GroupReadsByUmi on the new bam file and I see the exact same error as above. At this point I'm starting to believe there is something else going on here. I also notice that a substantial percentage of the r

[2017-11-16 20:01] tfenne commented on #313
@angadps Any chance you can reproduce this error with a small BAM file with just a handful of reads in it, and that you could then share the file with us?  That way we could try and recreate the error on our end and see what's going on.

[2017-11-16 20:20] mh1111 commented on #320
Hi @tfenne

Thank you so much for your detailed and prompt response. All the issues resolved.

Best,
MH

[2017-11-16 20:20] #320 closed

[2017-11-16 20:21] angadps commented on #313
@tfenne At this point I can only do a simple extraction of reads loosely around the region where I see the failure and share that with you. Reproducing the error on this smaller bam file and testing before I share can take some time and is going to be difficult. I wouldn't bother you again until I can do that next.

[2017-11-16 20:27] tfenne commented on #321
Hi @jasonwalker80 - when I run your command using fgbio-0.4.0 and your inputs I get a different error, but I wonder if the cause is the same.  I confusingly get:

[code]

After much head scratching and poking at things in the debugger, it would appear to me that the problem is the encoding of the metadata file.  When I run `file HG00514_unix.csv` I get back `UTF-8 Unicode (with BOM) text`.  I'm no

[2017-11-16 20:34] tfenne commented on #313
@angadps No worries.  I'm happy to help, but I think we're at a point where I need to be able to reproduce the issue.  If you're comfortable sharing the reads in that region, in BAM format, please do so.

[2017-11-16 20:39] jasonwalker80 commented on #321
UGH... sorry about that. I should have checked for special characters.

Thanks for the quick feedback and help troubleshooting.

[2017-11-16 20:39] #321 closed

[2017-11-17 19:22] tfenne commented on #318
Resolved by #322

[2017-11-17 19:22] #318 closed

[2017-11-17 19:49] #208 closed

[2017-11-17 23:43] gshiba opened #326 "DemuxFastqs OutOfMemoryError"
Out of memory error with `DemuxFastqs`. I did not see anything re memory constraints in the documentation, but if this is expected behavior, feel free to close.

[code]

Thanks

[2017-11-17 23:43] gshiba commented on #326
I was able to get around this with `fgbio -Xmx4g DemuxFastqs ...`

[2017-11-17 23:56] tfenne commented on #326
@gshiba That's the right answer.  I just looked at the wrapper script in bioconda and the default memory limit is 1GB, which is too low for most of our tools.  I've just pushed a small PR there to up it to 4GB to avoid this kind of confusion in future.

[2017-11-17 23:56] #326 closed

[2017-11-25 00:38] gshiba opened #327 "DemuxFastqs's quality format is incorrect"
Two issues:
* Auto detection of quality format is not working
* Quality encoding flag `-q` is ignored

Set up:

[code]

Tool will automatically `Auto-detected quality format as: Standard`, but the output quality is not the same format as input.

[code]

I can't override the quality encoding, even with the `-q` flag:

[code]

(I actually don't know that my fastqs quality format is *called*. It's fr

[2017-11-27 16:35] mh1111 opened #328 "mismatching cigar issue in CallMolecularConsensusReads"
Hi folks,

I am working on some barcoded sequencing dataset available publicly and I am having problem calling consensus reads for the majority of samples (50 out of 80 samples). It seems that the issue is with mismatching cigars. For example, the output of CallMolecularConsensusReads for one of the “bad” samples reads:

[code]

While other samples that do not have cigar issue (it seems to me that

[2017-11-28 00:05] nh13 commented on #327
@gshiba thank-you for the very easy to follow debugging example.  You're absolutely right, the `--quality-format` option was not being respected AND the output base qualities were wrong when outputting to BAM.  My apologies for the confusion, and thank-you for spotting the bug.  I have a potential fix in #329.  I will update here the progress on getting the fix merged.

[2017-11-28 00:16] nh13 commented on #328
@mh1111 rather than ignoring the "mismatching cigar" issue, I would definitely examine the sample(s) that have the high fraction of mismatching cigars, as there may be a large issue lurking.

(1) I'd be really curious if you could share the outputs of the family size histograms using the `-f/--family-size-histograms` option in the `GroupReadsByUmi` tool.  Could there be a lot of collisions between

[2017-11-28 16:44] mh1111 commented on #328
Hi @nh13

Thank you for your detailed reply. Please let us continue this conversation here as it could help others who might encounter a similar issue.

You are right, it seems that there are issues with some of the samples regarding error rates (both substitution and indel rates). In the following, I am comparing one of the good samples with one of the bad ones. As you can see, indel error rate i

[2017-11-30 12:18] Lien-NGSdummie opened #330 "metrics CallMolecularConsensusReads"
Hi,

I've used the fgbio tool to work with UMIs and it seems great. However, I still have a question regarding some metrics in the CallMolecularConsensusReads.
The standard metrics that it outputs are already very useful, and we see large differences between different experiments. However, one important parameter that we don't know now is how many raw reads are used to generate the consensus reads

[2017-11-30 14:58] tfenne commented on #330
Hi @Lien-NGSdummie.  At the end of program execution (as of version 0.2.0+) you should see several lines logged.  The first gives you the total number of raw reads that were examined.  Then there should be a series of line which tell you how many raw reads were rejected (i.e. not used to build consensus reads) for various reasons, and then finally a line telling you how many consensus reads were o

[2017-11-30 16:51] nh13 commented on #328
@mh1111 the indel error rates (`PF_INDEL_RATE`) are 100 times higher for the bad samples.  Do you have an explanation for the much higher error rate? How was the prep performed?

The reason for filter/ignore mismatching (with respect to indels) cigars is because we line up the reads to call a consensus base-by-base.  An indel error will cause the bases to be come "out of phase", and cause disagree

[2017-11-30 16:55] nh13 commented on #328
@mh1111 just as a head's up, at this point, I believe the tools are working correctly, and I have given you
path forward to try to debug, and so I am going to close this issue.  As you can understand, I have limited time to perform data analysis in my free time, and in fact, that is exactly how I earn a living.  If you would like further support on this issue, [please contact us](http://www.fulcru

[2017-11-30 16:55] #328 closed

[2017-12-04 10:59] Lien-NGSdummie commented on #330
Thanks for your answer.
I do get these cluster of lines, but I thought some reads were not shown here if for example the minimum mapping quality is too low?
I have two experiments that give very different results, and I'm wondering if that could be caused by lower mapping quality in one of them. And therefore, it would be useful if I could know the amount of reads that were used to build the conse

[2017-12-06 17:53] mh1111 commented on #328
Hi @nh13

Thank you so much for your reply. I have contacted authors of the paper in which data was described and it seems that some kind of mixed-up has happened when uploading files to SRA. I hope these issues are caused because of this. I am trying to obtain raw files directly from the authors.

Again, thank you so much for developing and maintaining such a great and useful tool for the communi

[2017-12-07 18:01] nh13 commented on #319
@tfenne I think there needs to be some updates to `SamRecordClipper` to handle this looking at it.

[2017-12-07 19:10] nh13 opened #335 "Add getOrDefault to SamRecord"

[2017-12-07 19:13] tfenne commented on #335
You don't like `rec.get("foo").getOrElse(bar)`?

[2017-12-07 21:22] nh13 commented on #335
Nope

[2017-12-13 09:24] FredericBGA opened #338 "Built fails"
I fail when building fgbio suite.

The full log is in the attached file.

Java version is:

I use the latest sbt:

[log.err.txt](https://github.com/fulcrumgenomics/fgbio/files/1554861/log.err.txt)

Could you please help me?
Maybe it's related to the scla version?

thank you.

[2017-12-13 13:00] FredericBGA commented on #338
ok, my bad.
javac was still 1.6.0.
I close this thread.

[2017-12-13 13:00] #338 closed

[2017-12-15 09:58] nrosewick opened #341 "DemuxFastqs: Error: Missing: Sample_Name"
Hi,

I've paired-end fastqs with R2 containing an UMI (12bp) and a barcode (14bp) .
I created a sample sheet as :
[code]

Then I executed DemuxFastq :
[code]
And I get an error associated with the sample sheet :
[code]
Any ideas to solve this issue ?

Thanks

[2017-12-20 08:48] nh13 commented on #341
The input metadata file must be a CSV.  Please read through the long description with `java -jar $fgbio DemuxFastqs --help`.

[2017-12-20 08:48] #341 closed

[2017-12-20 08:49] nh13 commented on #327
@gshiba this issue has been fixed.

[2017-12-20 08:49] #327 closed

[2017-12-20 08:50] nh13 commented on #313
@angadps closing due to lack of activity.

[2017-12-20 08:50] #313 closed

[2017-12-20 08:50] nh13 commented on #319
Fixed

[2017-12-20 08:50] #319 closed

[2017-12-20 08:53] nh13 commented on #330
@Lien-NGSdummie `CallMolecularConsensusReads` does not filter out reads that have low mapping quality, though `GroupReadsByUmi` does, so perhaps you can set the minimum mapping quality to zero for the latter and see what happens (if more or fewer are produced)?

[2018-01-05 22:49] ggydush opened #348 "Duplicate duplex molecules in CallDuplexConsensusReads"
Hi,

I've been running fgbio tools (version 0.3.0) on samples barcoded with duplex UMIs and have had very promising results! Recently, I sequenced synthetic oligos that should have all had roughly the same start/stop positions and tried running duplex consensus calling on the resulting BAMs and found the duplex depth to be higher than expected. After consensus calling, I ended up with 8566 duplexe

[2018-01-09 17:38] dilmiperera opened #349 "Version 0.4.0 option to output consensus reads that are formed from only a single strand in CallDuplexConsensusReads"
Hi Tim and Nils,

I've switched to the latest version of fgbio (0.4.0) and one of the new options in this version is the option to output consensus reads that are formed from only a single strand in the CallDuplexConsensusReads method. I was wondering what parameter/argument I need to specify to get this option? It doesn't mention this is the description of the method parameters/arguments.

Thanks

[2018-01-09 19:53] nh13 commented on #349
@dilmiperera the `--min-reads` option to `CallDuplexConsensusReads` is where you want to focus your attention.  Take a look at the documentation: http://fulcrumgenomics.github.io/fgbio/tools/latest/CallDuplexConsensusReads.html

Therefore, to require only a single strand, you should specify `--min-reads 1 1 0`, which requires one read for the final consensus, one read for one of the two single-str

[2018-01-09 19:56] dilmiperera commented on #349
Yes this is exactly what I was looking for.

Thank you very much for your quick response.

Dilmi

[2018-01-09 20:06] nh13 commented on #348
Could you post the two consensus reads that you would expect to be coming from the same molecule?  Even better if you could post the BAM and command line you used to run GroupReadsByUmi and the command line for CallDuplexConsensusReads.  I am interested if there are differences in soft-clipping, as we use the start/end coordinates with clipping considered.

If you lower the mismatch tolerance (`--

[2018-01-09 20:07] nh13 commented on #330
@Lien-NGSdummie closing this for now.

[2018-01-09 20:07] #330 closed

[2018-01-09 20:54] ggydush commented on #348
Would you mind sharing an email address for the BAM files? I'd be happy to share and include the family ids for the consensus reads in question.

Regarding the command line arguments, please see below:

GroupReadsByUmi:
`java -jar ${fgbio_jar} GroupReadsByUmi
            -i ${bam_file}
            -o ${base_name}.groupByUmi.bam
            -f ${base_name}.umiHistogram.txt
            --strategy=pa

[2018-01-09 21:32] nh13 commented on #348
@ggydush contact "at" fulcrumgenomics "dot" com should work.

[2018-01-10 10:40] janrehker opened #350 "Calling consensus reads leads to invalid output"
Hi,

While doing step 2 ‘Call consensus reads (fgbio’s CallMolecularConsensusReads), map them (with bwa-mem), then filter them (fgbio’s FilterConsensusReads).’, I run into trouble.

My command line looks like this:
java -Xmx40G -jar fgbio-0.4.0-SNAPSHOT.jar CallMolecularConsensusReads -i V_17_2907_umi-annotated_resorted_mate_grouped.bam -o V_17_2907_umi-annotated_resorted_mate_grouped_consensus.ba

[2018-01-10 11:58] dilmiperera commented on #349
@nh13 How does it work in the FilterConsensusReads step for this option? I tried using the same -M 1 1 0 but I'm getting an error.

[2018/01/10 06:55:21 | FgBioMain | Info] Executing FilterConsensusReads from fgbio version 0.4.0 as xxxxxx@xxxx.xxxx.private on JRE 1.8.0_144-b01 with snappy
[2018/01/10 06:55:21 | FilterConsensusReads | Info] Filtering reads.
[2018/01/10 06:55:21 | FgBioMain | Info]

[2018-01-10 16:11] nh13 commented on #349
@dilmiperera I am investigating your issue.

[2018-01-10 16:18] dilmiperera commented on #349
@nh13 Thanks!

[2018-01-10 20:40] nh13 commented on #349
@dilmiperera a potential bug fix is in #351.

[2018-01-10 20:54] nh13 commented on #350
@janrehker what tool did you use to group the raw reads?  Did you use `GroupReadsByUmi`?  I believe the tool should output a number in the `MI` tag, whereas your tags have the original UMI bases  (`MI:Z:AAACACATTT `).  If so, could you please send or post a few raw reads with the value "AAAAAAAAAT" for the RX tag so I can try to debug?

[2018-01-10 20:55] nh13 commented on #348
@ggydush can you give me an example of two reads that you believe should be from the same duplex but appear as two consensus reads?

[2018-01-11 12:36] janrehker commented on #350
Hi and many thanks for helping me out on this!
Yes, I used GroupReadsByUmi. This is the resulting BAM output of the :

NB500890:20:HK52KBGX3:1:23109:11737:10699	147	chr1	1931335	40	100M	=	1931313	-122	GGGCTCACGCCTGTAATCCCAGCACTTTGGGAGGCTGAGGCGGGCGGATCATGAGGTCAGGAGATCAAGACCATCCTGGCTAACACGGTGAAACCCCGTC	/E<A<EAAE/A/E/EE<</</A///EEEEE<A<E/AEEAEEEEEEEEEAEEA/EAEEEEEEEEEE/EAA/EEAE6EEEEEE/AEEEAE/AAEEE6AAA

[2018-01-11 16:53] nh13 commented on #350
@janrehker I don't see the mate for the following two reads:
[code]

Removing those reads, here's the output I get:
[code]

I am using the latest version of fgbio (0.5.0-SNAPSHOT).  In particular, pay close attention to the value of the MI tag, which for non-duplex-data should be a number, but in your example is the original barcode sequence.  Can you try running the latest fgbio (`0.5.0-SNAPSHOT`

[2018-01-11 20:47] janrehker commented on #350
Hi Nils,

I was using ver 0.4.0 and will give 0.5.0 a shot tomorrow and report
back if it worked. Must have been living under a rock.
Those reads are most probably there, I just cut out some of the output,
samtools view x.bam gave me, sorry for not paying attention to detail there.
Your output looks like something I and most likely SamToFastq can work with!

Thanks,
Jan

On 11.01.2018 17:53, Nils

[2018-01-12 16:01] janrehker commented on #350
Ran my whole pipeline with snapshot 0.5.0 and it is still giving me barcodes as read name.
How did your command line look like?

[2018-01-15 11:53] janrehker commented on #350
Hi Nils,

Seems to be solved, so you can close this case. I constructed a bam testfile with those two reads and tested through the different options. Looks like I got initially confused with the '-t RX' which should not be used because the umi-tag is stored in the standard MI field in my file.
(-t String, --tag=String    The SAM attribute with the unique molecule tag. [Default: MI])
Whole file wor

[2018-01-15 20:13] dilmiperera commented on #349
@nh13 The bug fix worked. Thanks again!

[2018-01-15 22:19] nh13 commented on #350
👍

[2018-01-15 22:19] #350 closed

[2018-01-15 22:19] nh13 commented on #349
👍

[2018-01-26 13:15] janrehker opened #357 "include tag for number of reads that make up an umi-consensus call"
During consensus calling it might be interesting to include the number of reads that contributed to a specific call/consensus-read.

I have varying coverage in my targeted sequencing samples. Right now I am using fgbio CallMolecularConsensusReads with the min-reads parameter set to 1. After that I extract the reads and realign them to my reference genome and proceed with somatic variant calling.
F

[2018-01-26 13:17] #357 closed

[2018-01-26 13:40] tfenne commented on #357
I'm assuming you found the information you needed, but just in case anyone else stumbles across this issue the consensus calling tools output a wealth of information in tags.  These are described in the program usage (via `--help`) and are online:

http://fulcrumgenomics.github.io/fgbio/tools/latest/CallMolecularConsensusReads.html
http://fulcrumgenomics.github.io/fgbio/tools/latest/CallDuplexCons

[2018-01-27 16:19] janrehker commented on #357
Yep, there was even another closed question I stumbled over a few
minutes later..
Really like the fgbio tools btw. :)

Jan

Am 26.01.2018 um 14:40 schrieb Tim Fennell:

[2018-01-31 13:48] janrehker commented on #188
I would like to reopen this, as I am facing a similar phenomenon :)

After consensus calling, soft clipped bases get removed or partially removed in consensus sequences. At the moment I still cannot figure out any pattern, like base quality or mapping quality.
While some reads with low quality mapping/bases seem to pass, others get removed or partially removed.
It also happens that bases just at t

[2018-01-31 13:54] tfenne commented on #188
I realize the pages I'm linking to talk about duplex consensus calling, but the trimming stages are the same for both.  Take a look at this section on [Quality Trimming](https://github.com/fulcrumgenomics/fgbio/wiki/Calling-Duplex-Consensus-Reads#quality-trimming) and this one on (Trimming To Insert Length)[https://github.com/fulcrumgenomics/fgbio/wiki/Calling-Duplex-Consensus-Reads#quality-trimmi

[2018-01-31 14:27] janrehker commented on #188
Is there a way to alter both? Having the 'trimming to insert' feature seems to be necessary regarding consensus calls for overlapping parts of a read pair. However I cannot figure out why it is needed in consensus calls from single-umi data.
While this hard-clipping does not affect calling of snp's and indels that much, it certainly does for translocations.

[2018-01-31 16:28] tfenne commented on #188
You can effectively turn off the quality trimming by setting the `min-input-base-quality` to something suitably low.  It's already at Q10.

There's no way to turn off the insert-trimming but that's intended to only ever take off sequencing adapters.  I'd be curious how it's affecting your translocation calling.

[2018-02-01 13:59] janrehker commented on #188
OK, the soft clipped sequences that get removed actually look like adapters. My bad :(
Maybe we can close this thread again?
Once I compared translocation calling on deduplicated and unaltered data I could still reopen it if there are issues.

Thanks, Jan

[2018-02-07 20:31] tfenne opened #362 "Metric can write Char but not read it back."

[2018-02-07 21:19] ionox0 opened #363 "AnnotateBamWithUmis recommended memory"
Hello fgbio team, thanks for your work with this library. I'm using the AnnotateBamWithUmis step and working with a fastq (32G, 8G compressed).

I am getting an error during this step while at an average memory usage of 32GB. I'm wondering about how much memory should be allowed for this step in proportion to the size of the fastq so I can supply the correct arguments to the jvm?

[code]

Thank yo

[2018-02-07 23:43] nh13 commented on #362
Is the problem in commons?  https://github.com/fulcrumgenomics/commons/blob/3da708f3aa19294aa4c62a133e85a3a34b3738c0/src/main/scala/com/fulcrumgenomics/commons/reflect/ReflectionUtil.scala#L127-L142

[2018-02-08 00:00] nh13 commented on #363
@ionox0 looking at the source for this tool, it looks like it reads the entire FASTQ to create a map between the read name and associated UMI sequence (bases).  I can absolutely see how the tool could run out of memory loading in a large FASTQ like you have.  @tfenne would have to comment on why it reads in all the names ahead of time, but I suspect it is to add support for:

1. reads not being in

[2018-02-08 01:05] tfenne commented on #363
A few thoughts.  There are a bunch of ways to get to a BAM with UMIs, and I would say that `AnnotateBamWithUmis` is probably the last resort.  The other options are:

The best way is to use `fgbio FastqToBam` to create an unmapped BAM (uBAM) that includes the UMIs from the start.  This can work, e.g. with bwa's bam input, or with tools like Picard's SamToFastq & MergeBamAlignment to carry the info

[2018-02-12 16:34] nh13 opened #365 "FilterConsensusReads should filter on total depth for duplex reads"
Currently it only filters based on ab and ba depths respectively.  Consider `--min-reads 7 3 2`.  I would interpret this to mean, have at least three reads on the AB strand, at least two reads on the BA strand, and and at least seven reads across both (assuming num(AB) => num(BA)).  I don't think the tool currently filters on total depth.  I am not sure if this is a bug or an enhancement.

[2018-02-12 17:07] tfenne commented on #365
I think it does.  Since that filter is common to both duplex and vanilla, it occurs in `filterRecord()`.  Line 244 pulls the `cD` tag value, and then line 249 checks it against the specified minimum.

[2018-02-12 17:17] nh13 commented on #365
Doh, I missed it!

[2018-02-12 17:17] #365 closed

[2018-02-15 19:44] jurhoades opened #366 "UMIs with Ns being counted after GroupReadsByUmi"
Hi fgbio team,

I've noticed that after running `CollectDuplexSeqMetrics` on a BAM file generated using `GroupReadsByUmi` and looking at the *.umi_counts.txt file that it's counting UMIs with single Ns (ie NTA, GNT, etc).  I'm confused because I thought that since v0.4.0 `GroupReadsByUmi` removed any read with an N in the UMI.  What's even more confusing is that when I look in the BAM file, I can'

[2018-02-15 21:43] tfenne commented on #366
Hey @jurhoades - there's some code in `CollectDuplexSeqMetrics` that, for the purposes of reporting, calls consensus UMIs.  I.e. if there's a row in a metrics file that corresponds to a tag family, but we want to put the UMIs in there, we either have to pick a representative UMI or take the consensus of the UMIs that were seen on the individual read-pairs.  It's a simple model, but what you're see

[2018-02-22 14:04] jurhoades commented on #366
Ahh I see, so it's not actually seeing a family with a UMI with an N but rather calling a consensus UMI for each family "on the fly" and in some cases that results in an N base being called in the UMI.  I think that clears it up for me.  Thanks for your response!

[2018-02-22 16:08] #366 closed

[2018-02-26 21:12] nh13 opened #368 "Verify data is sorted in TemplateCoordinate order in consensus calling tools"
- [ ] CallMolecularConsensusReads
- [ ] CallDuplexConsensusReads

We could also have it be a warning, or add an option to assume sorted...

[2018-02-26 23:10] nh13 opened #369 "SampleBarcodeMetric should handle large volumes of data"
The `Int`s need to be `Long`.

[2018-02-26 23:19] nh13 commented on #369
@tfenne looks like there are a lot of places (ex `FastqRecord`) where we have "read number" stored as integers.  A recent experience with a NovaSeq run has made this more urgent to not have overflow.

[2018-02-26 23:30] tfenne commented on #369
Two thoughts:

1. I'm trying to use `Metric.Count` going forward instead of `Int` or `Long` (and `Metric.Proportion` instead of `Float` or `Double`.  I think it's clearer for users (e.g. to see the type is a Count), and it's a typedef to Long so we can't forget and use Int.
2. FastqRecord's `readNumber` is meant to be 1 or 2 to indicate first or second of pair.  Unless Novaseq has some amazing new

[2018-02-26 23:31] nh13 commented on #369
(2) doh, that's right!

[2018-03-02 18:06] fleharty opened #380 "Distinguishing between non-consensus, single index consensus, and dual index consensus reads"
Is there a way to create 3 bams after running GroupReadsByUmi so that,
nonconsensus.bam would contain all the reads that didn't form a consensus,
singleindex.bam would contain consensus called reads where only a single index could be used,
dualindex.bam would contain all the dual index called consensus reads.

[2018-03-03 03:35] nh13 opened #381 "ReviewConsensusVariants outputs newlines for no particular reason"
Occurs for me on the latest master during the generation of the review file.  I can't seam to figure out why!

[2018-03-05 03:57] nh13 commented on #381
Found the issue, it's in htsjdk!

[2018-03-05 13:47] nh13 commented on #381
Will need to update to a new HtsJdk release when made.

[2018-03-08 17:07] dilmiperera commented on #349
Hi Nils,

I wonder if its possible to have a different filtering criteria for the true duplex families and the consensus reads called from only a single strand in the FilterConsensusReads step (after using the option to output consensus reads that are formed from only a single strand in CallDuplexConsensusReads)? What we want is all the duplex families that have a minimum depth of one on each stra

[2018-03-09 04:33] #369 closed

[2018-03-09 04:34] nh13 commented on #335
https://github.com/fulcrumgenomics/fgbio/pull/376

[2018-03-09 04:34] #335 closed

[2018-03-09 04:34] #348 closed

[2018-03-09 04:43] nh13 commented on #349
@dilmiperera my suggestion would be as follows:
1. Get all the duplex families with a minimum of one read on each strand like you said with (M=2 1 1).
2. Get all the single-strand-only consensus calls by keeping only reads with a b-strand depth of zero (ex. `samtools view -h <consensus.unfiltered.bam> | egrep "(^@|bD:i:0)" | samtools view -Sb - > <consensus.unfiltered.single-strand.bam`.  NB: see

[2018-03-09 15:48] dilmiperera commented on #349
@nh13
Great! Thank you once again for your quick response.

[2018-03-09 19:18] #349 closed

[2018-03-13 16:00] dilmiperera opened #389 "CollectDuplexSeqMetrics plot"
Hi Nils and Tim,

We're using the plots from CollectDuplexSeqMetrics to assess the performance of our experiments. I wonder if you could describe how you calculate the down sampling plot. How do you calculate the "Duplexes - Ideal" family sizes?

<img width="593" alt="screen shot 2018-03-13 at 11 58 05 am" src="https://user-images.githubusercontent.com/29555380/37353495-d8666c7a-26b5-11e8-8186-0e1

[2018-03-14 04:19] nh13 commented on #389
@dilmiperera See plot number four in [CollectDuplexSeqMetrics.R](https://github.com/fulcrumgenomics/fgbio/blob/master/src/main/resources/com/fulcrumgenomics/umi/CollectDuplexSeqMetrics.R#L90-L98), which uses the yield metrics output (`.duplex_yield_metrics.txt` extension) produced by [CollectDuplexSeqMetrics](https://github.com/fulcrumgenomics/fgbio/blob/master/src/main/scala/com/fulcrumgenomics/u

[2018-03-14 12:52] dilmiperera commented on #389
Thanks. Also, when you say DS families, it includes families with the opposite strand missing?

[2018-03-14 16:27] fritzsedlazeck opened #390 "Hapcut2 parser -> vcf"
Hi,
I did notice that unphased SNPs are reported as phased 0|1 SNPs in the vcf.
Here is an example from my hapcut2 output:

and here are the two SNPs reported with '-':

I think that is a bug since you don't have the information available, right?

Thanks
Fritz

[2018-03-15 07:22] nh13 commented on #390
If you look at field 9 of your HapCut2 output, you'll see that those to SNPs are "pruned", since you almost certainly used the `--discrete_pruning 1` option (please post your full command line, inputs, etc, for the future).  The output VCF for those variants has the value `1` for the `PR` genotype format field, indicating they were pruned.  Since the meaning of "discrete pruned" means that they co

[2018-03-15 14:35] fritzsedlazeck commented on #390
Hi, thanks for the fast reply.
1. I did not use this option. I ran hapcut2 as suggested on their github.
2. I had this as a question submitted to their github since I was not able to find the meaning of -.
They responded that at this examples the quality was to low to assign it to a haplotype. If that is true I would have expected that this entry is ignored. However, if you say that is not the cas

[2018-03-16 04:36] nh13 commented on #390
I stand corrected.  You can filter them out with the PR format tag if you want to ignore them. Otherwise, I can certainly put in an option in to ignore variants with - alleles. Would that be helpful or do you already have a work around?

[2018-03-16 14:00] fritzsedlazeck commented on #390
Yeah i got a work around. Just wanted to report what I saw/ think. Thanks for the discussion.
Fritz

[2018-03-16 14:00] #390 closed

[2018-03-19 14:43] maribuon opened #391 "fgbio for Agilent"
Hi!

I am a bioinformatician working on the validation of a targeted panel with UMIs from Agilent (https://www.agilent.com/cs/library/usermanuals/public/G9702-90000.pdf ). Agilent provides their own package to process the data and to remove duplicates based on UMIs. However, our group has experience using fgbio (on IDT panels).  Also, by making my own processing pipeline allows me to have more con

[2018-03-20 19:26] scottrk2 opened #392 "UnsupportedOperationException when using TrimPrimers"
fgbio version: 0.5.0

java JVM version: 1.8.0_101

Invoked command: java -jar ~/Downloads/fgbio-0.5.0.jar TrimPrimers --input Tumor-Split_2_mem.dcs.sort.bam --output Tumor-Split_2_mem.dcs.trimmed.sort.bam -r ~/Bioinformatics/genomes/Human_Genome_Sequence/human_g1k_v37.fasta --primers primer_coordinates.txt

primer coordinate file: [primer_coordinates.txt](https://github.com/fulcrumgenomics/fgbio/f

[2018-03-21 15:08] tfenne commented on #392
@scottrk2 the problem is caused by the lack of headers in your primer file.  Because there's only one row in your file, the software is (erroneously) interpreting it as a file with a header line and no data, and so is not emitting a more helpful error message.  Try the [attached file](https://github.com/fulcrumgenomics/fgbio/files/1833814/primers_with_headers.txt) instead please.

[2018-03-21 16:19] scottrk2 commented on #392
Ah, that isn't at all clear from the tool documentation. I can probably do a pull request to update that this evening.

[2018-03-21 17:02] tfenne commented on #392
See https://github.com/fulcrumgenomics/fgbio/pull/393

[2018-03-23 02:52] ionox0 commented on #389
@dilmiperera To me that does sound right

Also @nh13 should `pDuplexIdeal` have this instead for the range of probabilities to satisfy the minAb and minBa requirements?
[code]

[2018-03-26 23:59] nh13 commented on #391
@maribuon this process seems reasonable.  I'd also that we have a plethora of tools to create a BAM with annotated UMIs depending on how your input data is given, for example:
- `DemuxFastqs` if you need to also perform sample demultiplexing
- `FastqToBam` if you have just the FASTQs for a sample
- `AnnotateBamWithUmis` if you have the UMIs in a separate FASTQ from the BAM
- `ExtractUmisFromBam` i

[2018-03-26 23:59] #391 closed

[2018-04-03 03:15] LeanGreen opened #394 "FgBioMain | Info] GroupReadsByUmi failed."
After picard, fgbio SetMateInformation, when I use **## fgbio-0.5.1.jar GroupReadsByUmi** -s Adjacency, it broke.
Like this:
[code]
How can I solve this problem?

[2018-04-03 12:29] tfenne opened #395 "Generalize scoring in Aligner"
@nh13 I would appreciate your thoughts on this.  I'm finding that the scoring system we have in `Aligner` is insufficient for some of my needs.  For example, I would like to be able to do the following things:

1. Score gaps differently based on whether they are the first or last operation in an alignment.  E.g. I'd like to treat `20M5D` differently than `10M5D10M`.
2. Treat mismatches and gap-ope

[2018-04-11 11:33] tfenne opened #397 "Rscript.exec() returns Try[Unit] which I think is a bad idea"
Rscript has two types of method, `exec()` and `execIfAvailable()`, both of which return `Try[Unit]`.  I think I did this at your behest @nh13 instead of having them simply throw exceptions.

I think this is probably an anti-pattern.  Specifically I think using `Try[Unit]` is bad.  `Try` is nice when returning something the user needs, so that they are forced to deal with calling `recover()` or `ge

[2018-04-11 13:57] nh13 commented on #397
Agreed unless your always using the thing in Try then it doesn’t make to return a Try. Go for it.

[2018-04-14 12:17] ShannonDaddy opened #398 "Could GroupReadsByUmi be speed up by parallelization"
When the sequencing data volume is large, GroupReadsByUmi may still not be fast enough. Is the any parallelization mechanism for speeding up, for example, parallel by each read cluster with the same mapping position or umi?

[2018-04-15 12:12] tfenne commented on #398
@ShannonDaddy Can you be a bit more specific about what you're trying to do - e.g. is this super-deep coverage, or are you working with modest coverage of a very large region (e.g. exome)?

I'm my experience most of the time in GroupReadsByUmi is spent in two places: 1) the initial sorting of the data and 2) writing the output bam.  As a first step I would suggest speeding up (2) by having GroupRe

[2018-04-16 19:43] gandalfone opened #399 "CallDuplexConsensusReads emits no consensus. All raw reads filtered out."
Hi,
I need some help to understand why CallDuplexConsensusReads did not emit any consensus reads.
fgbio CallDuplexConsensusReads   --input=$grouped_bam   --output=$concensus_unmapped_bam   --error-rate-pre-umi=45   --error-rate-post-umi=30   --min-input-base-quality=30                                                                                                       [2018/04/16 11:02:53 | FgBio

[2018-04-16 23:50] nh13 commented on #399
Duplex sequencing requires paired end reads where there are UMIS on both ends of the read.  The read structure `9M100T` looks like you generated single-end/fragment reads.  Are you sure you are generating duplex reads?  Also, it would be helpful to see how you ran `GroupReadsByUmi`.  Also, here's what's going on internally in `CallDuplexConsensusReads`.

[2018-04-17 01:14] gandalfone commented on #399
Hi nh13,

Thanks very much for your reply.  Here is two read pairs in my raw fastq file.  In each read in both R1 and R2, the first 9 bp is UMI.

R1:
@hla_A_snp25_AF1_0:0:A 1
TTTGGCACCAAGTCCCAGGGCCCCAGGCGTGGCTCTCAGGGCCTCAGGCCCCGAAGGCGGTGTATGGATTGGGGAGTCCCAGCCTTGGGGATTCCCCAACTCCGCAGTT
+
=DHFEB>EDA@<DCA<<GFH?CF@?B>G?H?EA>?GD><?@EB>>C>CC<FG?@@A=>>B<@CFAD@CAB@CE=FH@<CG>E<H@>D?E=>>F==ACG=H>?G>=@AA<
@hl

[2018-04-17 03:45] nh13 commented on #399
@gandalfone I don't see anything obvious, except your sequencing the HLA region, which is notoriously difficult to sequence, and may contain many indel errors (pcr slippage, errors in homopolymer runs) that may reduce our ability to call consensus reads.  I would not have expected to see 100% of the reads beintg filtered:

[code]

Could you find a set of reads from the same duplex molecule in the

[2018-04-17 21:27] nh13 commented on #399
Strand "A" should have tags "X-Y" while strand "B" should have tags "Y-X".  The A1s should have the same sequence as B2s, and similarly A2s and B1s.  I would simulate a single duplex and run it through the tool chain before simulating any large # of reads.  Duplex Sequencing is a bit of a data-tracking mind bender, you're not alone!

[2018-04-18 20:02] gandalfone commented on #399
@nh13 : After re-generating simulated reads per your suggestion, it worked perfectly as expected.  Thanks a lot for your help. I am now closing the issue.

[2018-04-18 20:02] #399 closed

[2018-04-18 23:57] ShannonDaddy commented on #398
Thanks，I'll give it a try.

[2018-04-23 23:56] KjellSwedin opened #400 "Regression: CallMolecularConsensusReads"
Hi,

I'm seeing different behavior between 0.4 and 0.6. Under 0.4 my call to CallMolecularConsensusReads succeeds. Under 0.6 it fails with a "not sorted" error. The call to sort then fails as well. Here is what I am seeing -- any advice appreciated:

singularity exec java8.img java -jar /home/local/AMC/kjells/smmips/bin//fgbio/fgbio-0.4.0.jar CallMolecularConsensusReads --input=results_scons/NPM1_

[2018-05-14 23:26] nh13 commented on #400
@KjellSwedin check out the release notes for 0.5.1, where we improve some error handling of the data.  You should be able to re-sort your input data with the `SortBam` command using the `-s TemplateCoordinate` option.  Let me know how that goes.

[2018-05-16 10:27] maribuon opened #403 "GroupReadsByUmi fails due to too many open files"
Hi!

I have been using FGBIO to process some targeted sequencing data with UMIs. Some of my samples are very large (~90Gb). For those, I have had a problem with GroupReadsByUmi. The error seems to indicate that there are too many open files. I have set the maximum number of open files to 95440 using ulimit -u. When the program crashes I can see ~ 100 files in the temp dir. So I don't understand wh

[2018-05-18 04:30] nh13 opened #404 "Cannot read a SAM/BAM from stdin"
Looks like htsjdk has regressed and no longer handles `Path`s when it is `/dev/stdin`!
https://github.com/samtools/htsjdk/issues/1084

Related issues:
https://github.com/samtools/htsjdk/issues/1077
https://github.com/samtools/htsjdk/issues/1083
https://github.com/samtools/htsjdk/pull/1085

[code]

[2018-05-18 04:36] nh13 commented on #404
Commit e4e415d71c4f1088a216063fb21255a6ea395317 works just fine using htsjdk 2.13.0 and fails with 2.14.3.

[2018-05-18 21:29] nh13 commented on #404
Fixed for now in https://github.com/fulcrumgenomics/fgbio/pull/405/

[2018-05-18 21:29] #404 closed

[2018-05-18 23:51] nh13 commented on #403
@maribuon could you post the output of `ulimit -a`?  There are a number of places in the system that control the maximum # of open files.  I'd refer you to your internal IT help if I don't see anything egregious with the output of `ulimit -a`.

The next thing you could try is to pre-sort your data for input to `GroupReadsByUmi` using `SortBam`:
[code]
The key here is to increase the value of `-m`

[2018-05-18 23:52] nh13 commented on #398
@ShannonDaddy did Tim's suggestion solve it for you? If not, feel free to re-open.

[2018-05-18 23:52] #398 closed

[2018-05-18 23:53] nh13 commented on #400
Feel free to re-open if you are still having issues.

[2018-05-18 23:53] #400 closed

[2018-05-19 00:07] nh13 commented on #394
Can you confirm your reads have the `RX` tag present, or the custom tag if you specified the raw-tag with `--raw-tag`?  I'd bet a $1 the `RX` tag is missing from one of your reads.  On the other hand, the tool should do a better job of providing an error message (it was supposed to); I have a fix here: https://github.com/fulcrumgenomics/fgbio/pull/406

[2018-05-19 00:14] nh13 commented on #389
@ionox0 I don't think we want `maxSsReads` since we need `minSsReads` for a success.  Note that assertions in the comment.  I had to stare at it a while to confirm correctness.

[2018-05-19 00:16] nh13 commented on #380
What do you mean by single-index versus dual-index?  I think `GroupReadsByUmi` uses the value in the `RX` tag, so explain in terms of what's in there.  There's a bunch of pre-filtering of reads (and mappings) that we could output to a "filtered" BAM if that's what you mean.  Also `GroupReadsByUmi` doesn't call the consensus, so I assume you mean to ask if the downstream tools like `CallMolecularCo

[2018-05-19 00:16] #363 closed

[2018-05-19 00:17] nh13 commented on #363
Feel free to re-open if there are any more questions.

[2018-05-19 00:34] fleharty commented on #380
Some time ago we were interested in and experiment to use the number of aD and bD counts as a covariate for BQSR.  The intuition was that reads with aD > 1 and bD > 1 would be better than those with aD > 1 and bD == 1, and even better than those with aD == 1 and bD == 1.

Instead of implementing a new covariate in BQSR to do this, we wanted to just test this out by splitting into 3 separate bams a

[2018-05-19 01:40] #380 closed

[2018-05-19 17:44] ionox0 commented on #389
Ok maybe I'm misunderstanding. My thinking was that, in the existing code:

If `reads` = 8, and `minAbReads` = 2, and `minBaReads` = 3,

then `minSsReads` = 2, and BinomialDistribution is calculated from `[2, 6]`.

But if BinomialDistribution is calculated for `6` reads then this means there are 6 reads on Ab strand and only 2 reads on Ba strand, which doesn't fit `minBaReads` criteria. But I may

[2018-05-19 18:14] nh13 commented on #389
I’ll have to stare at it when not in mobile. Let me take a closer look this weekend try to arrive at an answer from first principles.

[2018-05-19 20:54] ionox0 commented on #389
My assumption is that the BinomialDistribution is supposed to be calculate for each number of `successes` that would fit both `minAb` and `minBa` requirements, as in:

if `reads` = 8 and
if `minAb` = 2 and
if `minBa` = 3 then

values of `x` that should be considered success are `2, 3, 4, 5`.

This corresponds to `x` reads on strand with less stringent requirement, and `reads - x` reads on strand w

[2018-05-21 11:12] maribuon commented on #403
Hi @nh13 !

Thank you for your answer. I had previously contacted my internal IT and their response was "That sounds like a bug in Samtools - i.e. they are opening files and not closing them. Setting ulimit appropriately to a very large number should help but really this needs to be reported to the Samtools developers..." Then I decided to contact you. The output of ulimit -a is below.

I am tryin

[2018-05-24 12:58] #403 closed

[2018-06-01 19:16] gshiba opened #407 "DemuxFastq CLI parsing bug for --quality-format"
`DemuxFastq` fails when `-q` is used on command line.

Set up:

[code]

Works fine if tool auto detects:
[code]

Fails when I specify a quality format
[code]

[2018-06-01 19:39] nh13 commented on #407
Thanks for the report, it looks like a bug to me, I'll check it out.

[2018-06-22 11:15] dtomas1989 opened #410 "HapCutToVcf error"
Hello all,

I'm trying this command:

java -jar fgbio-0.6.1.jar HapCutToVcf -v population4_filter.vcf -i output_haplotype_file -o test.vcf

In order to convert my HapCut file to vcf file, but not working:

[2018/06/22 13:11:06 | FgBioMain | Info] Executing HapCutToVcf from fgbio version 0.6.1 as dtomas on JRE 1.8.0_171-b11 with snappy
[2018/06/22 13:11:06 | FgBioMain | Info] HapCutToVcf failed. El

[2018-06-29 17:03] nh13 commented on #410
@dtomas1989 could you send me the inputs you used to create the error as well as the hapcut/hapcut2 version?  HapCut2 has changed it's output a few times, so it might be the case you're using an old version, or that fgbio has not been updated to the new version.

[2018-07-02 18:16] sheenams opened #413 "Assertion error: reads out of order"
I'm running into this error with GroupReadsByUmi after using UmiAwareMarkDuplicatesWithMateCigar. I followed the steps from the closed issue #87 , but am having slightly different issues than that user.

I've run MergeBamAlignment on the unaligned and aligned bam, to create a 'UMI-marked-bam'. Then, I can take that UMI-marked-bam straight to GroupReadsByUmi and it works. However, if I use UmiAware

[2018-07-02 18:57] madduran commented on #413
I am also having a very similar issue. ValidateSamFile found no errors and RevertSam with SANITIZE=true did not help with the assertion error.

[2018-07-02 20:17] nh13 commented on #413
@sheenams I see the trailing `/2` on the read name which makes me suspicious.  Could you verify that the reads from the same template (R1 and R2) have the same read name.  If you see `MA0337:1:1107:25428:6890/1` and `MA0337:1:1107:25428:6890/2`, the trailing slashes need to be removed, as read names for reads from the same template/pair need to be exactly the same.  You can also post the result of

[2018-07-02 21:16] sheenams commented on #413
@nh13 The slashes don't appear when I look at the bam:
[code]

[2018-07-02 22:22] sheenams commented on #413
@nh13  Actually, that turns out to not be the issue. Running a different dataset gives the same error, but both reads are present in the output bam. Any further ideas for troubleshooting this?

[code]

[2018-07-02 23:16] nh13 commented on #413
@sheenams can you post your command line.  I bet $1 that you are using `--raw-tag MI` rather than `--raw-tag RX`  Notice that the `RX` tags are the same across reads in a pair, while `MI` is not.  `GroupReadsByUmi` writes the `MI` tag, so I am not sure what other program wrote `MI`.

[2018-07-02 23:42] sheenams commented on #413
This is how I'm calling fgbio
`java -Xmx4g -jar /opt/fgbio-0.6.1.jar GroupReadsByUmi --input=dedup.bam  --output=grpumi.bam --strategy=adjacency --edits=1 --family-size-histogram=grpumi.histogram`

I tried adding "--raw-tag=RX" to the above fgbio call, same error.

It looks like picard is filling in the MI tag (they have this option: ASSIGNED_UMI_TAG=MI and their docs say "Tag name to use for assi

[2018-07-03 00:08] sheenams commented on #413
If I force UmiAwareMarkDuplicatesWithMateCigar to write to a different tag (I chose MX, since MI and RX are used), then GroupReadsByUmi works (both with and without the "--raw-tag=RX".) Thanks for your help troubleshooting this!

[2018-07-03 00:08] #413 closed

[2018-07-06 04:12] mschatz opened #414 "HapCutToVcf should allow ambiguity codes in the reference"
Hi, I recently tried to run HapCutToVcf on a VCF file, but it crashes with this error about a malformed VCF file:

[code]

Looking at the VCF file, there is a 'W' to 'A' homozygous variant at this position:

[code]

I think this should be allowed, since it is correcting an ambiguity code that is present in the reference hg38 (this shows it as an N, but it is a 'W' in the fasta file):
http://genome

[2018-07-06 04:15] mschatz opened #415 "HapCutToVcf reference dictionary is required for creating Tribble indices on the fly"
Im getting this error when I try to run HapCutToVCF:

[code]

Googling around other tools are reporting the same error, and the work around is to output a compressed vcf file (.vcf.gz)

[code]

This finishes in a few minutes and seems to run fine. Im getting the error with any VCF file and any hapcut file. Would be nice if this could be corrected.

Cheers,

Mike

[2018-07-06 04:47] nh13 commented on #414
Looks like it goes all the way back down to htsjdk. I’ll take a look.

[2018-07-06 07:59] ProfessionalFarmer opened #416 "java.lang.AssertionError: assertion failed: Reads out of order"
Hi, dear developers.
I met some error when using fgbio's GroupReadsByUmi. It prompted that reads out of order. Even I processed data by Picard's RevertSam with SANITIZE=true and all the REMOVE/RESTORE options set to false, the error still exist.

Exception in thread "main" java.lang.AssertionError: assertion failed: Reads out of order @ M4988:25:000000000-G244L:1:2103:19288:2268/2 + M4988:25:00000

[2018-07-06 17:01] nh13 commented on #416
Can you post your full command line you used for `GroupReadsByUmi`?  Similar to #413, you may be using using `--raw-tag MI` rather than `--raw-tag RX`.  I suspect this since the MI tag for `M4988:25:000000000-G244L:1:2103:19288:2268` is `ATTC` for read one and `ATGC` for read two, indicating the reads from the same pair are not from the same source molecule.  Some upstream tool is adding the `MI`

[2018-07-06 17:02] nh13 commented on #410
@dtomas1989 any updates?

[2018-07-06 17:16] nh13 commented on #414
@mschatz according to the [VCF 4.3 spec](https://samtools.github.io/hts-specs/VCFv4.3.pdf) we have the following:

So `W` as the reference isn't spec-compliant.

Nonetheless, see section 1.4.5, where it states:

Since the _input_ VCF (`phased_variants.pass.vcf`) is the offender, I can think a few solutions:

1. Go back to the tool that generated it and updated it to be spec-compliant (10X Genomics

[2018-07-06 17:23] nh13 commented on #415
I see what's happening here.  This is a frustrating feature of `htsjdk`'s support for VCFs.  In `fgbio` when creating the writer to write the output VCF, we set the option index the output on the fly (`INDEX_ON_THE_FLY`).  For a block-compressed VCF, the reference dictionary (the CONTIG lines in the VCF header) are not required.  But for either BCF or plain-VCF, a reference dictionary is required.

[2018-07-06 17:28] #188 closed

[2018-07-06 18:16] mschatz commented on #415
It is a weird error mode to allow gzip'ed compressed but not compressed VCF files, especially since gzip is supposed to be a lossless compression format. It really threw me for a loop, especially since this used to work fine with earlier versions of htsjdk/fgbio. I dont think requiring CONTIG lines are a good solution because they are not generally included by variant callers, so I think that mean

[2018-07-06 18:43] mschatz commented on #414
Yes, this vcf file comes from LongRanger which used freebayes for the variant calling. I wrote a one-liner in awk to address, but seemed like an unnecessary error since the reference base is indeed a 'W' (the spec seems to be unnecessarily strict in this regard). Would it be possible to add an option to convert ambiguity codes on the fly?

Thank you!

Mike

[2018-07-06 18:57] mschatz commented on #415
Thanks for adding the option, I think that will be the easiest and most flexible way to move forward. I dont think it is worth posting an issue -- they seem to be well aware of it, considering that Picard and other tools broke from this update:
https://gatkforums.broadinstitute.org/gatk/discussion/6071/problem-with-picard-filtervcf

Thanks!

Mike

[2018-07-06 20:00] nh13 commented on #407
I have a fix in #417 if you want to check it out.

[2018-07-09 05:12] nh13 commented on #416
@ProfessionalFarmer since now we have had a few folks use `--raw-tag MI`, I'd like to understand the original reasoning for using the `MI` tag as input to `GroupReadsByUmi` so we can provide better documentation, work with the Picard developers (I used to be one), or something else.  Hopefully you are willing to share.

[2018-07-15 20:41] dilmiperera commented on #349
@nh13
I tried your suggestion for getting single strand reads with a minimum of 3 supporting reads but I get the following error when I do step 3 (Use the BAM from (2) and filter using (M=3 3 0))

[2018/07/15 16:05:40 | FgBioMain | Info] Executing FilterConsensusReads from fgbio version 0.5.0-SNAPSHOT as xxxxx@xxxx.cbio.private on JRE 1.8.0_144-b01 with snappy
[2018/07/15 16:05:40 | FilterConsensu

[2018-07-19 16:08] davidroberson opened #420 "Ion Torrent Reads - Annotate and split bams"
Hello,

We have developed an assay at NCI that has dual indexes on Ion Torrent (believe it or not).  We will publish soon.  We let the torrent sever and TMAP do its thing with the first index.  We would like to use this tool to grab the 3' index.  I am currently doing it a different way but I have a feeling this tool will be more efficient computationally.  We require exact matches and the assay e

[2018-07-19 16:45] nh13 commented on #420
@davidroberson are the indexes sample barcodes or molecular identifiers?  Could you tell us a little more about the read structure?

If you want to perform sample demultiplexing with the 3' index (or both), use `DemuxFastqs`.  You can set the read structure appropriately to identify which bases are barcodes and which are template on the 3' end due to indel errors.

If you have molecular identifier

[2018-07-19 17:23] davidroberson commented on #420
@nh13

They are indexes but we want TMAP to operate as normal can just soft clip them out.  We then filter for reads that are full length all the way to the Ion adapter.  TMAP hard clips the Ion Adapter and adds a bam tag indicating the read made it to the end.

Doing it this way allows the torrent server to do the analysis.  We then have a plugin which will do the rest on the torrent server.

htt

[2018-07-19 19:37] nh13 commented on #420
`ExtractUmisFromBam` will work well for your case then, as long as the _target sequence_ has fixed length (no indels from the sequencer [Ion Torrent]).  I'd also be concerned about using reads where the adapter is not found.  Again, if you have a fixed set of _amplicon barcodes_ use `CorrectUmis` after `ExtractUmisFromBam` to assign them correctly.

[2018-07-19 19:37] #420 closed

[2018-08-09 18:16] katigans opened #423 "ReviewConsensusVariants 'List of intervals is not optimized' for consensus reads"
Hi there,

I am running into an issue with ReviewConsensusVariants:

    $ java -jar fgbio-0.6.1.jar ReviewConsensusVariants -i allSamples.vt.vcf -s S1 -c S1.consensus.sorted.bam -g S1.grouped.bam -r Homo_sapiens.GRCh37.fa --output S1.review
    [2018/08/09 13:22:59 | FgBioMain | Info] Executing ReviewConsensusVariants from fgbio version 0.6.1 as kglennon@albizia.genome.mcgill.ca on JRE 10.0.1+10

[2018-08-15 20:11] tbl3rd opened #426 "First production of formal grammar for Read Structure swaps operator and length"
https://github.com/fulcrumgenomics/fgbio/wiki/Read-Structures#formal-grammar

It appears to disagree with the examples on the page, which is helpful by the way.
Suggestion:
[code]

Thanks.

[2018-08-16 13:18] tfenne commented on #426
Oops, thanks for catching that!

[2018-08-16 13:18] #426 closed

[2018-08-28 00:50] sheenams opened #428 "GroupReadsByUmi non-pf-reads question"
If I set '--include-non-pf-reads=true', will that allow reads in which only one end mapped to be included in the output? I'm trying to identify gene fusions in paired-end UMI data. The docs say:

Reads are aggressively filtered out so that only high quality read pairs with both ends mapped are taken forward.

But it isn't clear to me what 'filters' are defined as in the case of 'include-non-pf-rea

[2018-08-31 13:45] rosema62 opened #429 "error-rate-post-umi and error-rate-post-umi question"
Can you provide any guidance in selecting appropriate values for theses parameters in CallMolecularConsensusReads?  I'm thinking the value for "post" should reflect the error rate of the sequencing technology.  The "pre" seems less certain.  Would it reflect the speculated error rate of, for instance, any PCR done before UMI addition?  What is the consequence of setting this values to low or high?

[2018-08-31 17:52] ggydush commented on #319
I'm seeing a similar issue on Fgbio versions 0.5.0 and 0.6.1 when trying to clip 50 base pairs from 146 base pair reads (primary alignment and FR). Reads with long soft clippings end up having their cigars removed, mapping quality set to 0, and are not hard clipped (read is still 146bp).

Command:
`fgbio ClipBam -i $in -o $out -r $ref --read-one-three-prime=50 --read-two-three-prime=50`

Would be

[2018-08-31 18:53] nh13 commented on #319
An example would be great!

[2018-08-31 20:01] nh13 commented on #429
Mark, you're right about your intuition about the pre/post error rates, thought I'd say pre-error-rate can include ANY error prior to attaching the UMIs, not just PCR.  This could any process in sample acquisition or pre-umi preparation (ex. oxidative damage or deamination).  Similarly the post-error-rate includes anything up to but not including error on the sequencer (target-capture/amplificatio

[2018-08-31 23:10] nh13 commented on #428
The `--include-non-pf-reads` option applies to only reads where the 'pass-filter' flag has been set on the record (see the `0x200` value in the FLAG section 1.4.2 in the [SAM Spec](https://samtools.github.io/hts-specs/SAMv1.pdf)).

At this time, it is hard-coded to remove read pairs where one end is unmapped.  This is because we rely on finding the span (start & end) of the template (aka product),

[2018-08-31 23:10] #428 closed

[2018-08-31 23:10] #429 closed

[2018-09-04 19:04] ggydush commented on #319
@nh13

That makes sense - I guess I was mostly confused by the reads not being hard clipped in cases like these. Thanks for the explanation!

[2018-09-04 19:39] nh13 commented on #319
@ggydush if there is a specific application where you'd prefer to have all the bases hard clipped rather than bases retained (but as an unmapped read) read let us know.  I'd prefer not to add the support to keep the tool simple, but I'd be open if you have compelling use case.  Feel free to open a new issue if so.

[2018-09-11 16:12] ggydush opened #430 "Running a duplicated BAM through GroupReadsByUmi"
This may not be a typical use case, but I wanted to get your thoughts and suggestions on this.

I often use Fgbio to compare two (or more) BAMs using the following process:

1. Start with aligned UMI extracted BAMs
2. Add sample-specific read groups (each original BAM gets its own unique read group)
3. Merge BAMs
4. Run merged BAM through GroupReadsByUmi
5. Split GroupReadsByUmi output by read gro

[2018-09-11 16:29] ggydush commented on #430
No R1/R2 to not have trailing `/1` or `/2`.

The problem when comparing the same BAM using the strategy above is that there are two R1 records with the same read name (different read group) and two R2 records with the same read name (different read group).

[2018-09-11 16:32] nh13 commented on #430
I see.

[2018-09-11 16:35] nh13 commented on #430
Do your read groups have the `LB` (library) tag set?

The `TemplateCoordinate` sort order is used by `GroupReadsByUmi` to pre-sort the data: https://github.com/fulcrumgenomics/fgbio/blob/3f90c873aa91ee078be020e71ef5b89283b903a9/src/main/scala/com/fulcrumgenomics/bam/api/SamOrder.scala#L160-L186

Library (from the read group) is used: https://github.com/fulcrumgenomics/fgbio/blob/3f90c873aa91ee078b

[2018-09-11 16:45] ggydush commented on #430
The duplicates have the same library ID, but different read groups (as they came from the same library, but were processed slightly differently). If I change the library, will they still be grouped together in the end?

[2018-09-11 17:36] nh13 commented on #430
They will not be grouped together in the end if they have different library values.  I don't understand why you would want to have the same read twice as part of a consensus call (i.e. grouped together).

[2018-09-11 18:18] ggydush commented on #430
This could be useful for checking the effect of various preprocessing methods (i.e. downsampling, alignment strategies, BQSR). You would start with the original BAM file. The original could be downsampled, or ran through a number of preprocessing steps giving you a modified BAM file. Next, you want to see how these modifications affected your consensus calls, so you could merge the two BAMs (origi

[2018-09-11 18:38] nh13 commented on #430
Just so I understand, the major crux is that the MI tag is different between the two BAMs if you run the separately?  FWIW, I wouldn't input the same read more than once in a single invocation of the tool, but I understand why you did it.

An easy way to solve your problem is to post-process the grouped BAMs:
1. For each BAM, have a mapping of read name to `MI` tag.
2. Join the tables based on rea

[2018-09-11 18:38] #430 closed

[2018-09-11 18:55] ggydush commented on #430
Thanks for your feedback and suggestion! That would definitely work for the use case described.

Unfortunately, I often have more than the duplicated BAMs in the mix (duplicated BAMs would be control samples, other bams would be samples to compare to control), so it would still be ideal to group all of the samples together at the GroupReadsByUmi level.

[2018-09-12 01:43] ggydush opened #431 "RX tag question"
Would it be possible to shed some light on how molecular consensus and duplex consensus RX tags are added?

I have an example where reads from GroupReadsByUmi show 3 possible RX tags (expected):
`java -jar $FGBIO GroupReadsByUmi -i test.bam -o test_grouped.bam -s Paired`
[code]

After CallMolecularConsensusReads, the consensus reads have the following RX tags (expected):
`java -jar $FGBIO CallMole

[2018-09-17 16:33] myourshaw opened #432 "multiple aligned paired-end consensus reads are out of order and cannot be re-aligned"
I'm trying to implement this workflow: `IlluminaBasecallsToSam -> Novoalign -> GroupReadsByUmi -> CallMolecularConsensusReads -> Novoalign -> FilterConsensusReads`.

CallMolecularConsensusReads produces an output that fails to preserve the alternation of read1 and read2, and thus cannot be used as unaligned bam input to novoalign.

For UMI AAAAAAAAA, the reads produced by GroupReadsByUmi preserve

[2018-09-17 16:41] nh13 commented on #432
@myourshaw why are there three copies of read 1 for the read with name `VAL18-248-NT-D.08302018JH:AAAAAAAAA`?  That seems really odd.

[2018-09-17 21:44] myourshaw commented on #432
I don't know enouth about UMIs to be sure, but these look like different reads (not PCR duplicates) that happen to have the same UMI.

BTW: if nh13 is Nils,-- Hi, this is michael yourshaw, formerly of Nelson lab, now doing cancer genomics at U of Colorado.

[2018-09-18 13:09] xujishu opened #433 "CollectDuplexSeqMetrics error"
I got error when I ran `CollectDuplexSeqMetrics` with the bam files output from`GroupReadsByUmi` and got the following errors.  The header of bam files show bam files are sorted as  `@HD	VN:1.5	SO:unsorted	GO:query	SS:unsorted:template-coordinate`.  Anybody can tell me how to fix this error?

Thanks

[2018/09/18 08:56:17 | FgBioMain | Info] Executing CollectDuplexSeqMetrics from fgbio version 0.7.

[2018-09-18 19:01] nh13 commented on #432
@myourshaw can you email me a small test case?  Include:
- input
- output you currently get
- command line
- fgbio version your using (`fgbio --version`)

[2018-09-18 19:04] nh13 commented on #433
@xujishu it looks like it is failing to parse the value in the `RX` tag for a read.  It is expecting two umi sequences separated (delimited) by a dash. (ex `AAACCC-CCCAAA`).  Can you verify the format of the `RX` tags?  Can you post a few reads for us to inspect?

[2018-09-18 20:27] xujishu commented on #433
Here are some reads.
The bam file was aligned by HISAT2 first then UMI tag was added by `AnnotateBamWithUmis`

A00477:12:H3YM7DSXX:2:2307:30318:2863	99	chr1	11800	60	46M170380N80M	=	182226	170544	CTTTGCTGTTCCTGCATGTAGTTTAAACGAGATTGCCAGCACCGGGTGGGGCCTGGCCATGTGTATTTTTTTAAATTTCCACTGATGATTTTGCTGCATGGCCGGTGTTGAGAATGACTGCGCAAA	FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF

[2018-09-18 21:46] nh13 commented on #433
1. See my comment about the `RX` tag not storing two UMIs. Are your data duplex seq?  If so, they should have two UMIs per read, which are stored in the `RX` tag delimited by a dash.
2. Did you run `GroupReadsByUmi` using the paired strategy (i.e. `--strategy=Paired`)?   It should have failed at that step given you only have one UMI in each read.

[2018-09-18 23:51] xujishu commented on #433
1) the read structure is like this: Paired-end reads, R1 and R2, only R1 is tagged with UMI, so it would like R1+UMI and R2. so it is only one UMI
2) I used `adjacency` with edit distance 1 when I ran `GroupReadsByUmi`

The ovreall workflow is like this
0) IDT dual index+UMI RNA-Seq protocol.
1) extract  R1 R2 and UMI from basecall. then run HISAT2 to align R1 and R2. output aligned.bam
2) Use `An

[2018-09-18 23:56] nh13 commented on #433
The metrics tool is appropriate for duplex-seq data only.

[2018-09-18 23:56] #433 closed

[2018-09-27 21:42] nh13 commented on #432
@myourshaw that's great news that you figured it out!

If you're willing to read a bit of code, the consensus tags are described here: https://github.com/fulcrumgenomics/fgbio/blob/master/src/main/scala/com/fulcrumgenomics/umi/ConsensusTags.scala

[2018-09-27 21:42] #432 closed

[2018-10-02 12:06] rebber opened #434 "Questions regarding UMI processing"
Hi,

My team has just started using UMIs for sensitive somatic variant calling from ctDNA sequencing, and I'm therefore now exploring the fgbio tools for processing the UMIs. I have some questions regarding this process.

1. As I understand it GroupReadsByUmi creates groups based on position and UMI. We are concerned about misalignment in repetitive regions and multiple UMI families being created

[2018-10-02 15:22] tfenne commented on #434
Hi @rebber.  The answers to your (1) and (2) are related.

The reason that `GroupReadsByUmi` applies the filtering that it does is to try and avoid the grouping (and thus creation of consensus reads) of reads from a single original molecule into two or more separate groups.  To do this we filter out reads that are mapped cross-chromosomally (we don't feel that consensus reads add value for calling

[2018-10-02 17:52] #414 closed

[2018-10-02 17:52] #415 closed

[2018-10-03 11:11] rebber commented on #434
Thank you for your input!

I will play around some with local realignment, mapq cut-off  etc, and see if there's any gain from it.
Regarding overlap clipping I think we'll just go for the ClipBam functionality then.

Also thanks for clarification about the non-FR reads!

[2018-10-04 15:15] adamantli commented on #287
Dear nh13,
I too like to see if single end reads can be supported in  GroupReadsByUmi. In the mean time, I am wondering if we can artificially create a uniform molecular tag for reverse reads in order to use fgbio for single end reads.
Thank you for your software.

[2018-10-26 05:50] nh13 opened #439 "Give tools metadata about the command line used"
Extracted from this PR: https://github.com/fulcrumgenomics/fgbio/pull/422

<details>

<summary>FgbioMain</summary>

[code]
</details>

<details>

<summary>FgBioTool</summary>

[code]

/** All fgbio tools should extend this. */
// Todo: extend Lazy Logging?
trait FgBioTool {
  /** The command line used to invoke this tool, or [[None]] if unset. */
  private var _toolInfo: Option[FgBioToolInfo] = No

[2018-10-29 08:04] ktsangaras opened #441 "CollectDuplexSeqMetrics Exception in thread "main" java.lang.NullPointerException"
Hi everyone

I just started using fgbio for my UMI experiment and i am having difficulties generating the Metrics. Most likely i am doing something wrong so i would i appreciate your help to resolve the issue.
The experiment that we run has the UMI on the P5 illumina index primer (AATGATACGGCGACCACCGAGATCTNNNNNNNNNACACTCTTTCCCTACACGACGCTCTT) after MiSeq demultiplexing we end up with 4 files (r1,r2

[2018-10-30 12:44] tfenne commented on #441
@ktsangaras There are two problems here.  The first is that `CollectDuplexSeqMetrics` clearly states in it's usage that it expects as input "exact BAM output by the GroupReadsByUmi tool (in the sort-order it was produced in)", whereas you appear to be running it on a `queryname` sorted BAM that has not had `GroupReadsByUmi` run on it.

The second is that `CollectDuplexSeqMetrics` is intended to pr

[2018-10-30 12:44] #441 closed

[2018-11-02 23:04] gpratt opened #442 "FastqSource doesn't support piping"
Here is a minimally reproducing bit of code

[code]

I can't attach a fastq file, so here is the contents.

[code]

[2018-11-02 23:19] nh13 commented on #442
Could this be a similhttps://github.com/samtools/htsjdk/issues/1084 and the bug reported there?

[2018-11-02 23:53] tfenne commented on #442
So perhaps in `Io` we need to detect if the given `Path` is `Io.StdIn` and if so, just return `System.in` instead of opening a new input stream with `Files.newInputStream()`?

[2018-11-09 16:14] fa-vio commented on #434
Hello,

Not sure if it is appropriate to continue this thread, or rather open a new issue, but the problem seems to be related.

Working on UMIs , I tried to roughly follow the analysis pipeline outlined [here](http://nilshomer.com/2017/07/05/single-strand-umi-somatic-variant-calling/). After some steps I end up with a mapped and annotated BAM file, where the UMI pattern is annotated with the RX t

[2018-11-09 17:16] nh13 commented on #434
@fa-vio please open up a new issue, and please make sure to include the log/terminal output.

[2018-11-09 17:16] #434 closed

[2018-11-12 08:46] fa-vio opened #444 "All the reads are filtered out by GroupReadsByUmi"
Hello,
working on UMIs , I tried to roughly follow the analysis pipeline outlined here. After some steps I end up with a mapped and annotated BAM file, where the UMI pattern is annotated with the RX tag.

I run GroupReadsByUmi and obtained an empty result file, with the log message saying all reads were filtered out because they were not part of a high confidence mapped read pair, even though the

[2018-11-13 00:45] nh13 commented on #444
Just a heads up that both maintainers are on vacation until the end of November. Thanks for your patience.

[2018-11-16 14:00] fa-vio commented on #444
Back to that issue, I'm sorry for not posting here any log, but all it said was that all the 300 thousand reads from my `.bam` file where filtered out because not part of a high confidence mapped read pair.

After some more investigation, I realized that data had to be handled using PICARD's tools before I could use FGBIO's, so that all expected tags are inserted into the bam file.

What was uncle

[2018-11-26 03:35] nh13 commented on #444
@fa-vio thank-you for posting your solution; I am sure it will be helpful for others if they encounter this problem.

[2018-11-26 03:35] #444 closed

[2018-11-26 18:20] nh13 opened #446 "Metric.read should return an iterator"
Sometimes I have very large metric files.

[2018-11-26 18:21] tfenne commented on #446
I don't think we should change existing APIs, but I agree it would be nice to have a `Metric.iterator(path)` or similar to stream over metrics.

[2018-12-19 19:41] jtpoirier commented on #287
I agree, this would be useful.

[2019-01-08 06:44] realityjunky commented on #423
katigans, I have the same issue.

[2019-01-09 17:37] nh13 commented on #423
@katigans and @realityjunky I have just merged a fix into master for this bug.  Could you see if this solves your problem?

[2019-01-10 12:25] ddaneels opened #459 "UMI in read name"
Hello,

I have a .bam file with the UMI's in the read name. This is my first read:

`A00154:125:HGKTMDMXX:2:2237:1588:24533:GTCGTA   129     chr1    10013   0       101M    chr18   78016220        0       TAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCTAACCCAAACC   FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF:FFFFF,FFFFF,:FFFF,FFFFF,

[2019-01-10 16:09] tfenne commented on #459
Unfortunately no.  You'll need to write a quick script to extract the UMI from the read name and insert it into the `RX` tag.

[2019-01-10 16:38] #459 closed

[2019-01-17 11:40] bio6891 opened #460 "FilterConsensusReads removes a lot of reads"
Hi,

I've used the following command:

`java -jar -Xmx8g fgbio-0.7.0.jar FilterConsensusReads -i Panel-STHT-U226_sorted_umi_sortedpicard_mate_grouped_consensus.bam -o /Panel-STHT-U226_sorted_umi_sortedpicard_mate_grouped_consensus_filtered_unmapped.bam --ref=/home/ngs/data/tools/bwa/ucsc.hg19/hg19_chr1-y.fasta --reverse-per-base-tags=true --min-reads=3 -E 0.05 -N 40 -e 0.1 -n 0.1`

This is the scr

[2019-01-17 19:15] tfenne commented on #460
@bio6891 there's a lot that goes into a consensus/UMI experiment that has very little to do with sequencing data quality.  From the look of your BAM file these reads were created with `CallMolecularConsensusReads` from data with single UMIs per read-pair, right?

It's a little hard to know what's going on from what you suggest.  To diagnose this I'd suggest a few things:

1. Can you take a look at

[2019-01-18 10:01] bio6891 commented on #460
Hello @tfenne, thanks for your quick reply

the reads were indeed created with  `CallMolecularConsensusReads` from data with single UMIs per read-pair. This a capture-based gene panel (exonic regions from around 300 genes for human cancer).

1. This is the output from that metric file
[code]

So I guess this explains why almost everything is filtered out when I set `--min-reads=3` in `FilterConsen

[2019-01-18 20:08] tfenne commented on #460
Yeah, that distribution is the problem.  You could certainly reduce to `--min-reads=2`.  It's just a trade-off of consensus quality vs. yield.  You should still see some improvement in quality with two reads forming a consensus, but you'll also see more errors than you would with a high minimum.

And you're right that this should have no effect on the post-consensus mapping rate.  The reads that a

[2019-01-28 09:53] rebber opened #461 "Can CallDuplexConsensusReads keep mapping position?"
Hi,

I'm wondering whether output of CallDuplexConsensusReads can keep the mapping position from the grouped bam instead of being unmapped bam? If not, what is the reason?

Don't we loose some evidence of correct mapping by re-mapping the consensus reads? My reasoning is that if we have multiple reads from the same fragment (i.e. same UMI) mapping on the same position, that is strong evidence for

[2019-02-03 22:19] nh13 commented on #461
We unmap the reads as the consensus may be different than the raw reads used to create the consensus.  Furthermore, this allows us not to worry about combining cigars (especially when they differ among the raw reads). Re-mapping is a conservative approach.

It is an interesting idea to assert that having multiple raw reads from the same fragment map to the same position should bolster the confiden

[2019-02-03 22:19] #461 closed

[2019-02-15 05:41] jhl667 opened #463 "Single primer designs and TrimPrimers"
Does TrimPrimers support single-primer designs?  For instance, can I just enter one set of start and end coordinates per region?  Or, could I just enter the exact same coordinates for both left and right?

Thanks!

[2019-02-18 16:34] alkodsi opened #464 "Duplicate read names in output of CallMolecularConsensusReads"
I am getting the following error in FilterConsensusReads:
Multiple non-secondary, non-supplemental R1s for Library1:chr10:102509587/GCGGCCAGC

Here is the workflow I am using (fgbio v0.7.0, picard v2.18.26):
[code]

Here are the corresponding sam records from picard output:
[code]
and the sam records from the CallMolecularConsensusReads output:

[code]

[2019-02-25 01:37] xiucz commented on #464
The same problem I have met.

[2019-02-25 21:15] bioinfo-dirty-jobs opened #465 "error on sort --sort-order=TemplateCoordinate"
I have this error using fgbio version(fgbio --version Version: 0.7.0) but I'm not able to do  data:

[code]

[2019-02-26 00:43] nh13 commented on #465
You'll need to add the mate-cigar (`MC`) tag with [`SetMateInformation`](http://fulcrumgenomics.github.io/fgbio/tools/latest/SetMateInformation.html).  Other tools that you may use upstream, like Picard's `MergeBamAlignment`, will also set the mate-cigar, as well as recent versions of `bwa mem`.

[2019-02-26 00:43] #465 closed

[2019-02-26 00:50] nh13 commented on #464
The output of `CallMolecularConsensusReads` has four reads when I'd expect two.  Could you provide the test BAMs you used, with just those reads above (I want the full SAM header is why I am asking)?

Alternatively, you could use `GroupReadsByUmi` instead of `UmiAwareMarkDuplicatesWithMateCigar` (or after it).

[2019-02-26 00:52] nh13 commented on #463
It does not at this time.

[2019-02-26 00:52] #463 closed

[2019-02-26 00:52] nh13 commented on #460
Closing due to inactivity.

[2019-02-26 00:52] #460 closed

[2019-02-26 03:47] jhl667 commented on #463
This would be useful functionality, for instance for the QIAseq assay that relies on single primer extension.

[2019-02-26 04:24] nh13 commented on #463
@jhl667 unfortunately we typically add functionality based on if we personally find it useful, or more often if our clients find it useful.  Feel free to reach out us if you or Qiagen think that we could be of help: http://www.fulcrumgenomics.com/contact/

[2019-02-26 06:11] xiucz opened #466 "Either a single SAM tag, or the same # of SAM tags as molecular indices in the read structure, must be given."
Hi, Fabio

I tried to use the following commands to analysis my umi data, but it occurred some error:
Firstly, I used Picard tool to convert fastqs to ubam
[code]
And, a few records from the **test.ubam** result:
[code]
And then I tried to use ExtractUmisFromBam, however, the program break down with the error:
[code]
[code]
I don't know what happened even I read the code, Am I missing some thing?

[2019-02-26 06:37] nh13 commented on #466
Your read structure has one molecular barcode (14M) but you give two tags ZA And ZB.  Try only with one tag (ex RX).

[2019-02-26 06:37] #466 closed

[2019-02-26 10:53] xiucz commented on #466
Thanks @nh13,
And I want to comfirm more, if I have only one UMI in a paired reads,  just using   **--single-tag=RX** and no **--molecular-index-tags=** will be ok?
Or can I use the command like this?
[code]

[2019-02-26 15:05] alkodsi commented on #464
Here is the SortBam output file (it's different from the file above, all my bam files failed at this step):

[code]

[2019-03-12 07:06] elainebblythe opened #469 "a question when calling Variant"
hi,I used fgbio::CallMolecularConsensusReads and got the consensus reads ,then I want use the consensus.bam to find Variant  by GATK.I have a question about it.

If there are four reads, they are consensus reads,their sequences are different at one site

-----------------A----------     genome
-----------------A----------
-----------------T-----------
-----------------A-----------
----------------

[2019-03-12 13:17] tfenne commented on #469
@elainebblythe If the four reads in your example are four reads directly from the sequencer, and they are all identified as originating from the same molecule (i.e. same `MI` tag after running `GroupReadsByUmi`) then almost certainly the consensus read that is generated will have a `A` at the position in question.  Depending on the base qualities o the `A` and `T` basecalls the base quality in the

[2019-03-13 01:54] elainebblythe commented on #469
thanks,
My analysis process is :
picard::FastqToSam-------ExtractUmisFromBam---------align------picard::MergeBamAlignment-----GroupReadsByUmi------CallMolecularConsensusReads

My goal is to find true somatic mutations by GATK,So should I use FilterConsensusReads next?

elaineylq@163.com

From: Tim Fennell
Date: 2019-03-12 21:17
To: fulcrumgenomics/fgbio
CC: elainebblythe; Mention
Subject: Re: [ful

[2019-03-21 09:21] yumenxx opened #471 "CallDuplexConsensusReads removed too many reads"
Dear Sir，i have a question that after GroupReadsByUmi we can see same consensus reads as follows:
A00202:302:HJ5KMDSXX:3:1107:19099:20635 99      chr12   25398268        60      68M77S  =       25398268        68      ACTCTTGCCTACGCCATCAGCTCCAACTACCACAAGTTTATATTCAGTCATTTTCAGCAGGCCTTATAAAGGGAGATCGGAAGAGCACACGTCTGAACTCCAGTCACCTGATCGTATCTCGTATGCCGTCTTCTGCTGGAACAGG       FFFFFFFFFFFFFFFF:FFFFFFFFFFFFF

[2019-03-22 01:05] psur9757 opened #472 "HapCutToVcf Error"
When I run HapCutToVcf on my HapCut2 output I get the following error:
[code]

Can you please help?

I am using HapCut2 version listed here: https://github.com/vibansal/HapCUT2/releases/tag/5a6f5df as recommended here: https://github.com/vibansal/HapCUT2/issues/64

hapcut2 script
[code]

[2019-03-22 02:58] nh13 commented on #472
Can you attach the inputs?

[2019-03-22 03:03] psur9757 commented on #472
All the input files are here: [hapcut2.zip](https://github.com/fulcrumgenomics/fgbio/files/2994766/hapcut2.zip)

[2019-03-25 21:20] psur9757 commented on #472
Hello, I am just checking to see if you found the error. Thank you.

[2019-03-26 00:31] nh13 commented on #472
@psur9757 unfortunately I won't have time to look at this until late this week or next due to my client work.  My apologies in advance.

[2019-03-27 18:45] kpj commented on #400
@nh13: I still experience this problem with version `0.8.0`.
See below:
[code]
Sorting however also fails:
[code]

Does this mean that one can only call consensus sequences using paired reads?

[2019-03-27 21:57] nh13 commented on #400
@kpj did you run `GroupReadsByUmi` before `CallMolecularConsensusReads`?  Or how did you generate `test.bam`?

Yes, at the moment, it looks like single-end reads are not supported.   Unfortunately, we do not currently have plans to support single-end reads.

[2019-03-27 22:05] kpj commented on #400
I did not run `GroupReadsByUmi`. Instead, I am using the bam file I get from the [Broad Institute's DropSeq-Pipeline](https://github.com/broadinstitute/Drop-seq).
I thus have single-end reads, where each one is tagged with its barcode and corresponding UMI.

It seems like I won't be able to use `fgbio` then 😕(?)
Do you have a recommendation regarding a tool that calls consensus sequences (using UM

[2019-03-27 22:24] nh13 commented on #400
I am sorry I don’t have a recommendation at this time.

[2019-03-29 22:37] nh13 opened #474 "Metrics should be listed in alphabetical order"
http://fulcrumgenomics.github.io/fgbio/metrics/latest/

[2019-03-29 22:38] nh13 opened #475 "Personal tools should not be documented on the website"
See: http://fulcrumgenomics.github.io/fgbio/tools/latest/

[2019-03-29 22:38] tfenne commented on #474
The only downside of this is that potentially tools producing multiple metrics types that are not named with a common prefix will get sorted differently....

[2019-03-29 22:38] nh13 opened #476 "Should we add a table of contents for the CLP groups on the docs page?"
See: http://fulcrumgenomics.github.io/fgbio/tools/latest/

[2019-04-01 20:40] #475 closed

[2019-04-04 23:28] marizazh commented on #472
Hi there,
I have the same problem to convert hapcut2 result to vcf file. Can you suggest something?

[2019-04-04 23:30] marizazh commented on #472
[code]

[2019-04-04 23:41] nh13 commented on #472
@marizazh see the answer I gave to @psur9757.  It's on my list of things to do, but I am prioritizing some client work at the moment.  Thank-you for your understanding.

[2019-04-09 06:27] jtratner opened #478 "Handle closed pipe without huge traceback in `SortFastq`"
Right now, if you use `fgbio SortFastq` and do not consume all of the output, it throws a huge  traceback for the broken pipe.  This makes it confusing to a user.  E.g., when I try to pipe SortFastq to bwa with a messed up command like this (because I dropped a pipe somewhere):

[code]

I see this:

[code]

Which hides the important line:

[code]

The best would be to just swallow the exception co

[2019-04-09 07:21] elainebblythe opened #479 "Is ExtractUmisFromBam suitable for single-strand UMI?"
my data is paired-end sequence,but only R1 have UMI,I want to know whether fgbio can handle such data

[2019-04-09 13:01] tfenne commented on #479
Yes, so long as each read (R1 and R2) have some template/genomic bases you'll be fine.  UMIs are seen as belonging to the template/insert/read-pair, not just the read they are sequenced in.

[2019-04-09 13:01] #479 closed

[2019-04-09 20:44] schuc041 opened #480 "Losing lots of sequences"
When I run the CallMolecularConsensusReads, I'm losing a lot of my sequences. I should have tons of reads based on the number of unique UMIs in the original file, but when I run it, I go from 162,000+ reads to just 48. Here's the code:

$fgbio GroupReadsByUmi -s Adjacency -i tagged_fqtobam_mapped.bam -o groupedoutput.bam -l 14

$fgbio SortBam -i groupedoutput.bam -o sortedoutput.bam -s TemplateCoo

[2019-04-10 00:34] nh13 commented on #478
@jtratner I think this is really user preference.  As a user they can be a bit verbose, but as a developer who gets the bug reports, they are invaluable, as they reduce the number of times I have to request a test file significantly.  Nonetheless, we could make it optional to reduce the length of the stack trace for when we hit pipe errors, but this as I see it requires modification of a lot of to

[2019-04-10 00:41] nh13 commented on #480
There's a single group that has 160,392 reads assigned to it:

[code]

The RX for the group is `TGGAATAGATAAGG`.   There are 159,638 reads with exactly that RX value:

[code]

So I don't see a diverse set of UMIs:
[code]

How did you extract the UMIs and place them in the RX tag?

[2019-04-10 00:55] nh13 commented on #410
@dtomas1989 could you try the fix in #481 once it gets merged?

[2019-04-10 00:55] #410 closed

[2019-04-10 00:56] nh13 commented on #472
@marizazh @psur9757 can you try the fix in #481 once it gets merged?

[2019-04-10 00:59] psur9757 commented on #472
So I just reinstall fgbio and try again?

[2019-04-10 01:04] nh13 commented on #472
@psur9757 you'll need to install it from the latest master branch in github.

[2019-04-10 01:05] #472 closed

[2019-04-11 00:57] jtratner commented on #478
Awesome - that XX:MaxJavaStackTrace is great. I’ll try it out!

I am biased to think that just the specific “broken pipe” error should be
caught and ignored.

Agreed on keeping long tracebacks for everything else :)

On Tue, Apr 9, 2019 at 18:34 Nils Homer <notifications@github.com> wrote:

[2019-04-12 03:46] nh13 commented on #478
#482

[2019-04-16 20:35] schuc041 commented on #480
Hello,

Thank you for sending this along. Based on this we were able to figure out
that we were using the wrong input (a fastq file with the UMIs already
extracted vs the original) and have fixed the problem!

Thank you!
Morgan

*Morgan Meissner*
*University of Minnesota - PhD Candidate, Mansky Lab*
Molecular, Cellular, Developmental Biology, and Genetics

On Tue, Apr 9, 2019 at 7:41 PM Nils Homer

[2019-04-17 20:46] schuc041 commented on #480
Nils,

I am hoping to call SNPs from the consensus calls created with
CallMolecularConsensusReads and while I can run samtools view and samtools
sort on these output BAMs  and picard ValidateSamFile doesn't fine errors
neither freebayes or samtools mpileup seem to be able to parse the BAMs to
call SNPs. Freebayes gives me the following error ERROR(freebayes): Could
not get first alignment from tar

[2019-04-18 00:35] nh13 commented on #480
Absolutely we have called variants from the BAMs. Can you look in IGV and find a polymorphic site, extract those reads and share them? Can you check the version of freebayes/bcftools and post your command line?

[2019-05-03 09:56] alkodsi opened #484 "How does CallMolecularConsensusReads trim the reads?"
I was surprised to see that my reads were trimmed after CallMolecularConsensusReads. I didn't see an explanation in the documentation about this trimming, could you please clarify?

[2019-05-23 19:48] apallav opened #487 "build issues"
Hi,

I am having build issues when I issue sbt assembly. I am using java 8. please see my log below.please help:

fgbio]# sbt assembly
[info] Loading settings from plugins.sbt ...
[info] Loading project definition from /production/fgbio-master/fgbio/project
[info] Updating ProjectRef(uri("file:/production/fgbio-master/fgbio/project/"), "fgbio-build")...
[warn] 	::::::::::::::::::::::::::::::::::::

[2019-06-13 16:53] nh13 commented on #471
Can you post an example BAM (with header) and we can take a look?  My apologies for the late reply.

[2019-06-13 17:36] nh13 commented on #431
@ggydush sorry for the delay.  I don't think there's a bug, just a misunderstanding between `MI` and `RX`.

`GroupReadsByUmi` stores the _unique molecular identifier_ in the `MI` tag, not the `RX` tag.  Since  `RX:Z:AGT-GTT` and `RX:Z:TGT-GTT` are only one edit away, I would suspect they have the same `MI` value.  Both `CallMolecularConsensusReads` and `CallDuplexConsensusReads` use the `MI` value

[2019-06-13 19:01] ggydush commented on #431
Thank you for the explanation! I'm still confused how the final duplex UMI is `RX:Z:GGT-GTT` when there are no reads that contain `GGT` in their RX tag. I would epect the duplex RX tag to be `AGT-GTT`. Is the consensus RX tag formed without flipping the RX tags so they are in the same order?

[code]

Apologies if I'm missing something.

[2019-06-13 19:58] nh13 commented on #442
Looks like this is fixed, likely due to https://github.com/fulcrumgenomics/commons/commit/c6d541414ec0ab0bee54284dd19f932264fb6199

[2019-06-13 19:58] #442 closed

[2019-06-13 19:59] nh13 commented on #446
Fixed in #447.

[2019-06-13 19:59] #446 closed

[2019-06-13 20:01] nh13 commented on #469
Did you try using `FilterConsensusReads`?  Please re-open if you have any more questions.

[2019-06-13 20:01] #469 closed

[2019-06-13 20:02] #474 closed

[2019-06-13 20:02] #476 closed

[2019-06-13 20:02] #480 closed

[2019-06-13 20:04] nh13 commented on #484
Likely this is due to quality trimming `--min-input-base-quality`.  Can you reduce that option?

[2019-06-13 20:04] #484 closed

[2019-06-13 20:06] nh13 commented on #487
I don't think this is an fgbio issue: https://jfrog.com/knowledge-base/how-to-resolve-unable-to-find-valid-certification-path-to-requested-target-error/

[2019-06-13 20:06] #487 closed

[2019-06-13 23:20] nh13 commented on #431
No apologies necessary.  I think your right in spotting a bug: https://github.com/fulcrumgenomics/fgbio/pull/489

[2019-06-14 16:13] #478 closed

[2019-06-18 15:42] drhoads opened #490 "Specifying Windows path for --output"
Trying to setup the command line in Win10 using fgbio-0.8.1.jar and have everything working for calling DeMuxFastqs but am running in Win10 and no matter how I try to specify the required --output I get a Exception: NoSuchFileException.  I am running in a subdirectory on my D drive.  I can't figure out how to specify either leave the output in the same folder or put in a subfolder (demux) that exi

[2019-06-19 19:54] ggydush opened #491 "Non-unique duplexes near repetitive regions"
We have found what appears to be a single duplex consensus molecule duplicated when the end of fragment lies in a homopolymer region. We are still unsure of the exact mechanism (polymerase slippage during PCR, sequencing error, etc.), but it has lead to false duplex depth and duplication of mutant molecules.

I've attached a screenshot showing an example where there are 6 duplex molecules all with

[2019-06-21 00:16] nh13 commented on #491
If you look at the start of the reads in sequencing orientation (i.e. the first base sequenced) on the right most reads, they are mapped to the reverse strand, so the right-most bases are the first bases sequenced.  It looks like the right-most reads start in a homopolymer of significant length (ex 9+ bases), which is a known error mode of Illumina sequencing.  I am surprised the quality _after_ t

[2019-06-24 14:58] aerijman opened #494 "ErrorRateByReadPosition does not work without "reference.dict""
Hi,

ErrorRateByReadPosition only works if a`<path_to_reference_genome>.dict` file has been produced, for instance with samtools dict.

__Is this intentional?__ I don't see any gain on it and also I don't think this is referenced in the documentation.

Thank you

[2019-06-24 19:29] nh13 opened #495 "DemuxFastqs should fail or warn if the input sample barcodes are not far enough apart in edit distance"
I could see it working like this.

1. Compute the edit distance between all pairs of barcodes.
2. Factor in `--max-mismatches` and `--min-mismatch-delta` to log if a pair of barcodes is "too close".  "Too close" needs to be defined.

[2019-06-26 00:10] nh13 commented on #494
This is really common with fgbio and Picard tools, though I don't think we have documented that in a lot of places, but we use the ".dict" file or (".fai" file) to get what we call the sequence dictionary, akin to the sequence header lines in the BAM file.  This ensures that all the inputs have the same set of references (ex. `SQ` lines in a SAM/BAM, `contig` lines in a VCF, the `.dict` for refere

[2019-06-26 00:10] #494 closed

[2019-06-26 23:26] nh13 commented on #464
I am unable to reproduce the bug.   Can you verify that when you run _just those reads_ you get duplicates?

Output on the 4-record bam in 0.7.0:
[code]

Output on the 4-record bam using the latest master commit (bf8c700):
[code]
Output on the 8-record bam in 0.7.0:
[code]

Output on the 8-record bam using the latest master commit (bf8c700):
[code]

[2019-06-26 23:26] #464 closed

[2019-06-27 07:09] cxue opened #498 "How to set --read-structure using +T 9M+T?"
I have a 9-bp UMI in R2 files. I'd like to extract UMI using:
java -Xmx200g -Djava.io.tmpdir=`pwd`/tmp -jar $FGBIO ExtractUmisFromBam \
--input=../call/$SAMPLE.uBAM.bam \
--output=../call/$SAMPLE.umi.uBAM.bam \
--read-structure=+T 9M+T \
--single-tag=RX \
--molecular-index-tags=ZA ZB

But I got the error message:
Exception: ValidationException
Error: Either a single SAM tag, or the same # of SAM t

[2019-06-27 14:21] tfenne commented on #498
Hi @cxue the problem is that the total number of molecular barcodes in your read structures is 1 (i.e. `+T` contains zero and `9M+T` contains one), but the number of tags in which to store molecular indices given is two (`--molecular-index-tags=ZA ZB`).  The message is trying to tell you that either a) those counts need to match or b) you can always specify just one tag, and all the UMIs will be c

[2019-06-27 15:52] cxue commented on #498
Hi, Tim,
      Thank you for much for kindly help! I got it.

      best
     Cheng

Tim Fennell <notifications@github.com> 于2019年6月27日周四 上午7:21写道：

[2019-07-19 06:13] kysbbubbu opened #504 "Is there any reference to cite the use of fgbio?"
Hello, I have been used fgbio for UMI deduplication process.

Is there anyway to cite fgbio in the methodology session of manuscript?

Thank you for developing and sharing a nice tool

[2019-07-23 14:36] tfenne commented on #504
Thanks for the kind words.  We haven't published any of our work, so if you could please just cite the website at either https://github.com/fulcrumgenomics/fgbio or http://fulcrumgenomics.github.io/fgbio/ that would be great.

[2019-07-23 14:36] #504 closed

[2019-07-23 14:37] #498 closed

[2019-07-23 14:47] tfenne opened #508 "Add tooling & docs to replace picard's SamToFastq and MergeBamAlignment"
Our current UMI pipelines tend to involve going to uBAMs with UMIs in them, then using a chain of `picard SamToFastq | bwa or other aligner | MergeBamAlignment`.  Both of the picard tools have grown in complexity over the years, and can be quite intimidating for folks who haven't used them before.  In addition the need to sort BAMs into htsjdk-queryname order adds an extra time-consuming sort to t

[2019-07-24 15:55] nh13 opened #509 "Switch to Threads.IterableThreadLocal after commons #51 is released"
This is a note to our future selves.

See commons: https://github.com/fulcrumgenomics/commons/pull/51

See the fgbio PR: https://github.com/fulcrumgenomics/fgbio/pull/493/files#diff-be22aa50b0599ab40890df78e4077c27R108

[2019-07-25 17:09] Emmalynchen opened #510 "Read structure with variable skip base length"
I've tagged my molecules with the ThruPLEX Tag-seq kit (library structure below), done targeted 150bp PE sequencing, and was wondering how I should treat the variable 8-11nt stem that comes after UMI1 and UMI2.

![Screen Shot 2019-07-25 at 9 39 00 AM](https://user-images.githubusercontent.com/11758684/61892314-600e1400-aec0-11e9-925d-826f3e302c29.png)

I'm currently skipping 8nt and assuming the a

[2019-08-07 22:06] nh13 commented on #510
@Emmalynchen to be honest, since you don't actually know the length of the variable sequence in each read (even with alignment to a reference, you can have the last 1-3 bases randomly match the reference), I would recommend trimming 11bp after UMI1/UMI2.  Yes, you'll invariably lose a few extra bases that _could have been_ part of the insert, but at least you won't randomly call parts of the stem

[2019-08-07 23:34] Emmalynchen commented on #510
Yes, that makes sense. So it's better to trim the additional bases, even if that means trimming bases that are part of the template, to ensure that when there are bases that aren't part of the template they're not used for incorrect alignment.

[2019-08-07 23:34] #510 closed

[2019-08-16 15:29] tfenne opened #517 "RandomQuery sort can do the wrong thing when there are hash collisions"
Although hash collisions should be fairly rare, they are not zero-probability.  Since RandomQuery uses the hash of the read name, and the flag bits, if two read names hash to the same value the sort will not be query-grouped.

Example query names that create a collision with the current implementation:

[code]

I think the only real solution here is to extend the sort key to include the full query

[2019-08-16 17:32] #517 closed

[2019-08-22 23:27] skywyx opened #522 "umi masked as N when using CallDuplexConsensusReads"
Hi fgbio team:
   Thank for your wonderful job.
   CallDuplexConsensusReads masks some umis in RX tags with 'N'
   Is that designed to be ? why?
   looking forward for your reply
`java -jar fgbio-0.8.1.jar CallDulplexConcensusReads -i test.umi.group.bam -o test.dulplex.bam`
[test.zip](https://github.com/fulcrumgenomics/fgbio/files/3532255/test.zip)

[2019-09-04 14:26] tomSimonet opened #526 "unwanted trimming of overhanging reads during CallMolecularConsensusReads"
Hello,
I'am using GroupReadsByUmi followed by CallMolecularConsensusReads on personal paired-end data;
in some amplicons, paired reads overlap and even overhang, eg the 3'end of the reverse read ends before the 5' end of the forward read :
.....----->
<---------
this is potentially due to primer trimming on F1 read, in the fastq;
in these cases, CallMolecularConsensusReads trim the reads to just t

[2019-09-04 17:25] nh13 commented on #526
@tomSimonet can you share a SAM/BAM that's been subsetted to just the reads with the `MI` tag `350549` from the `GroupReadsByUmi` BAM (please included the SAM header lines too)?  This would help us debug the issue.

[code]

[2019-09-05 07:17] tomSimonet commented on #526
Hello,

Here is the sam for the group 350549, and , in case it might help, another sam for the whole UMI CGAAGGGCTATG it is derived from.

Many thanks

Thomas

De : Nils Homer [mailto:notifications@github.com]
Envoyé : mercredi 4 septembre 2019 19:25
À : fulcrumgenomics/fgbio
Cc : tomSimonet; Mention
Objet : Re: [fulcrumgenomics/fgbio] unwanted trimming of overhanging reads during CallMolecularCon

[2019-09-11 16:21] theisaacwong opened #527 "Overzealous filtering of reads during CallDuplexConsensusReads"
Hi,

I'm using `GroupReadsByUmi` followed by `CallDuplexConsensusReads` on high read depth, high quality paired end reads. `GroupReadsByUmi` creates a 25GB bam file. When I then call `CallDuplexConsensusReads`, the ouput is only about 500MB. I was expecting a similarly sized ouput file.

Here's the commands I run

Am I misunderstanding the output of `CallDuplexConsensusReads` ?
Is there a next ste

[2019-09-11 16:35] Emmalynchen opened #528 "GroupReadsByUmi Error java.nio.file.NoSuchFileException: /dev/stdin"
I am using `fgbio Version: 0.9.0-0dda145-SNAPSHOT` to run `GroupReadsByUmi` on a sorted, mapped BAM with duplex RX tags and am running into the following error:

[code]

Here is the command:
[code]
Two reads from the input bam containing two hyphen separated UMIs in the RX tag:
[code]
Here are the upstream processes:
1. I started with a pair of `R1/R2.fastq.gz` files that have two UMIs and generat

[2019-09-11 17:11] tfenne commented on #527
Hi @theisaacwong I think you are indeed misunderstanding the results here.  `CallDuplexConsensusReads` generates a single consensus read from multiple input reads.  I.e. if you have 6 F and 6 R reads from the same molecule (i.e. with the same duplex UMI) then you'll see a 6->1 reduction in reads for that molecule in the output.  Generally the goal for duplex experiments is to have 2-3 reads per st

[2019-09-11 17:19] tfenne commented on #527
The other possibility here is that the `--min-reads` defaults are causing a lot of reads to be discarded.  By default it requires at least 1 read from each strand to form a duplex consensus.  If you have a lot of molecules with only reads from one of the two original strands, then a lot of your data will be discarded/filtered and not make it into consensus.

[2019-09-13 15:37] chadisaad opened #529 "Unmapped reads dropped out with GroupReadsByUmi"
Why unmapped reads are removed from BAM file when doing GroupReadsByUmi ? even with "--min-map-q 0" param

[2019-09-13 15:39] chadisaad opened #530 "CallMolecularConsensusReads generate unmapped BAM"
when doing CallMolecularConsensusReads , the generated BAM is unmapped ! when doing samtools flagstat, I got 0% mapped read. I also verified the BAM file content.

Do I have to align again with BWA ?

[2019-09-13 17:20] nh13 commented on #529
@chadisaad see [the tool documentation for `GroupReadsByUmi`](http://fulcrumgenomics.github.io/fgbio/tools/latest/GroupReadsByUmi.html

The tool was designed for the case where the same UMI could be present in two or molecules, so we need to use the genomic coordinates.  I suppose if you'd like it to ignore coordinates, you could assign all reads to the same coordinate (ex `chr1:1`), but I would b

[2019-09-13 17:22] nh13 commented on #530
Yes, it is very tricky to keep track of and decide on a consensus _mapping_ in addition to consensus _making_, so we decided to make the output reads come out as unmapped.  Typically, the # of consensus reads is **much** smaller than the # of input raw reads, so mapping the consensus reads should not be such a burden.

[2019-09-13 20:33] fleharty commented on #530
@nh13 What's a typical fraction of loss that you see.  Sometimes I see 20x loss.

[2019-09-13 21:45] nh13 commented on #530
@fleharty what do you mean by loss. Do you mean how many consensus reads that don’t map? Number of consensus reads over the number of raw reads?

[2019-09-16 14:52] #527 closed

[2019-09-16 23:36] nh13 commented on #528
@Emmalynchen
1. What operating system are you running this on?  It's really odd that `/dev/stdin` doesn't exist.  Maybe you're running `MinGW` on Windows which doesn't have `/dev`?

2. Less likely, but does `/scratch/sf181750` not exist?  You're setting:
```-Djava.io.tmpdir=/scratch/sf181750```
and since the stack trace threads back through `Sorter`, where it is trying to open a temporary file, I

[2019-09-16 23:40] #529 closed

[2019-09-17 02:36] Emmalynchen commented on #528
1. I'm running this on a Linux compute cluster which should have `/dev`
[code]
2. `/scratch/sf181750` exists on all the nodes that my jobs are submitted to. I removed `-Djava.io.tmpdir=/scratch/sf181750` allowing the temporary files to be generated at a default(?) location, but ran into the same error. Is it unable to find the sorted temporary file?

Is it possible to skip sorting at the `GroupRea

[2019-09-17 04:17] nh13 commented on #528
No, the tool will add MI tags which are needed for the consensus caller.  There’s definitely something strange going on. Paging @tfenne and @jacarey

[2019-09-17 13:40] fleharty commented on #530
@nh13
<img width="707" alt="Screenshot 2019-09-17 09 38 13" src="https://user-images.githubusercontent.com/10714381/65046569-e0844a80-d92e-11e9-86e4-92b9ca7a9e1b.png">

I've attached a plot from a set of reads with family size 11.  In this plot you can see the ba size plotted with respect to the number of observed reads.  The red line is a fit of a beta-binomial model.  The fit is pretty good down