[2019-09-17 17:58] Emmalynchen commented on #528
Ah, I forgot about the MI tags. I wanted to check what temp files were in `/scratch/sf181750` when the tool is running, and it looks like they are at least being generated during the sorter step:

[code]

[2019-09-17 18:20] jacarey commented on #528
Hi @Emmalynchen. Can you let me know what shell you are using?  There is a check that we do when creating an inputstream to determine if the path you are passing us is standard in. For some reason when we ask the OS to run fstatat on /dev/stdin it is telling us that it doesn't exist. I'd like to set up a node using the same OS and shell to see if I can reproduce it.
Thanks!

[2019-09-17 18:44] Emmalynchen commented on #528
Hi @jacarey, I'm using `bash`. Thank you for looking into this!
[code]

[2019-09-19 12:40] jst43 opened #531 "CallMolecularConsensusReads Error java.lang.ArrayIndexOutOfBoundsException"
I have a mapped BAM with UMIs on which I've already run the following commands without error: bwa mem; AnnotateBamWithUmis; SortBam; SetMateInformation; and GroupReadsByUmi.

I'm now attempting to run the following CallMolecularConsensusReadsCommand:
`fgbio --tmp-dir=./fgbio_tmp CallMolecularConsensusReads -1 41 -i ./groupby_umi.bam -o ./call_consensus.bam -M 2 2> ./call_consensus.log`

However th

[2019-09-19 12:48] tfenne commented on #531
@jst43 Could you please share what version of fgbio you are using?  The latest version has a comment at `UmiConsensusCaller.scala:210` so I'm struggling a little bit to figure out exactly which line is causing the exception.

My best guess given the stack trace is that there's something funny with the bases and/or quals for a read in your BAM file.  If I had to guess, I would guess that you have a

[2019-09-19 12:57] jst43 commented on #531
@tfenne I originally ran it using v0.4, and then when I encountered the error I upgraded to v1.0.0 to see if that would help. I thought I'd pasted in the error message for v1.0.0 but I guess I used v0.4 by mistake. Here's the error message for v1.0.0:

    Time for last 2,000,000:  266s.  Last read position: */*
    [2019/09/19 03:25:41 | CallMolecularConsensusReads | Info] processed    12,500,000

[2019-09-23 10:45] jst43 commented on #531
@tfenne You were right; I found a single 57bp read with no associated quality score that was introduced at the bwa mem stage. Once I removed it the bam passed CallMolecularConsensusReads without error. Thanks for your help.

[2019-09-23 10:45] #531 closed

[2019-09-24 03:53] finswimmer opened #532 "Clip primer sequences post alignment"
Hello,

we are doing targeted sequencing using a Qiagen Kit. During library prep the dna is fragmented and tagged with UMI and a universal primer sequence at one end of the strand. So for the enrichment only one specific primer per amplicon is needed.

I would like to clip the primer sequences after alignment. `fgbio` provides the tools `TrimPrimers` and `ClipBam`. The first one expect a pair of p

[2019-09-25 21:47] nh13 commented on #522
@skywyx my apologies for the late reply, but we also build a consensus call for the bases in the `RX` tags across the input reads for that duplex, so we may have some some disagreement across `RX` tags that cause ambiguity (i.e. they are equally likely) so they would be output as `N`

[2019-09-25 21:47] #522 closed

[2019-09-25 21:55] nh13 commented on #532
@finswimmer I haven't tried it, but you might try running `TrimPrimers` as follows.

Assume a forward primer.  Set the coordinates `chrom`/`left_start`/`left_end` (as described in the usage) to the primer coordinates, and set `right_start` to one base past the end of the amplicon, and `right_end` as one minus `right_start`.

Assume a reverse primer.  Set the coordinates `chrom`/`right_start`/`righ

[2019-09-25 22:09] nh13 commented on #530
@fleharty I don't think we can comment publicly about what we see in our client data, but if you shoot us an email, we can introduce you to folks who can.

[2019-09-25 22:09] #530 closed

[2019-09-25 22:50] nh13 commented on #526
@tomSimonet I see the place where it is trimming: https://github.com/fulcrumgenomics/fgbio/blob/master/src/main/scala/com/fulcrumgenomics/umi/UmiConsensusCaller.scala#L247-L256.  I could add an option to skip this step, but I am genuinely curious about your experiment.  My intuition is that if the 3' end of R2 reads beyond the 5' end of R1 (forward/reverse read pairs), then the 3' end R2 reads int

[2019-09-26 14:27] tomSimonet commented on #526
You're right, it falls within the R1 specific primer, which I have trimmed only from the R1 read, in order to keep this region (amplicons are in some place not sufficiently overlapping) and to get a less biased estimation of the allelic depth of any variant embedded within it (so only based on the R2 read).

![qiaseq](https://user-images.githubusercontent.com/43646785/65695127-3c5d7a80-e077-11e9-9

[2019-09-26 23:17] Emmalynchen commented on #528
Following up to see if there are any suggestions to help address the error I'm seeing.

[2019-09-26 23:44] nh13 commented on #526
@tomSimonet if your amplifying products based on the gene specific primer, then all products will contain the complementary sequence of the GSP .   So when you sequence from read 2, you'll read through the template (sample DNA fragment) and into the primer sequence.  If there's a variant under primer, you get worse amplification (i.e. allele amplification bias), but the products themselves will al

[2019-09-26 23:45] #526 closed

[2019-09-27 16:29] nh13 commented on #528
Hey @Emmalynchen we are currently [prioritizing client work](http://www.fulcrumgenomics.com/contact/), but this is the list of issues to get done.
We appreciate your patience.

[2019-09-30 04:00] finswimmer commented on #532
Hello @nh13,

unfortunately this doesn't work. The reads are trimmed to much. I guess the problem is:

Another work around I could imagine, is to extract the mapping position of the read paires and build a new primer file based on that (Looking which read starts a a primer position and choose  the primer position and length and of the second strand in that way, that it becomes 0). I could not test

[2019-09-30 05:22] nh13 commented on #532
What reads are trimmed too much and why? That doesn’t make sense to me.

[2019-09-30 05:38] finswimmer commented on #532
I was afraid that my description is confusing. So next try ;)

I have paired end data. So `TrimPrimers` need to know where an amplicon starts and where it ends. If it finds an amplicon, for which no coordinates are provided, it will trim the 5' end of both reads by the maximum primer length provided.

Due to my library prep, where one end is randomly fragmented and the other one is determined by t

[2019-09-30 05:52] nh13 commented on #532
I understand now. Let me see what I can do. It may be a little while as I have to prioritize client work but it shouldn’t be that hard.

[2019-10-10 12:00] hustal opened #536 "AnnotateBamWithUmis"
Hi,

I used the following command to annotate UMI in bam files,

java -jar ~/My_Tools/fgbio-1.0.0.jar AnnotateBamWithUmis -i ~/Test_Output/SRR4238351s.bam -f ~/Test_Data/SRR4238351s_umi.fastq -o ~/Project/UMI/SourceCode/test.bam

Sometime it works fine but sometime I got the following error,

[2019/10/10 13:45:00 | FgBioMain | Info] Executing AnnotateBamWithUmis from fgbio version 1.0.0 as husain.

[2019-10-10 14:39] nh13 commented on #536
See both https://github.com/fulcrumgenomics/fgbio/pull/534 and See: https://github.com/Intel-HLS/GKL/issues/101. It looks like Intel has a bug in their code that makes it not work on Mac 10.14+

[2019-10-10 14:39] #536 closed

[2019-10-14 01:22] naumenko-sa opened #538 "why CorrectUmis increases the size of the bam file 9fold"
Hello, fgbio developers!

Thanks for the great suit of tools to work with UMIs!

I've noticed that when correcting UMIs against the pre-defined while list, the resulting bam file is huge. My input was 36G, after correction with

[code]
samplex-sort-umis_corrected.bam is 332G.

When I sorted it after fgbio with:
[code]
the file size reduced not so much: 311G

Could you please explain, why CorrectUm

[2019-10-14 02:15] tfenne commented on #538
Hi @naumenko-sa - is you input BAM file compressed?  My guess would be that it is, and that your output BAM file is not since I see `-compression=0` in your command.  I would suggest two things:

1. Try dropping that argument to go back to the default compression level (or if you're worried about speed, keep it and pipe into `samtools view` or `sambamba view` to compress).
2. Try running `samtools

[2019-10-15 18:03] naumenko-sa commented on #538
Hi Tim @tfenne!
Thanks, the default compression with `fgbio ... | samtools view -bh > output.bam` helped.
SN

[2019-10-15 18:03] #538 closed

[2019-10-17 17:15] hydriniumh2 opened #540 "DemuxFastqs --illumina-standards isn't adding barcode or Umi"
Hi,
I'm currently trying to demultiplex some paired end 300bp samples with the UMI integrated in index2 and I found your DemuxFastqs tool, which seems like it would fit our use case very well. However, our workflow currently uses fastq input rather than uBams, and it seems that if you set --illumina-standards it doesn't include the barcode or umi in the header, despite appearing in the uBAM output

[2019-10-17 17:36] nh13 commented on #540
Please read the usage of the tool, in particular the section "Illumina FASTQ File Naming" copied here

[code]

[2019-10-17 17:36] #540 closed

[2019-10-17 17:39] nh13 commented on #540
Also, the purpose of this option was to enable upload of the FASTQs to BaseSpace, which requires read names to be in a particular format: https://help.basespace.illumina.com/articles/descriptive/fastq-files/

[code]

[2019-10-17 17:41] hydriniumh2 commented on #540
I see, thank you for clarifying

[2019-10-17 17:57] hydriniumh2 commented on #540
Its not a problem. `samtools fastq` and some awk can convert the uBAM to the desired format, but I wanted to check if I could cut down on some steps.

[2019-10-21 01:01] mdem7705 opened #541 "HapCutToVcf error: issues with BLOCK separators"
Hey guys,

I am getting this error from my HapCUT2 output:

[code]
It seems like there is an issue processing the delimiter line between my blocks, viewed here in a section of my hapCUT2 output file:

[code]
I could easily edit out the problem line, but I think this may be a symptom of a larger problem so I'd rather check first.

Here is the code I am trying to run:

[code]
Here are my fgbio input

[2019-10-21 22:00] nh13 commented on #541
@mdem7705 I think the `prune_haplotype.py` script is causing the issue, since it is no longer in the format we expect.  For example this block expects `113,213` phased variants out of `132,772`:

[code]

but there are only `88,999` variants (lines) after this block definition.  You'll see things like:

[code]

Ideally, the script would output in the same format as the inputs.  Can you contact the

[2019-10-24 13:11] rainakumar opened #543 "trying to run on non network computer"
Hi I am trying to run fgbio in non network computer and I am getting following error. I think it is looking for local host and I think it is coming from your cmdline fgbiomain class when looking for DMS. I tried to built the jar by commenting out this part of the code but I am failed to build jar using sbt.
Exception in thread "main" java.net.UnknownHostException: removed url address: removed url

[2019-10-24 15:19] tfenne commented on #543
It's only looking up the hostname so that it can print it out.  We could probably just catch the exception and use `unknown-host` or something like that.

It's also likely you could circumvent the issue in the mean time if you had some kind of loopback network configured (i.e. the machine isn't connected to a network but the OS presents a network interface).

[2019-10-24 16:14] #543 closed

[2019-10-24 16:42] rainakumar commented on #543
Thanks for quick update on this. Can you please let me know where I can find the updated jar file after adding catch exception. I can not have loopback network due to gov security settings. I tried to build the jar using sbt but it seems like it is giving ssl issues. I appreciate your help on this.

[2019-10-24 16:45] rainakumar opened #546 "Thanks for quick update on this. Can you please let me know where I can find the updated jar file after adding catch exception. I can not have loopback network due to gov security settings. I tried to build the jar using sbt but it seems like it is giving ssl issues. I appreciate your help on this."
Thanks for quick update on this. Can you please let me know where I can find the updated jar file after adding catch exception. I can not have loopback network due to gov security settings. I tried to build the jar using sbt but it seems like it is giving ssl issues. I appreciate your help on this.

_Originally posted by @rainakumar in https://github.com/fulcrumgenomics/fgbio/issues/543#issuecomme

[2019-10-24 16:45] #546 closed

[2019-10-24 16:47] rainakumar commented on #543
Thanks for quick update on this. Can you please let me know where I can find the updated jar file after adding catch exception. I can not have loopback network due to gov security settings. I tried to build the jar using sbt but it seems like it is giving ssl issues. I appreciate your help on this.

[2019-10-28 16:17] danielnavarrogomez opened #547 "CollectDuplexSeqMetrics needs raw-tag argument"
Hello!

I use different tags than "RX" on my bam files and that works fine for all the tools I use from fgbio but CollectDuplexSeqMetrics which doesn't have an option to change it from the default one.

As an example, if I use this command:
java -jar fgbio GroupReadsByUmi --input=INPUT.bam --output=OUTPUT.bam --strategy=paired --raw-tag=XD --min-map-q=30

The output file is not usable for CollectD

[2019-10-28 17:24] nh13 commented on #547
@danielnavarrogomez see #548

[2019-10-30 21:38] nh13 opened #549 "DemuxFastqs debug mode"
I've found the following useful for debugging, and so I'd like them to become debug options.   The `group="debugging"` should be set on the argument annotation for the command line option.

1. support not outputting any records (just the metrics file)
2. option to process only the first `m` templates
3. option to process every `n`th template

I think (2) and (3) could be used together: output ever

[2019-11-16 08:18] skywyx commented on #522
@nh13 I got your point. But I'm still confused.
Did you see the reads I uploaded in [test.zip](https://github.com/fulcrumgenomics/fgbio/files/3532255/test.zip) ? The two pairs of reads has `RX` tags  `ACTGATG-TACGCTA` and `TACGCTA-ACTGATG` respectively. And they are grouped to single group by `GroupReadsByUmi`(i.e. they have common MI tags prefix) .  In theory, thier `RX` tags completely agree wit

[2019-11-16 08:32] nh13 commented on #522
I am heading out for vacation for two weeks, so I may not be able to take a look. Can you try the latest fgbio, as I’m curios if this pr https://github.com/fulcrumgenomics/fgbio/pull/489 has fixed your issue.

[2019-11-20 19:09] nh13 opened #551 "Potential speed up to Aligner"
Leaving this here for our later selves.  In `fillInterior`, we could define a method and a few `var`s:
[code]
and add this to the inner loop in `fillInterior`:
[code]
and have `fillInterior` return `bestLocation`.   We can then avoid calling `findBest`.  I've found this improves run time by 10% in another application.

[2019-12-04 11:37] skywyx commented on #522
Thank you. The issue has been fixed in latest fgbio.

[2019-12-05 12:03] fgvieira commented on #444
Hi @fa-vio,

I am having the same issue and not sure how to fix it? What do you mean by "handled using PICARD's tools before I could use FGBIO's"? Is it just running the BAM files through `CleanSam`? Or `ValidateSamFile`?

[2019-12-06 23:42] tfenne opened #554 "RunInfo class should support date format `mm/dd/yyyy h12:mm:ss AM/PM`"
Turns out that NovaSeq runs may be using a new date format `mm/dd/yyyy h12:mm:ss AM/PM`.

[2019-12-10 01:16] doranlab opened #556 "CallDuplexConsensusReads Raw Reads Filtered Due to Not Enough Reads"
Hello,

We are playing around with our endogenous UMI content and length and and we created the attached bam files and now we are getting an issue with CallDuplexConsensusReads which states "Raw Reads Filtered Due to Not Enough Reads (Either Total, AB, or BA): 45,386,024 (1.0000)". The only change has been in the UMI content. Is there an email I can send the original and new bam files after they h

[2019-12-10 01:36] nh13 commented on #556
@doranlab nothing looks obvious from the example besides there only being `/B` reads (where are the `/A`?).  I think you're 80% of the way to creating a good test case.  Could you find a family  (ex. `1000006`) where you could attach the SAM file (header included) for the original and new UMIs? For example, for each of the input BAM files:
[code]

Also, version `0.5.0` was released in February of

[2019-12-11 00:05] doranlab commented on #556
Hi Nils,

Thank you for your help, your comment helped me to troubleshoot the results. The way we were extracting the UMIs were resulting in different families for the A strand and B strand groups which then obviously resulted in zero consensus reads.

Thanks,
Lauryn

[2019-12-11 00:20] #556 closed

[2019-12-12 01:17] jianglidu commented on #471
did you have solve the question about "CallDuplexConsensusReads removed too many reads" ? now, i have the same question. after   "CallDuplexConsensusReads",  perhaps only one read is reserved.

[2019-12-20 10:11] fgvieira opened #557 "CorrectUmis: allow for different length UMIs"
Dear all,

I've been trying to use `fgbio CorrectUmis` to process some data from Illumina's TSO500, but they use a mixture of 6bp and 7bp UMIs.

Since `bcl2fastq` needs a fixed length UMI, we've set it to 7 but that means the 6 bps UMIs come with an extra base. I've tried setting the UMI as `AACCGCN`, but that means the last base always counts as a mismatch and the `N` is included in the `RX` fiel

[2019-12-23 18:52] nh13 commented on #471
@yumenxx feel free to re-open if you can post an example BAM.

@jianglidu can you open an new issue and post a test case?

[2019-12-23 18:52] #471 closed

[2019-12-23 19:07] nh13 commented on #557
@fgvieira I like the idea of adding an `N` to the 6bp UMIs in the file of "expected UMIs". Then you can use the new option `--allow-ns=true` I implemented here: https://github.com/fulcrumgenomics/fgbio/pull/558

[2019-12-23 19:07] nh13 commented on #557
@fgvieira can you report back if that worked for you?

[2019-12-30 01:20] fengshuaisheng opened #559 "CorrectUmis --umi-files Q: what is the rules of the umi sequence in “umis.txt”"
hi :
   I hava a question while using the CorrectUmis, The parameter --umi-files of CorrectUmis can specify a file eg: umis.txt, the description of the umi file is "File of UMI sequences, one per line."  but I don't know how to definition of one UMI sequence, eg: the ahead of 12bp is UMI(random sequences) and 13-20bp is common seq (AATGTACAGTATTGCGTT) my fastq files of read1, and 21bp is  common s

[2020-01-03 11:47] fgvieira commented on #557
@nh13, thanks for the changes. It seems to work fine.
The only thing would be that it saves the UMI with the N:
[code]

I don't think it will affect downstream analyses, but wouldn't it make more sense to remove the `N`?

[2020-01-06 13:33] fgvieira commented on #557
Actually, having `N`s int he UMIs affect downstream analyses, namely the `GroupReadsByUmi` step:
[code]

[2020-01-08 16:29] clintval opened #561 "Request for an optional implicit to provide Variant conversions?"
Are you amendable to supporting the compatibility between `Variant` and `VariantContext` classes through an implicit import that provides some of the helper methods in:

https://github.com/fulcrumgenomics/fgbio/blob/e7ac6078850f272183d786576c1694e3654ada67/src/main/scala/com/fulcrumgenomics/vcf/api/VcfConversions.scala#L46

Reason being, I want to use the new API for working with variants and VCF

[2020-01-09 23:08] nh13 commented on #561
@clintval summarizing a conversation you had with @tfenne, I think we'd suggest creating a `Compat` object in the `com.fulcrumgenomics.vcf.api` package:

[code]

[2020-01-09 23:09] nh13 commented on #561
@clintval also assigning this to you so you can drive a PR to add this capability when needed.

[2020-01-10 02:20] nh13 commented on #557
@fgvieira I see three option:
1. `CorrectUmis` converts all `N`s to `A`s
2. `GropuReadsByUmi` allows variable length tags (hard)
3. `GroupReadsByUmi` allows `N`s in the UMI.  We could differentiate lower case `n`s versus upper case `N`s, where the former is given as part of the UMI input to `CorrectUmis` and the latter are masked/unknown basecalls from the sequencer.

I prefer the latter.  @tfenne

[2020-01-14 16:02] fgvieira commented on #557
If option 2 is hard then I'd also prefer option 3, but I find a bit confusing having both `N`s and `n`s with different meanings... can we use another character? For example:
- `N`: for masked/unknown bases that count as mismatches
- `X`: for ignored bases that do not count as mismatches

If so, then it would also be nice if the same code was used throughout `fgbio` (i.e. on `CorrectUmis`).

[2020-01-14 18:46] tfenne commented on #557
I think it would be best to pursue @nh13's option 2 - allowing `GroupReadsByUmi` to deal with variable length UMIs.  I think we could accomplish this in a semi-trivial fashion just by partitioning on UMI length early in the grouping step.  I.e. if you give mixed length input, it will assume that a 6bp UMI and a 7bp UMI can't possibly be the same underlying UMI, so it would split the pool by UMI le

[2020-01-15 16:07] nh13 commented on #557
So we'll need to update `CorrectUmis` as well.  @tfenne I'm a bit busy over the next week with client work, so I'll leave this unassigned in case either of us want to pick this up.

[2020-01-21 23:54] nh13 commented on #554
Solved by: https://github.com/fulcrumgenomics/fgbio/pull/555

[2020-01-21 23:54] #554 closed

[2020-01-21 23:57] nh13 commented on #559
The tool expects the UMIs to already be in the `RX` tag to correct them.  You can use `ExtractUmisFromBam` to set the tag on each read prior to correcting them.

[2020-01-21 23:57] #559 closed

[2020-02-03 14:34] fgvieira commented on #556
@doranlab, could you elaborate on what was your issue? I am having similar problems with `fgbio`.

@nh13 Right now, I am
- extracting UMIs (in-house script)
- correcting UMIs (`fgbio CorrectUmis`)
- Fix Mate info (`gatk FixMateInformation`)

and I get a BAM file like:
[code]

then I group the reads by UMI (`fgbio GroupReadsByUmi --strategy Paired --input $SAMPLE.cUMI.sorted.bam --family-size-histo

[2020-02-04 22:37] doranlab commented on #556
Hi fgvieira,

I figured out that the way i was pulling my umis was resulting in two different UMI families that should have been identified in the same group, so i was ending up with only /A reads. I suggest going back to your extraction logic and make sure your umis are going to match. I did this by taking the read ID of one of my /A reads and looking for the Read 2 in the original Fastq and usin

[2020-02-13 05:28] ichorny opened #565 "Extraction of UMI from FASTQ and bcl2fastq"
I can't seem to figure out how to go directly from FASTQ file to UMI extraction. Converting FASTQ to unaligned BAM and then doing the extraction feels like an extra step? Maybe I am missing something?

Is there any plan to support bcl2fastq2.2 UMI extracted FASTQ files? bcl2fastq puts the UMI in the read name.

[2020-02-13 15:38] ichorny commented on #565
I realized the by providing a read structure as an input parameter the conversion creates an unaligned bam file that has the UMI extracted from the read and placed in a tag (RX).

The problem I then face is a tool which uses as input unaligned bams. I use both BWA and Sentieon neither of which support unaligned BAMs as an input. It would be great if fgbio tools could read the UMI information from

[2020-02-13 16:10] nh13 commented on #565
@ichorny

To do extraction in one step from FASTQ to BAM, you can:
* have `bcl2fastq` output a un-demultiplexed FASTQ(s) and use fgbio's `DemuxFastqs`, which can output BAM or FASTQs (or both).
* run `FastqToBam` to convert a single-sample's set of FASTQs to BAM

I would then suggest using tools like Picard's `SamToFastq` or `samtools fastq` to covert the unaligned-BAM to FASTQ and directly pipe t

[2020-02-13 16:35] tfenne commented on #565
I think we could also potentially add a small tool that would extract the UMI from the read name (where bcl2fastq2 deposits it) and put it into the RX tag.  I'm pretty adamant that the major tools (GroupReadsByUmi, CorrectUmis, etc.) should not be trying to parse things out of read names, but should be using the RX tag directly.  But a small tool to transfer/copy the UMI out of the read name and i

[2020-02-13 16:59] ichorny commented on #565
I wrote a script to do just that but it would be nice if it was part of a
community supported tool.

*Sent with Shift
<https://tryshift.com/?utm_source=SentWithShift&utm_campaign=Sent%20with%20Shift%20Signature&utm_medium=Email%20Signature&utm_content=General%20Email%20Group>*

On Thu, Feb 13, 2020 at 8:35 AM Tim Fennell <notifications@github.com>
wrote:

--
Ilya Chorny Ph.D.

[2020-02-13 17:05] ichorny commented on #565
But it feels redundant to spend 10-15 minutes moving a tag from one place
to another.

*Sent with Shift
<https://tryshift.com/?utm_source=SentWithShift&utm_campaign=Sent%20with%20Shift%20Signature&utm_medium=Email%20Signature&utm_content=General%20Email%20Group>*

On Thu, Feb 13, 2020 at 8:58 AM Ilya Chorny <ichorny@gmail.com> wrote:

--
Ilya Chorny Ph.D.

[2020-02-13 17:56] tfenne commented on #565
@ichorny I would think a simple tool/script that reads from `stdin` and writes to `stdout` could be piped through pretty easily, e.g. `bwa mem -p ref.fa reads.fq | move_umi.py | sambamba sort ...`.  That way it would be unlikely to add any significant real time.

[2020-02-14 00:29] ichorny opened #566 "Unable to execute CallMolecularConsensusReads"
I would like to collapse my reads using CallMolecularConsensusReads but have been unsuccessful.

I converted my bcl2fastq tagged and bwa mem aligned reads to have an RX tag for the UMI.

I also tested my uncollapsed data with umi_tools and was able to collapse the reads using both the native tag from bcl2fastq and the RX tag I inserted into the BAM file.
https://github.com/CGATOxford/UMI-tools

I

[2020-02-14 00:41] nh13 commented on #566
@ichorny did you run `GroupReadsByUmi` to set the molecular identifier (i.e. the `MI` tag)?  You'll need to do that before running `CallMolecularConsensusReads`.

[2020-02-14 00:46] ichorny commented on #566
I did not but can you provide the reasoning since I already have the UMI in the RX tag. Why the extra step?

Thanks for you help!

[2020-02-14 01:11] nh13 commented on #566
The first tool uses the RX tag to identify reads from the same source molecule (setting the MI tag). The second tool takes groups of reads from the same source molecule (using the MI tag) and calls consensus reads. The need for the first is the bases in RX may have errors due to sequencing or library prep (ex PCR).

[2020-02-14 02:04] #565 closed

[2020-02-14 03:19] ichorny commented on #566
I'm cleary still doing something wrong. I got the code to run but my output BAM has not coordinates:

read-group:UMI	77	*	0	0	*	*	0	0

This is what I ran.

java -jar $jarFile SortBam -s $sortType -i $bamName -o $prefix.sorted.bam
java -jar $jarFile SetMateInformation -i $prefix.sorted.bam  -o $prefix.MQfixed.bam
java -jar $jarFile GroupReadsByUmi -i $prefix.MQfixed.bam  -o $prefix.umigrouped.bam -

[2020-02-14 04:02] ichorny commented on #566
Found my issue in a closed thread
https://github.com/fulcrumgenomics/fgbio/issues/530

[2020-02-14 10:08] Lewis-Gallagher opened #567 "ClipBam causing strand bias"
Hi all,

I have been using fgbio a while and have been using it for a number of our lab's cfdna analyses.  My concern is that the ClipBam function might be causing some strand bias when it comes to variant calls.

I have a purchased cell line with a spiked in variant at 5%.  After aligning, grouping, calling concensus reads and aligning those concensus reads I clip the over lapping reads prior to

[2020-02-14 13:11] tfenne commented on #567
@Lewis-Gallagher Looking at the code what you're suggesting seems quite possible, especially if  the assay you're using is multiplexed-PCR or something similar where you have amplicons with fixed start/end positions.  ClipBam clips overlapping reads by clipping the ends of both R1 and R2 approximately equally until the overlap is eliminated, so that at least in shotgun data it does not introduce a

[2020-02-14 14:13] Lewis-Gallagher commented on #567
@tfenne Thanks for the quick response.

Yes, we are using a targeted amplicon panel here for multiplexed cfDNA analysis.

From looking at the un-clipped bam, I can see that most reads overlap almost entierly. So that is probably the reason I'm seeing reasonably balanced coverage of both strands.

<img width="2372" alt="image" src="https://user-images.githubusercontent.com/38728190/74536342-cecfbf0

[2020-02-14 14:29] Lewis-Gallagher commented on #567
@tfenne Hi, have just spoken to the researcher and it's a hybridisation capture panel, not amplicon like I initially said.  Which makes it a bit more confusing as the coverage should be more uniform, no?

[2020-02-24 12:35] lbaxter21 commented on #531
Hi @jst43, I have this exact same issue - do you remember how you identified the read which was causing the problem? Thank you in advance for any advice!

[2020-02-24 16:42] jst43 commented on #531
@lbaxter21 I think I either read the bam file into python to look for a malformed read, or I used pysam to catch the read. It was just a quick script so I'm afraid I don't have the code I used.

[2020-02-24 17:16] lbaxter21 commented on #531
thanks - in the meantime I managed to identify that one of my fastq files had been incompletely downloaded, (using a unix one-liner: for i in `ls *.gz`; do echo $(gzcat ${i} | wc -l)/4|bc; done --- so that was what was causing the outofrange error in my case.I was surprised that bwa hadn't complained about a truncated input file or a mismatch between the number of reads in R1 and R2.  Annoying thi

[2020-03-10 23:49] ahwanpandey opened #570 "GroupReadsByUmi [Paired strategy used but umi did not contain 2 segments]"
Hello,

I wonder why I am getting this error when using "paired"? If try "adjacency" it works.

Thanks.

[code]

[2020-03-11 13:04] tfenne commented on #570
The `paired` method is intended for duplex sequencing applications where the two ends of the molecule (seen in R1 and R2 respectively) _each_ contain a UMI _and_ the UMIs are applied in such a way during library construction that the top and bottom strand of the same molecule end up with the same UMIs (albeit inverted between R1 and R2).  From the usage documentation for `GroupReadsByUmi`:

[code]

[2020-03-11 13:04] #570 closed

[2020-03-16 15:34] angadps opened #571 "Calculate the duplication rate/Metrics for non-duplex bam files"
Dear authors,

This is a very basic operation and apologies if the functionality is already available, but I couldn't find it in either the tool documentation or this github page.

I'm looking for sequencing metrics such as duplication rate, total read count etc. much like Picard throws in non-UMI bams. The only metrics tool I find looks for paired UMIs using duplex reads (I'm not running duplex).

[2020-03-23 22:10] ggydush opened #572 "Too many Ns after FilterConsensusReads"
After running FilterConsensusReads, the resulting BAM has unexpected Ns. I may be missing something, but was hoping you could take a look. In the following example, all reads support the mutation at `chr1:194,743,587` and this shows in CallMolecularConsensus output. After running FilterConsensusReads however, the output is an N base at that location for one of the two SSC families.

After playing

[2020-04-02 16:19] sstadick commented on #362
Possible related fix in commons: https://github.com/fulcrumgenomics/commons/pull/24

[2020-04-02 18:54] #362 closed

[2020-04-07 10:46] fmarinn opened #577 "Raw and unique observations for duplex-umi-counts"
I have been using fgbio tools to process sequencing data with duplex UMIs. I have run CollectDuplexSeqMetrics  with option duplex-umi-counts=true on BAM output by GroupReadsByUmi tool to generate the metrics describing the set of observed duplex UMIs.

I have read the description of the metrics and I understand that raw_observations is the number of read pairs with the observed duplex UMI, and uni

[2020-04-09 13:04] denise0593 opened #578 "WES analysis and consensus of group of two reads"
Dear Author,

I'm using fgBio for exome analysis, I've used CallMolecularConsensus with min-reads=1.
I'm wondering if you have suggestion for the FilteringConsensusReads?
Another question, how do you deal in the creation of consensus if you have only 2 duplicates and in the same position they disagree?

Thank you in advance,
Best Regards
Denise

[2020-04-10 21:46] tfenne commented on #395
Closing this as I believe we have implemented most or all of what is described.

[2020-04-10 21:46] #395 closed

[2020-04-10 21:48] tfenne commented on #287
Closing this as implemented in commit fdeac4000b78b01ff3bd2ad1b98bd03f93d57e3d

[2020-04-10 21:48] #287 closed

[2020-04-10 21:50] tfenne commented on #42
Implemented in commit a59c4e1

[2020-04-10 21:50] #42 closed

[2020-04-10 22:00] tfenne opened #579 "Scala API for accessing FASTA reference sequences"
Anywhere in fgbio we need to access FASTA for reference genomes or similar we end up using HTSJDK's `ReferenceSequenceFile` and related classes (`ReferenceSequenceFileFactory`, `ReferenceSequence`).  These classes get the job done, and offer a fair amount of functionality, but they are old and their design is a little clunky, especially coming from scala.

We have previously generated scala APIs f

[2020-04-13 16:08] tfenne commented on #578
@denise0593 Recommendations for filtering are hard - it depends on a lot on the technology, the dataset and how you're planning to use it downstream.  Presuming that your library is sufficiently deeply sequenced that you have multiple reads for most molecules, we generally recommend a min-reads of 3 or perhaps 2 in lower coverage datasets .. though for the most stringent uses there is value in pus

[2020-04-13 16:08] #578 closed

[2020-04-13 17:01] nh13 commented on #566
@ichorny closing this issue, feel free to re-open if you disagree

[2020-04-13 17:01] #566 closed

[2020-04-13 17:24] nh13 commented on #567
The [screenshot in your last comment](https://github.com/fulcrumgenomics/fgbio/issues/567#issuecomment-586305043) is telling.  Since it is hybrid capture, the probe is likely in the middle of that coverage distribution, and so we get reads more often around the probe, with coverage falling off as we get farther from the probe.  Since the variant is on one side of the probe, we still get bias as to

[2020-04-13 17:27] nh13 commented on #571
@angadps this seems like a completely reasonable request.  You can also take a look at the auxiliary tags in the consensus BAM, that give you the number of raw reads used to build a consensus, but that's not always accurate, as some reads are filtered before hand.  I am going to label this issue as help wanted unless you want to [help sponsor this project](https://www.fulcrumgenomics.com/contact/)

[2020-04-13 17:43] #547 closed

[2020-04-13 17:43] nh13 commented on #541
Closing as this is an issue in Hapcut's script

[2020-04-13 17:43] #541 closed

[2020-04-13 17:44] nh13 commented on #532
Sorry, this never bubbled up to priority list so I could get time to work on it.  Moving to help-wanted in case others want to take a shot.

[2020-04-13 17:46] #491 closed

[2020-04-13 17:47] #431 closed

[2020-04-13 17:47] #423 closed

[2020-04-13 17:48] #416 closed

[2020-04-13 17:48] #407 closed

[2020-04-13 17:49] #46 closed

[2020-04-13 17:50] nh13 commented on #134
Closing as no motivation to do this anymore

[2020-04-13 17:50] #134 closed

[2020-04-13 17:56] nh13 commented on #234
We did it: https://oss.sonatype.org/content/repositories/snapshots/com/fulcrumgenomics/fgbio_2.13/

[2020-04-13 17:56] #234 closed

[2020-04-13 18:12] sstadick commented on #579
## Analysis

### Overview of existing implementations:

**HTSJDK**

- factory based object creation
- anything using `getSequenceDict` / `getSequence` will error if no index is present
- method based for access

**rust-bio**

- Nothing particularly interesting here other than Indexed readers are totally seperate and explicit

**pyfaidx**

- dict based access to sequences by name
- sequences are tr

[2020-04-13 21:06] tfenne commented on #579
Still thinking about this in general ... but I think it would be nice if the masking options and any other mutational operation were passed in the factory calls.  If we do that then everything returned from that point on can be immutable, and be totally safe to share across threads and use in parallel collection methods.  V.s. the HTSJDK model is to return mutable `Array[Byte]` which you have to m

[2020-04-13 21:21] tfenne commented on #579
A few other thoughts in no particular order:

1. It will likely be useful to have `val chr1 = refSeq(0)` also that looks up by sequence index (in addition to by name)
2. ReferenceSequenceFile in HTSJDK, as well as out internal SAM and VCF APIs all use 1-based inclusive coordinates.  We should do likewise here and that might impact the method names we use for sub-sequence access
3. Do we want a `ch

[2020-04-13 23:17] sstadick commented on #579
Excellent points. I think I'm on board with all of them:

0. The only thing I don't love about this is that presumably every time I ask for `refSeq("chr1")` the transform would run. But maybe this isn't that common of a usage pattern, and if it's called out it can be avoided.
1. Yes, great add
2. `.subseq` instead of `.slice`
3. I feel like there are two conflicting use cases: when no index is pre

[2020-04-20 08:58] Lewis-Gallagher commented on #567
Thanks @nh13 ! I guess it explains it a bit, though I do see that in the middle of exons as well, which in theory shouldn't be affected by this. But then these might be due to pure chance, when we are talking about a few reads

[2020-04-22 12:11] angadps commented on #571
@nh13 Thanks for the suggestion. Let me review the numbers (cD Tag?) for my datasets first to better understand. Alternately, the "-f" switch in GroupReadsUMI supposedly throws summary metrics for something like that? However, the numbers don't seem to add up and I haven't been able to find clear documentation regarding what exactly those numbers capture. Are they not the number of read families/m

[2020-04-22 13:53] imerelli opened #580 "AnnotateBamWithUmis nor working"
Hi, I have some problems in using AnnotateBamWithUmis. I'm not able to understand the problem, since I don't find any log. These files are quite small, in case maybe I can share them with you.

java -jar /opt/fgbio/target/scala-2.13/fgbio-1.2.0-c8e1c41-SNAPSHOT.jar AnnotateBamWithUmis -i sample1_Aligned.sortedByCoord.out.CORRETTO.bam -f ../../Cleandata/sample1.UMI.fq.gz -o sample1_Aligned.sortedBy

[2020-05-15 22:05] PedalheadPHX commented on #567
exome capture does create a strand bias on the edge of the two edges capture target, so if your variant is to one side of the capture targets you can see a strand coverage bias. For specific targets you can avoid this is capture design by increasing the capture window so the edge bias of the capture is outside your area of interest

[2020-05-16 00:53] #567 closed

[2020-05-30 22:11] rspreafico-vir commented on #532
Would it be sufficient to provide a flag to disable at will specifically this part:

That is, when the user enables this new flag, `TrimPrimers` only trims what the tab-delimited text file provides?

Such a flag would be generally useful beyond the motivating Qiagen protocol.

In addition, it would enable the workaround suggested by @nh13 for immediate resolution, without having to handle the spec

[2020-05-30 22:13] rspreafico-vir commented on #532
Somehow connected: could `TrimPrimers` provide a list of trimmed positions, trimmed reads and summaries? This would help towards understanding what is being cut, and diagnostics. For the use case in this thread, having such output would immediately reveal whether only the 5' end is being trimmed as intended, or whether there is additional unwanted trimming.

[2020-06-01 17:57] nh13 commented on #532
@rspreafico-vir I think your suggestions are reasonable to investigate.  For the short-term, we're prioritizing paid client work given our limited work capacity in these trying times.  Feel free to [reach out to us](https://www.fulcrumgenomics.com/contact/) if you'd like to work with us.

[2020-06-01 21:11] rspreafico-vir commented on #532
@nh13 Sure thing, very understandable!

We are using `TrimPrimers` as recommended by your friends at [Paragon Genomics](https://www.paragongenomics.com/product/cleanplex-sars-cov-2-panel/). The current implementation works for our needs and for that kit without any modification.

This thread caught my attention as I can imagine such a flag being useful to extend the tool to remove primers for exam

[2020-06-16 10:00] emissiaglia opened #592 "Memory issues with GroupReadsByUmi and consensus calling in v.1.2.0"
Dear Tim and Nils;
I have recently installed fgbio v.1.2.0 in a Centos 7 workstation using conda (anaconda2). I have tried to perform some tests on sequencing data which I have already analyzed in a similar machine but with the fgbio v 1.1.0 (without any issues).
This the command I was using:
`fgbio CallMolecularConsensusReads -i ${SAMPLE}_grouped.bam -o ${SAMPLE}_ssConsensus_unmapped.bam -M 1 -r

[2020-06-25 16:08] kanika-arora opened #594 "SV calling on Consensus BAMs"
I am testing fgbio for collapsing duplex reads. I run GroupReadsByUmi with paired strategy, followed by CallDuplexConsensusReads and FilterConsensusReads to get duplex BAM files. We are interested in calling SVs from duplex BAMs. I wanted to know if that is feasible.

Could you please elaborate on how fgbio deals with split reads and discordant read-pairs? I saw an older [issue](https://github.com

[2020-06-29 21:51] tfenne commented on #594
Hi @kanika-arora - as it stands `GroupReadsByUmi` does still filter out both a) cross-chromosomal reads pairs and b) read-pairs where one or both ends are unmapped.  We made these decisions a long time ago when first working on this and chose to be conservative.   I see no reason that one or both restrictions couldn't be relaxed but it would take some work.

Soft-clipped bases generally don't affe

[2020-06-30 14:59] kanika-arora commented on #594
Thank you for the clarification @tfenne. I think it will be great to be able to call SVs from the consensus BAMs. If there is a future version that will enable that, we'd be very interested in it.
Thank you for help!

[2020-07-01 06:52] 10-m commented on #594
I have deleted the following code to detect SV. That would work well for me.
How does @tfenne think about? Is there any problem what you think?

GroupReadsByUmi.scala:
require(rec.refIndex == rec.mateRefIndex, ....) x 2 places
.filter(r => (r.unpaired || r.refIndex == r.mateRefIndex)

Thanks.

[2020-07-13 22:16] lxwgcool opened #595 "Question about how to set the max heap size when using "AnnotateBamWithUmis""
Question description:
I use UMI fastq file to annotate aligned BAM file through "fgbio AnnotateBamWithUmis" in our cluster.
I keep getting error "OutOfMemoryError: GC Overhead Limit Exceeded" until I increased the maximum heap size of JVM from 16G to 48G (java -Xmx48g -jar).

Here is the size of these two input files (UMI fastq is 717M with gz format, and BAM is 13G):
717M Jul 13 11:59 UMI.fastq.g

[2020-07-13 23:37] nh13 commented on #595
@lxwgcool did you see this issue and the comments?  https://github.com/fulcrumgenomics/fgbio/issues/363.

[2020-07-13 23:39] nh13 commented on #595
I suppose if you could guarantee the reads were in the same order in the BAM and FASTQ, we wouldn't need to load all FASTQ into memory.  But then this tool would be rather trivial.

[2020-07-14 02:47] lxwgcool commented on #595
@nh13
Thank you so much for prompt reply, I just reviewed the thread you mentioned. For my case, I think using "AnnotateBamWithUmis" may be my only choice. This is because our goal is using UMI fastq reads to annotate many existing aligned BAM files (generate RX tag). I have several questions below:

Question 1: May I know how to make reads in BAM and UMI fastq be the same order?
Here are the key

[2020-07-14 18:10] nh13 commented on #595
@lxwgcool I think you want to change your upstream process if you can (see @tfenne's [comment about this ](https://github.com/fulcrumgenomics/fgbio/issues/363#issuecomment-363967470)).   Another thought I had was to split the UMI FASTQ up into smaller chunks, and run the tool multiple times on each chunk.  It's inefficient, but it will work right now.

I would sort by read name.  For BAM, you coul

[2020-07-14 22:14] lxwgcool commented on #595
Thank you so much for your prompt reply @nh13

In our current pipeline, we use "bcl2fastq" for demultiplexing. It will generate three fastq files, including PE reads and UMI reads. That's why we try to use "AnnotateBamWithUmis" to add UMI back to the aligned BAM file. My teammate used to run "IlluminaBasecallsToSam" for demultiplexing, however it was too slow compared with bcl2fastq. I just checke

[2020-07-14 22:35] nh13 commented on #595
@lxwgcool for sure we could implement string compaction, and Java9 does that (see Tim's comment).  Feel free to re-open if this is still an issue.

[2020-07-14 22:35] #595 closed

[2020-07-14 22:36] nh13 commented on #595
Also, don't forget that we need to store the read name in RAM so we can have a map from read name to bases !

[2020-07-15 15:52] lxwgcool commented on #595
@nh13
I am asking our HPC admin to install Java9.
May I know the Java 9 you mentioned is for openjdk java or Oracle Java, or does it matter?
Thanks again
Best
Xin

[2020-07-20 17:06] jurhoades opened #596 "When to use --reverse-per-base-tags for FilterConsensusReads"
We're currently using fgbio to process paired end Illumina data with duplex UMI adapters. Our current workflow goes `GroupReadsByUmi` > `CallDuplexConsensusReads` > Realign (Picard `SamToFastq`, `bwa mem`, Picard `MergeBamAlignment`) > `FilterConsensusReads`. We noticed in our BAMs going into `FilterConsensusReads` that the per-base tags for reads mapped to the reverse strand were reverse complime

[2020-07-20 17:35] nh13 commented on #596
Great question!

See the tool documentation: http://fulcrumgenomics.github.io/fgbio/tools/latest/FilterConsensusReads.html.  In particular:

Feel free to re-open if this doesn't solve your issue.

[2020-07-20 17:35] #596 closed

[2020-07-21 13:43] jurhoades commented on #596
Thanks for the quick response! From the documentation it looks like we do need to set that flag for our workflow.

[2020-07-22 22:18] nh13 commented on #592
Can you try increasing the memory?  `fgbio -Xmx8g CallMolecularConsensusReads`?

[2020-07-22 22:18] #592 closed

[2020-07-28 18:45] nh13 opened #599 "Add an option to ErrorRateByReadPosition not to collapse substitution types"
Currently, `ErrorRateByReadPosition` collapses substitution types based on the reference base.

The example is illustrative.  If we care about variant calling a SNV at a `A` (or `T`) reference positions, then we really don't care if the read (in sequencing order) had a `A>C` or `T>G`, since we can observe that reference base on either strand.

But if we care about the fidelity of sequencing, in se

[2020-07-28 19:00] tfenne commented on #599
No real objections.  I'd like the default to remain as it is though please.

I think the bulk of the work is really going to be in writing tests.  I think we essentially need to cover all combinations of:
* Reads mapped to the positive and negative strands
* Reads with A>N, C>N, G>N, T>N
And just make sure they all come out as expected.

[2020-07-28 23:45] nh13 opened #600 "Support sorting in the various Update*ContigNames tools"
The various `Update*ContigNames` tools may require sorting after run.  Wouldn't it be nice if they sorted the data for you?

- `UpdateGffContigNames` - two levels of sort, by contig only (to keep feature grouping the same), or by contig/position/lineno
- `UpdateIntervalListContigNames` and `UpdateVcfContigNames`  should sort by coordinate/position/lineno
- `UpdateFastaContigNames` already sorts
-

[2020-08-11 01:51] tyyiyi opened #603 "remove duplicate after CliPBAM"
I intend to detect structural variation in UMI data, So want to use fgbio to process the raw data, I conducted  FastqToSam ExtractUmisFromBAM, SamToFastq, bwa mem, MergeBamAlignment, GroupReadsByUmi, CallMolecularConsensusReads, SamToFastq, bwa Mem, MergeBamAlignment FilterConsensusReads, ClipBam. This process is ok? After I conducted a ClipBam (- clipping - mode = Soft - clip - overlapping - read

[2020-08-13 17:46] agagarega opened #604 "NoSuchElementException with ReviewConsensusVariants"
I keep getting an error (appended at the end) when running the fgbio ReviewConsensusVariants command. I perform the following steps prior to execuing ReviewConsensusVariants:

    1. Create an unmapped bam from PE reads (picard FastqToSam)
    2. Downsample (picard DownsampleSam)
    3. Extract fastqs from the downsampled bam (picard SamToFastq)
    4. Align to reference (bwa mem)
    5. Merge the

[2020-08-13 17:50] nh13 commented on #577
@fmarinn my apologies for the delay, but it looks like you're sequencing each family more deeply in one sample (7.5-9.5 raw reads per family) than the other sample (3.2-3.4).  Can you post the output metrics of `GroupReadsByUmi` and `CollectDuplexSeqMetrics`?

[2020-08-13 17:52] nh13 commented on #580
@imerelli can you share the files, this is very odd.

[2020-08-13 17:52] nh13 commented on #594
@10-m I think that should work fine, but it is unsupported, so a PR is welcome.

[2020-08-13 17:52] #594 closed

[2020-08-13 17:54] nh13 commented on #603
`GroupReadsByUmi` will not not group the reads you're interested in.  See the discussion: https://github.com/fulcrumgenomics/fgbio/issues/594

I would not remove duplicate consensus reads, unless you're absolutely sure they're duplicates.

[2020-08-13 17:54] #603 closed

[2020-08-13 18:05] nh13 commented on #604
@agagarega can you share the inputs to `ReviewConsensusVariants` as well as the version and command line?

[2020-08-13 19:18] agagarega commented on #604
Thank you for responding so promptly.

The version is 1.2.0.

The command is:
$java -jar fgbio-1.2.0.jar ReviewConsensusVariants -i target_interval_list.txt -r ref.fa -c consensus.filtered.csort.bam -g umi-grouped.csort.bam -o supporting_reads.txt

[2020-08-13 22:06] nh13 commented on #604
@agagarega can you share the input _files_?

[2020-08-14 02:46] tyyiyi commented on #594
So at present I cannot use GroupReadsByUmi if I want to detect structural variation. So I can just ExtractUmisFromBAM, and do BWA comparisons and mergers, right? It is sincerely expected that structural variations can be detected from consensus BAMs!

Thank you very much!
Tang

[2020-08-14 11:28] agagarega commented on #604
Please see attached.
[inputs.zip](https://github.com/fulcrumgenomics/fgbio/files/5074312/inputs.zip)
[outputs.zip](https://github.com/fulcrumgenomics/fgbio/files/5074315/outputs.zip)

[2020-08-14 17:30] nh13 commented on #604
@agagarega thank-you for the inputs.  To set expectations, we're working on client projects and will take a look once we have some free time.  My apologies for the delay in advance.

[2020-08-14 17:31] agagarega commented on #604
No worries at all. Thank you!

[2020-08-17 21:57] lxwgcool opened #605 "Missing UMIs when run "AnnotateBamWithUmis""
Hi,

I am running AnnotateBamWithUmis to add UMI back to BAM.
I got non-zero exit and the error message is below:

[2020/08/17 12:21:22 | AnnotateBamWithUmis | Info] processed   134,000,000 records.  Elapsed time: 00:29:49s.  Time for last 1,000,000:   15s.  Last read position: chrUn_KN707896v1_decoy:29,096
[2020/08/17 12:21:33 | AnnotateBamWithUmis | Info] Processed 134806156 records with 1 missi

[2020-08-18 07:01] chelauk opened #606 "ErrorRateByReadPosition"
I am building a UMI-variant calling pipeline which uses fgbio and I noticed that the tool [ErrorRateByReadPosition](http://nilshomer.com/2017/08/04/sequencing-error-reduction-through-consensus-calling-reads-from-the-same-source-molecule/) is recommended.  It isn't obvious to me at what stage of the pipeline I should use it? Would it be before calling and filtering consensus or after.  Any insight

[2020-08-18 15:54] tfenne commented on #606
We tend to run it at several stages to help illustrate how the consensus building process improves things.  What I would suggest is running it on a) a BAM file of raw (deduped) reads, b) the re-aligned consensus BAM and also c) the filtered consensus BAM.  The expectation is that error rates should be improving significantly at each step, and it is nice to confirm.

[2020-08-18 15:56] chelauk commented on #606
That is really useful, thank you very much!

[2020-08-18 15:56] #606 closed

[2020-09-01 16:27] kanika-arora opened #623 "Consensus calling after BQSR"
Hello,

From what I understand, the very first step of fgbio's consensus calling algorithms is adjustment of input base qualities. The wiki page https://github.com/fulcrumgenomics/fgbio/wiki/Calling-Consensus-Reads says that "these adjustments should only be used if there is a reason to believe the input base qualities are systematically over-estimated, otherwise this step should be ignored." If I

[2020-09-02 03:10] fleharty commented on #623
@kanika-arora I'm not a fgbio developer, but I have found that BQSR can be useful after consensus calling.
My experience is that the consensus caller estimates quality scores that are too high.

BQSR brings the qualities down a fair amount, and in some cases I suspect by too much.  The consensus calls tend to be very high quality, and often times there aren't enough observations of reference disag

[2020-09-02 03:58] nh13 commented on #623
@kanika-arora I agree with @fleharty that BQSR is a great tool to assess and improve qualities post-consensus building, but that we really need to have a lot of data to assess base quality accuracy due to the vastly reduced error rate.

I see the option to "shift" the base quality was removed way back 0.1.2.  If you don't believe there's an issue with the input base qualities, I think you are fine

[2020-09-02 03:58] #623 closed

[2020-09-03 14:01] kanika-arora commented on #623
@nh13 @fleharty thank you for your suggestions. I realized there was a typo in my earlier question, and it wasn't very clear.
What I meant to ask was, what happens if I provide a base quality score recalibrated BAM as **input** to CallDuplexConsensusReads? Will it interfere with the input base quality adjustments that is part of the consensus calling algorithm?

[2020-09-03 14:14] fleharty commented on #623
@kanika-arora It should not interfere with the base quality adjustments during consensus calling.

[2020-09-22 17:10] ruolin opened #628 "MolecularConsensus with a pileup of N"
Hello, the current consensus algorithm is basically ignoring N bases which cause some problems for our data.  See the circle column in the picture, where there are hundreds of Ns, but just one T. The consensus bases should be obvious be N. However, the consensus base is T. I understand that you want the most confidence bases into the consensus. But Could you add an option allowing N to be counted

[2020-09-22 17:49] nh13 commented on #628
Do you run FilterConsensusReads after calling the consensus reads? You could see if an option there works (eg. min-bases or max error rate).  If none of these work, I’d be open Investigating further.

[2020-09-22 18:27] ruolin commented on #628
Yes, I did run FilterCOnsensusReads. But it does not work for us. The filters you mentioned affect other reads as well. For example, we have a bunch of family size 1 reads.

[2020-09-23 13:43] mpiyush21 opened #629 "More than one value for the flag option"
Hi,

I have a targeted sequencing data with UMI. Both paired-end Fastq and Indexes are in separate files, resulting in 4 different files.

Just to test the tool, I am running a single fastq files from a lane without index files to generate an unmapped BAM file. Here is the command.

java -jar /home/piymun/Software/fgbio/target/scala-2.13/fgbio-1.4.0-57988d6-SNAPSHOT.jar FastqToBam --input S1-B2-0-

[2020-09-23 15:01] tfenne commented on #629
Long options need to be specified with double dashes, e.g. `--sample`.  When you specify `-sample` it's interpreting that as `-s ample S1-B2-0-0025_S5`.

[2020-09-23 15:01] #629 closed

[2020-09-28 16:47] alfonso-lam opened #631 "fgbio 1.2.0: CallDuplexConsensusReads failed"
Hi,
CallDuplexConsensusReads failed and I got this error message:

/staging/gtcmolecular/bcbio/tools/bin/fgbio CallDuplexConsensusReads --input=NGS20-004645-MRD-QIAseq-082020_UMI_bwa_grouped.bam --output=NGS20-004645-MRD-QIAseq-082020_consensus_unmapped.bam  -Djava.io.tm
pdir=/mnt/gtc-fs/data2/test/validation/bcbio/tmp  --error-rate-pre-umi=45 --error-rate-post-umi=30 --min-input-base-quality=30
[

[2020-09-28 16:50] nh13 commented on #631
@alfonso-lam could you post or share the input grouped BAM for us to try to reproduce and debug?

[2020-09-28 16:54] alfonso-lam commented on #631
Hi Nils,
Thanks for the quick reply..
Sure, no problem. Where can I post it? The BAM is 3.6GB size

[2020-09-28 17:39] nh13 commented on #631
If you could send a link for us to download that'd be ideal.  Otherwise, you could try just subsetting the BAM to 10-100 reads and verify the error is still produced, then post it here.

[2020-09-28 18:48] alfonso-lam commented on #631
Hi Nils,
Here is a small bam with 1000 reads.  The command I use was:
fgbio CallDuplexConsensusReads --input=small.bam --output=test.bam  --error-rate-pre-umi=45 --error-rate-post-umi=30 --min-input-base-quality=30

[small.bam.gz](https://github.com/fulcrumgenomics/fgbio/files/5294383/small.bam.gz)

[2020-10-04 12:00] gabeng opened #632 "Duplex sequencing: --min-reads 1 2 2"
The documentation suggests that an option of `--min-reads 1 2 2` could be provided to `FilterConsensusReads`.
[code]

This would mimic treating the duplex barcodes as regular barcodes, would it not?
However, I get an error message that the most stringent value must come earlier.

[2020-10-07 13:30] laurabaxter21 opened #633 "GroupReadsByUmi mapping issues"
Hi,

During the GroupReadsByUmi step of my pipeline, the majority of my reads are being filtered due to "mapping issues".

Is there a common reason/explanation for this happening?

The paired end reads were aligned using BWA, followed by running AnnotateBamWithUmis, SortBam, and SetMateInformation prior to the GroupReadsByUmi step.

The relevant log information is here:
[2020/10/07 11:10:15 | Grou

[2020-10-12 19:51] ruolin commented on #633
We are also playing around with GroupBreadsByUmi. In the notes it says

However, we are particularly interested in the discordant pairs as we are looking for SVs. Is it possible to add a switch to loosen this restriction?

[2020-10-13 01:39] nh13 commented on #633
@laurabaxter21 could you detail your experiment?  Do you expect chimeric reads (eg. SVs)?  If you could share a snippet of your input, we can take a look when we get the chance.

@ruolin can you open up a separate issue and we can take a look at your request there?  I don't see why we couldn't add the option to allow chimeric reads, but I think it's all an issue of bandwidth on our end.

[2020-10-13 01:41] nh13 commented on #632
@gabeng from my reading, the first value applies to the final consensus (both strands), so if you say you only want at least one raw read for the final consensus but at least two for each of the two single-strand consensuses, then the latter implies at least four for the final consensus.  Can you try `--min-reads 4 2 2`?

[2020-10-13 13:21] laurabaxter21 commented on #633
Thanks for the reply - I managed to track down the source of the error, which turned out to be malformed bwa index files for the reference genome.
(Oddly the bwa mapping, AnnotateBamWithUmis, SortBam, and SetMateInformation steps all appeared to complete without error despite the problem with the reference, and looked fine in IGV) - it was just the GroupReadsByUMI which caught the error. I re-ran

[2020-10-13 13:46] gabeng commented on #632
Hi @nh13,

I think I am misunderstanding the process and the meaning of the parameters. Maybe you could clarify that for me:
I think, I understand `--min-reads 1 1 1` now: Two consensus reads (one for top and bottom each) are generated while even considering reads that are present with only one copy. Then, from these two reads, a duplex consensus reads is generated. If either top or bottom consens

[2020-10-13 17:51] ruolin opened #634 "Accepting discordant pairs in GroupReadsByUmi"
Hello,
This is a new feature request.
In the note of `GroupBreadsByUmi`, it says

However, we are particularly interested in the discordant pairs as we are looking for SVs. Is it possible to add a switch to loosen this restriction?

I hope this new feature also propagate to `CallMolecularConsensusReads` and `CallDuplexConsensusReads`

[2020-10-23 06:49] leila0210 commented on #413
This is how I'm calling fgbio:
java -Xmx80G -jar /opt/local/src/fgbio/fgbio.jar GroupReadsByUmi --input=sample.unassembled.UMI.sort.bam --output=sample.unassembled.UMI.group.bam --strategy=adjacency --edits=2 --min-map-q=20 --raw-tag=RX

Exception in thread "main" java.lang.AssertionError: assertion failed: Reads out of order @ E00591:314:H7LFNCCX2:2:1116:23622:11611/1 + **E00591:314:H7LFNCCX2:2:1

[2020-11-27 23:48] BenSolomon opened #635 "`DemuxFastq` using non-unique barcodes"
Hi!

I am trying to use `DemuxFastq` to deumultiplex single cell fastq files that contain data from multiple cells and multiple samples. I would like to create output fastq files that split apart the samples, while keeping cells together as long as they are from the same sample. However, the barcodes that I have to use are cell-specific (there are no sample specific barcodes based on how the libra

[2020-12-19 00:43] nh13 commented on #635
@BenSolomon I see what you're trying to do.  I think it's a non-trivial amount of effort to support what you're doing, but possible.  Is this something you still need?

Another way to do this would be to use `ExtractUmisFromBam --single-tag --read-structure 8S 16M10M 100T -- molecular-index-tags BC RX` to pull out the 16bp barcode and 10bp UMI into the `BC` and `RX` tags respectively into one BAM.

[2020-12-19 00:44] nh13 commented on #413
@leila0210 is this still an issue?

[2020-12-19 00:45] nh13 commented on #634
@ruolin this is a feature we haven't relaxed, but could at some point make if we have a motivating project.

[2020-12-19 00:47] nh13 commented on #632
the first value applies to the total coverage of the consensus molecule, the second value to one single-strand consensus,
and the last value to the other single-strand consensus.  So `--min-reads 2 1 1` is the same as `--min-reads 1 1 1` since to have 1x on each consensus strand implies a total coverage of 2x, which is always greater than 1x.

[2020-12-19 00:47] #632 closed

[2020-12-19 00:55] nh13 commented on #631
@alfonso-lam I don't think the input BAM was grouped using the `--strategy paired` which is needed for duplex sequencing data.  The MI tags are missing the trailing `/A` and `/B`.

If you have single UMI data, see CallMolecularConsensusReads

[2020-12-19 00:55] #631 closed

[2020-12-19 00:57] nh13 commented on #628
Why do you want to count depths of reads that don't contribute to the consensus?  If this is still an issue, feel free to re-open the issue.

[2020-12-19 00:57] #628 closed

[2020-12-21 00:56] BenSolomon commented on #635
Hey @nh13, thanks for the reply and looking in to this! I think I found the solution I needed. `UMI tools` has some parameters that were able to accomplish this with minimal tweaking, so that should work for me. Thanks for your suggestion too, I think that would have worked as well!

[2020-12-21 00:56] #635 closed

[2020-12-31 10:08] aspitaleri opened #642 "error rate"
Hi
I have run
`java -Xmx4g -XX:+AggressiveOpts -XX:+AggressiveHeap -jar /usr/local/fgbio/target/scala-2.13/fgbio-1.4.0-37fbb49-SNAPSHOT.jar ErrorRateByReadPosition -i Phix.sort.bam -r phix74.fasta
`
and it run only if the .dict is present as reported in #494
nowhere it is reported this.

As far I understood the output error_rate_by_read_position.txt reports the error per read position, both forwar

[2020-12-31 11:06] aspitaleri opened #643 "long reads"
Hi
is there any support for long reads error rate calculations as for short reads?

[2020-12-31 17:23] nh13 commented on #643
@aspitaleri could you be more specific in what you'd like to see beyond the current tools?

[2020-12-31 17:34] aspitaleri commented on #643
@nh13 wondering whether fgbio could be exploited for bam generated from minimap2 to calculate the error rate. I did not tried yet, just asking.

[2020-12-31 17:46] nh13 commented on #643
I don't see why not, just that the read lengths aren't fixed.

[2020-12-31 19:54] aspitaleri commented on #643
that's easy to fix: we can use a window approach, i.e. 200bp, 300bp and so on.
thanks

[2021-01-04 18:06] nh13 commented on #642
(1) I don't think that will work, as there may be more bases observed in read 1 vs read 2 (or vice versa).  This can happen if adapter or quality trimming has been applied for example.  So if you want a total error rate, I think you'll want to compute the weighted average:

[code]

(2) I'd use `samtools mpileup` to generate the bases piled up at a genomic position and post-process.  It has a few o

[2021-01-04 18:06] #642 closed

[2021-01-04 21:26] mjhipp commented on #579
# Sequence Dictionary converters should not be used in loops

This is not really a bug, so I did not want to open a new issue, more of a warning.

We recently updated to the new Fgbio, which changed some method signatures to return the new `fasta.SequenceDictionary` in place of the previous `SAMSequenceDictionary`. To quickly make our code compatible with the new update, we simply threw a patch of

[2021-01-04 21:48] nh13 commented on #579
@mjhipp I think from your examples, it's clear that the conversion should be cached outside the loop.  This may not be immediately obvious when moving to the new API, so I agree with your warning for folks moving over.  I think the action item here is to add a big warning to the documentation of the implicit converters to state that the conversion is expensive!  If really a problem, we could think

[2021-01-27 09:09] mmterpstra opened #647 "FilterConsensusReads filter UMI sequence by hamming distance and maybe N content"
First thank you for writing the software,

FilterConsensusReads filter UMI sequence by hamming distance.
I have an issue which could be solved up front or downstream but the UMI sequences are also subject to PCR bias and the likes. To reduce error even more it might be interesting to filter UMI's by hamming distance like the MAX_EDIT_DISTANCE_TO_JOIN from the picard tool UmiAwareMarkDuplicatesWith

[2021-01-27 15:55] nh13 commented on #647
This is solved in the GroupReadsByUmi tool where UMIs are collapsed, accounting for sequencing and PCR errors and the like.

[2021-01-27 15:55] #647 closed

[2021-02-05 21:39] avantikalal opened #649 "DemuxFastqs does not accept "+T" read structure"
Hi,
I'm trying to run DemuxFastqs on paired reads (R1 and R2), where R1 contains barcodes and R2 is a template read. I use the following command:
[code]
And get this error message:
[code]
It seems "+T" is not accepted. How can I specify that the complete read is a template sequence? The read lengths in R2.fastq.gz can vary.

[2021-02-08 21:06] nh13 commented on #649
@avantikalal I am not able to reproduce either with the 1.3.0 release or the latest commit.  This makes me think it's an environment issue or something to do with the inputs.  Can you tell me the environment you're using and java version?  Also, can you try single quoting the read structures (i.e. `--read-structures '1M1B+T' '+T'`) as maybe it's a shell issue?

[code]

Inputs:

[code]

[code]

[co

[2021-02-16 04:23] gevro opened #651 "Duplex consensus and strand labeling"
Hi,
I'm interested in using the CallDuplexConsensusReads tool. However, it is unclear to me how GroupReadsByUmi preserves read 1 vs read 2 information.

GroupReadsByUmi expects the RX tag to contain the UMI pairs separated by a hyphen. For example:
 - Strand 1: AAAA-GGGG
 - Strand 2: GGGG-AAAA

These are then converted by GroupReadsByUmi to 1/A and 1/B (note there is an error in your documentation

[2021-02-16 04:33] gevro opened #652 "Duplex consensus documentation questions"
Hi,
There are a few things that are unclear in this duplex consensus documentation: https://github.com/fulcrumgenomics/fgbio/wiki/Calling-Duplex-Consensus-Reads

1. "Reads are filtered based on their Cigar (alignment structure) to ensure reads are always in phase (in two groups: A1s and B2s, and A2s and B2s)."
  - Groups mention A1s, B2s, and A2s and B2s, but not B1s?
  - It is not clear why CIGAR

[2021-02-16 04:37] nh13 commented on #651
That’s right, the standard SAM flag fields are used (as they should) to determine and store read 1 vs. 2.

[2021-02-16 04:37] #651 closed

[2021-02-16 04:46] nh13 commented on #652
Thank you reading the documentation!

1-1: fixed typo

1-2: A1 and B2 overlap the same genomic coordinates so should have the same CIGAR. Same for A2 and B2. Probably the typo you found above confused things, but also see the diagram in: https://github.com/fulcrumgenomics/fgbio/wiki/Developer-Note:-Tracking-Reads-through-Grouping-and-Duplex-Consensus-Calling#top-and-bottom-strand-for-raw-reads

Th

[2021-02-16 05:03] gevro commented on #652
Thanks. Regarding 1 - great.

Regarding questions 2 and 3: I think I understand now, but it raises a different question: Imagine that the insert size is always smaller than the read length. In terms of the terminology shown in this page https://github.com/fulcrumgenomics/fgbio/wiki/Developer-Note:-Tracking-Reads-through-Grouping-and-Duplex-Consensus-Calling#top-and-bottom-strand-for-raw-reads, tha

[2021-02-16 05:09] gevro opened #653 "CIGAR of final consensus"
Hi,
Do CallMolecularConsensusReads and CallDuplexConsensusReads generate a new CIGAR that reflects the final consensus sequence?

Thanks.

[2021-02-16 05:11] gevro opened #654 "VCF from CIGAR of final consensus"
Hi,
Since the accuracy of duplex sequencing is extremely high, and it can be performed with shallow sequencing that does not allow standard variant calling that utilizes multiplex UMI coverage of a given locus, is there a tool to create a VCF directly from the final duplex consensus BAM file using just the CIGAR? This would then allow easy comparison to VCF files of germline variants obtained by s

[2021-02-16 06:09] nh13 commented on #652
It will work, just that the resulting consensus reads will also have overlapping regions of R1 and R2. I’d then use ClipBam to trim the overlapping region using the --clip-overlapping-reads option: http://fulcrumgenomics.github.io/fgbio/tools/latest/ClipBam.html

If you think you’ll be always generating read pairs with significant overlap, I’d have to think about it a lot more, since I’d want to p

[2021-02-16 06:11] nh13 commented on #652
@gevro I’d also mention we’d be happy to automate this in a tool or pipeline (or both) but also like to get fairly and equitably compensated for our work, so if you’re in a position to do so, contact us: https://www.fulcrumgenomics.com/contact/

[2021-02-16 06:13] nh13 commented on #653
No, you’ll need to remap.

[2021-02-16 06:13] #653 closed

[2021-02-16 06:16] nh13 commented on #654
For somatic calling you want high final depth, so disagree with your assumption in low depth. Even so, don’t trust the CIGARs, especially for large indels or complex variants, some which need assembly! Try VarDictJava in pileup mode. We have it implemented in dagr but it’s not hard to implement it in WDL/Nextflow/Snakemake too. https://github.com/fulcrumgenomics/dagr/blob/7c31adfd4a979e66efd70209c

[2021-02-16 06:16] #654 closed

[2021-02-16 06:17] #652 closed

[2021-02-16 06:17] #643 closed

[2021-02-16 06:19] #580 closed

[2021-02-16 06:20] #577 closed

[2021-02-16 19:44] ehenrion opened #655 "DemuxFastq : --sample-sheet option not found & --illumina-standards not working"
Hi,

I'm running DemuxFastqs (fgbio 1.3.0) on paired-end dual-barcodes data and I'm unable to use the `--sample-sheet` argument.
It always ends up with the following error : `No option found with name 'sample-sheet'.`

I ended up running with `--metadata` and everything looks fine.

I wonder why the `--sample-sheet` seems not available while it's cited in the documentation ?

Also, I tried using `

[2021-02-19 15:49] mmterpstra commented on #604
same question here: https://www.biostars.org/p/455031/

Also facing the same problem. Not really able to share files. Can this help...? :

[code]

probably is due to something (missing or wrong) in the bam files because I stripped the vcf files like so (single sample, no indel/mpn/other and only gt/ad fields with at least 1 ref/alt ad count ):

[code]

[2021-02-19 22:17] gevro commented on #652
Thanks so much. I will give it a shot myself first, and if we struggle, I may have questions or consider a custom order via Fulcrum.

[2021-02-21 01:40] birnbera opened #656 "How to create duplex UMIs with AnnotateBamWithUmis"
I am working with data that uses two UMIs for paired end reads. One UMI was included as part of index 1 and the other as part of index 2. I'd like to annotate the RX field in my BAM file with both UMIs with a dash between, as in `NNNNNNNN-NNNNNNNN`. I see that `CorrectUmis` can handle duplex UMIs, such that it looks for the consensus sequence independently for each half. What would be the best way

[2021-02-24 00:05] nh13 commented on #656
@birnbera

You're right that `AnnotateBamWithUmis` takes only one FASTQ.  Can you try the proposed update in PR#657 where I added support for _multiple_ FASTQs?

[2021-02-24 00:15] nh13 commented on #655
@ehenrion

1. The documentation was out of date (was a sample sheet, now just a general CSV).
 I have fix for this here: https://github.com/fulcrumgenomics/fgbio/pull/658.  Thank-you for reporting!

2. For the `--illumina-standards` issue, can you post the input read with name `V300057102L1C001R00400000262`?  Something like `gunzip -c input.fq.gz | grep -A 4 V300057102L1C001R00400000262` should do

[2021-02-24 00:17] birnbera commented on #656
Thanks for looking into this and coming up with a solution! I'm happy to run my dataset through and report back. It looks like the PR is still building in Travis CI. Do you know if there's anywhere that I can grab the built jar from the test build when it's done? I don't have a scala build environment set up. It would be preferable if there's a way to get a jar to test with.

[2021-02-24 00:20] nh13 commented on #605
@lxwgcool for (1), yes you can assume that the BAM file is valid and that the output BAM has reads that are missing UMIs are as reported.  For (2), the tool does not store this, but it should be easy with samtools: `samtools view in.bam | grep -v RX | cut -f 1`.  This command parses the input BAM, ignoring all lines that have the RX tag (the UMI is stored there), and prints the read name.  So for

[2021-02-24 00:20] #605 closed

[2021-02-24 00:24] nh13 commented on #656
@birnbera https://github.com/fulcrumgenomics/fgbio/releases/tag/nh_annotate_multiple_fastqs_tag.  Download the JAR there and I can then delete the release.

[2021-02-24 00:54] birnbera commented on #656
Perfect. Just ran it and the result is as advertised. I used the resulting annotated bam (following sorting and addition of read groups) with `picard UmiAwareMarkDuplicatesWithMateCigar` and encountered no issues. Thanks again!

[2021-02-24 00:59] nh13 commented on #656
@birnbera you can also try using `GroupReadsWithUmi -> CallDuplexConsensusReads -> FilterConsensusReads` if you have duplex data versus just using the UMIs to mark duplicates.  I'll close this issue once the PR is merged.

[2021-02-24 01:23] birnbera commented on #656
No issues detected after running through the suggested pipeline of additional tools.

[2021-02-24 01:26] birnbera commented on #656
While I have your attention, I'd like to ask about the use case for `GroupReadsWithUmi` as opposed to a tool like `UmiAwareMarkDuplicatesWithMateCigar`. It seems that when you're using UMI's it's because you're really interested in the ratio between reads at different locations and you need to be careful with PCR duplicates. In the case of `GroupReadsWithUmi` it so aggressively filters out reads t

[2021-02-24 02:07] nh13 commented on #656
`UmiAwareMarkDuplicatesWithMateCigar` is mainly used to ensure that two or more reads from the same source molecule are not counted twice in downstream variant calling, but why not leverage the multiple observations for variant calling.  I am mostly interested in using UMIs to detect groups where reads that original from the same source molecule are in the same group so that I can then create a  _

[2021-02-24 02:10] birnbera commented on #656
Got it. My use case is different but it makes sense to do more aggressive quality filtering for variant detection. Thank you for your help on this!

[2021-02-24 17:52] ehenrion commented on #655
@nh13

Thanks so much for you answer.
This clarifies things and all makes sense as this is not Illumina but MGI data.

Here is the output of your suggested command :
[code]
So what I have to do now to convert the headers in my input fastq files, is this correct ?

I'm thinking of using [this python script](https://github.com/powellgenomicslab/BGI_vs_Illumina_Benchmark/blob/master/preprocessing/con

[2021-02-24 17:54] nh13 commented on #655
The `--illumina-standards` is mainly used if you want to upload data to BaseSpace.  I don't use it otherwise, so feel free to ignore it.

[2021-02-24 21:14] ehenrion commented on #655
Yes, thanks for the tip.

We actually are dealing with data from a MGI run using Agilient SureSelect libraries.
But we ended up having errors when using some downstream analysis tools (e.g. Agilient trimmer).
We've then been advised by Agilient to try using `--illumina-standards` when demultiplexing...
So here I am ! :D

Thanks again !

[2021-02-25 06:48] tahuh opened #659 "Calling duplex molecules using assembled paired end reads"
Hi team.

My paired end fastq data consist of UMIs in both reads (R1 and R2) and I have assembled paired reads using several softwares
([pear](https://cme.h-its.org/exelixis/web/software/pear/) , [FLASH](https://ccb.jhu.edu/software/FLASH/) ).

When I try CallDuplexConsensusReads, the fgbio complains that GroupReadsByUMIs using `paired` strategy.

But the paired strategy does not work when I tried

[2021-02-25 07:55] nh13 commented on #655
[code]

Took a look at the script, and it LGTM, you just need to modify it to give it the sample barcode (prepended)

[code]

[2021-02-25 08:36] nh13 commented on #659
@tahuh `GroupReadsByUmi` currently expects the reads to paired end and not merged.  So merging the paired end reads (presumably they overlap) wont work.  The other option that wouldn't require any modification is to merge the paired end reads after consensus calling.

That being said, I don't think it would be too hard support it.  I assume you've already extracted the UMIs and they are stored in

[2021-02-25 08:51] tahuh commented on #659
@nh13

Thanks for fast reply.

I will try that and let you know what happened.

[2021-02-25 15:52] gevro opened #661 "Raw Reads Filtered Due to Insufficient Support"
Hi, What is the exact definition of this metric for CallMolecularConsensusReads?

Thanks.

[2021-02-25 18:22] nh13 commented on #661
There are two places where we filter out reads due to insufficient support.

The first (1) place ([here](https://github.com/fulcrumgenomics/fgbio/blob/57988d615fa6188e0028faedfdf65ed13cf645e7/src/main/scala/com/fulcrumgenomics/umi/VanillaUmiConsensusCaller.scala#L156)) does not call a consensus if there are fewer than the minimum # of raw reads for a group of reads (eg. `--min-reads` in `CallMolec

[2021-02-26 03:54] gevro commented on #661
Thanks for explaining. Regarding filtering out 'out of phase' alignments, you mention that you do not create multi-alignments (or local reassembly) of all the reads within a UMI group: "Since we do not generate a multiple-alignment of all raw reads to each other".

I'm just curious is this because this is too computationally expensive?

[2021-02-26 04:55] gevro opened #662 "--reverse-tags-per-base explanation"
Hi,
I read the documentation of this in FilterConsensusReads and issue #596, but I'm still a bit unclear about this.

My pipeline is: align to BAM file -> AnnotateBamWithUmis -> GroupReadsByUmi -> CallMolecularConsensusReads
The output of this final BAM file has all flags = 4 (unmapped).

1) Does CallMolecularConsensusReads performed any reverse complementation of the reads input from the post-Gro

[2021-02-26 05:11] gevro opened #663 "min-base-quality recommendation"
Hi,
There is no default value for min-base-quality in FilterConsensusReads, and I'm a bit unclear on the exact format of setting this, and also how consensus base qualities are encoded by CallMolecularConsensusReads.

1) Is there an upper limit on phred scores output by CallMolecularConsensusReads? I'm assuming these Phred scores per base of the consensus are encoded in the standard base quality c

[2021-02-26 05:18] gevro opened #664 "max-read-error-rate explanation"
Hi,
Regarding max-read-error-rate documentation in FilterConsensusReads, the documentation says:
"Reads with an average consensus error rate higher than max-read-error-rate are filtered out"

What tag does this correspond to? cE?
cE is defined as: "the fraction of bases in raw reads disagreeing with the final consensus calls"

But I'm not clear what "average consensus error rate" means exactly rel

[2021-02-26 08:02] nh13 commented on #661
It is more computationally expensive, but there are a number of multiple-alignment libraries that are _very_ fast.  In fact, to investigate if multi-alignment could help, I wrote a little tool [`callerpp`](https://github.com/nh13/callerpp) to allow the consensus caller to pipe data for partial alignments and read them back in.  It really didn't help, except for STRs, which is why I even looked sin

[2021-02-26 08:02] #661 closed

[2021-02-26 08:06] nh13 commented on #662
@gevro thank-you for all your questions, there's a lot to answer!  We're prioritizing client work, and so thank-you for your patience.

[2021-02-26 08:06] nh13 commented on #663
https://github.com/fulcrumgenomics/fgbio/issues/662#issuecomment-786482347

[2021-02-26 08:09] nh13 commented on #664
It's `cE`.  I'd ask you take a look at the source and trace back to verify:

* https://github.com/fulcrumgenomics/fgbio/blob/29132fbf1c1ea43c9923547b74d1d1a902536b14/src/main/scala/com/fulcrumgenomics/umi/FilterConsensusReads.scala#L106
* https://github.com/fulcrumgenomics/fgbio/blob/29132fbf1c1ea43c9923547b74d1d1a902536b14/src/main/scala/com/fulcrumgenomics/umi/FilterConsensusReads.scala#L138
* h

[2021-02-26 08:09] #664 closed

[2021-02-26 13:51] ehenrion commented on #655
Thanks so much for your help !

Since I'm working with "raw" fastq (i.e. not demultiplexed) I will indeed modify the script :
- no sample_name section in the MGI fastq header
- barcode(s) can be retrieved for the read2 Fastq file as they are appended at the end of the R2 read, so both read1 and read2 fastq files need to be read in parallel in order to fetch the sequence of the "sample barcode" nee

[2021-02-27 23:50] gevro commented on #662
Of course, thank you so much!

[2021-03-01 00:19] gevro opened #666 "Err-pre and Err-post in documentation"

[2021-03-01 00:20] nh13 commented on #666
See: https://github.com/fulcrumgenomics/fgbio/wiki/Calling-Consensus-Reads

[2021-03-01 00:20] #666 closed

[2021-03-01 00:21] gevro commented on #666
Sorry, I submitted the comment before putting in the full question. See above.

[2021-03-01 00:32] gevro commented on #663
Note also issue #666. I posted it without the full question by mistake before the comment was closed. I'm linking here in case you don't get notifications on closed comments.

[2021-03-01 00:53] nh13 commented on #666
Yes it is simplified but it is computed as probabilities.

[2021-03-01 20:25] #634 closed

[2021-03-01 22:24] gevro opened #667 "GroupReadsByUmi: strand information"
Hi,
Does GroupReadsByUmi require all sequences to be aligned to the same strand? I assume yes, but the documentation doesn't state this explicitly.
Thanks.

[2021-03-02 17:53] gevro opened #668 "CallMolecularConsensusReads - collapsed UMI sequence contains 'N'"
Hi,
It seems that CallMolecularConsensusReads collapses the UMI sequence and assigns 'N' to UMI bases that are ambiguous based on the constituent reads.

I couldn't find where this was documented, but I'm curious if this behavior can be suppressed? Because if one wants to do GroupReadsByUmi again later, it doesn't work when there are Ns in the UMI sequence.

Thanks.

[2021-03-03 12:36] mmterpstra commented on #604
https://github.com/mmterpstra/pipeline-util/blob/master/src/AddFragCountsToVariantsSamtools.pl tool to annotate unique fragment counts per alt allele bit of an WIP due to skipping reassembly so don't trust indel variants (Needs samtools and vcftools).

[2021-03-18 12:21] madsheilskov opened #671 "Linking input - UMI non-collapsed reads - to UMI collapsed consensus reads"
Is there a way using fgbio commands to see which original reads that goes into individual UMI collapsed reads, effectively linking reads from GroupReadsByUmi to CallMolecularConsensusReads. This would be helpful in adjusting GroupReadsByUmi settings (as well as other settings).
In its most simple form this would be a table with input read name and output (collapsed) read names, or a table with inp

[2021-03-18 15:27] nh13 commented on #671
@madsheilskov good question, there is no command or tool for this in fgbio, but all the information should be there, as the raw reads are annotated with `MI` by `GroupReadsByUmi` and the collapsed/consensus reads will have the same `MI` too.

[2021-03-18 15:27] #671 closed

[2021-03-18 19:53] tfenne commented on #671
I think actually it's even easier than that.  I believe we name the consensus reads by the `MI` tag, and the output of GroupReadsByUmi is sorted by the `MI` tag, so it really is just looking at that BAM and taking consecutive read names that share the MI tag.

[2021-03-21 20:06] madsheilskov commented on #671
Thanks - @tfenne  you are right - the GroupReadsByUmi output has the input and output UMI (as well as read name and position of cause).

[2021-03-24 18:45] gevro opened #672 "CallMolecularConsensusReads - saving original read names"
Is there a way for CallMolecularConsensusReads to save the original read names for each consensus read in the BAM record tags?

[2021-04-09 18:58] ISmolicz opened #673 "ExtractUmisFromBam: difficulty with specifying two read structures for paired-end reads"
Dear fgbio Team,

I am aiming to extract UMIs from an unmapped BAM using ExtractUmisFromBam, which contains paired-end sequencing data. For the overall sequencing run, I confirm the read structure is 148T8B10M148T, which I have used with e.g. IlluminaBasecallsToSam (Picard).

However, although I have read the relevant fgbio read structure [documentation](https://github.com/fulcrumgenomics/fgbio/wi

[2021-04-09 21:37] nh13 commented on #673
For `IlluminaBasecallsToSam` I believe you specify the read structure for both reads in one string, whereas for `ExtractUmisFromBam` you need to provide a read structure, one for each read.  So something like `148T` and `8B10M148T` depending on your inputs.  You can then use the [online tool](https://fulcrumgenomics.github.io/fgbio/validate-read-structure.html) to validate your structures

[2021-04-13 04:41] jrparedes commented on #410
Hello Nils,

I am using a HAPCUT1 output and the latest fgbio release, getting this error, any suggestions?:

$ java -jar ../fgbio-1.3.0.jar HapCutToVcf -v br43.unphased2.vcf -i br43.hapcut -o br43.phased.vcf

[2021/04/12 21:33:03 | FgBioMain | Info] Executing HapCutToVcf from fgbio version 1.3.0 as jrparedes@login2 on JRE 1.8.0_275-b01 with snappy, IntelInflater, and IntelDeflater
[2021/04/12 21:

[2021-04-13 05:36] nh13 commented on #410
@jrparedes please open a separate issue.

[2021-04-13 20:16] ISmolicz commented on #673
Thank you for your advice @nh13. With only one unmapped BAM file as input, I was uncertain as to how the single read structure should be separated into a set of read structures to ensure both forward and reverse reads are assigned a tag containing the UMIs.

[2021-04-13 20:17] nh13 commented on #673
@ISmolicz if you

[2021-04-13 20:17] #673 closed

[2021-04-13 23:57] jrparedes opened #674 "NumberFormatException: For input string: "2.0 MEC00 0.00 7.00 2.00""
Hello Nils,

I am using a HAPCUT1 output and the latest fgbio release, getting this error, any suggestions?:

$ java -jar ../fgbio-1.3.0.jar HapCutToVcf -v unphased2.vcf -i output.hapcut -o phased.vcf

[2021/04/12 21:33:03 | FgBioMain | Info] Executing HapCutToVcf from fgbio version 1.3.0 as jrparedes@login2 on JRE 1.8.0_275-b01 with snappy, IntelInflater, and IntelDeflater
[2021/04/12 21:33:03 |

[2021-04-13 23:58] jrparedes commented on #410
@nh13 Thank you Nils for the prompt reply. I did so.

[2021-04-14 00:03] nh13 commented on #674
@jrparedes it looks like your input is mis-formatted and you'll need to identify the line where that's the case to help.  You can also read through [the code](https://github.com/fulcrumgenomics/fgbio/blob/468a843d19da4f67106dc148a1dba1f2c3390eab/src/main/scala/com/fulcrumgenomics/vcf/HapCutToVcf.scala) to see if the parsing matches the input.  If that's not possible, please attach your full input

[2021-04-14 00:10] jrparedes commented on #674
@nh13 Thank you Nils for your reply. I was, since yesterday, reading past issues. I realized the eight field in the hapcut file changed from 0/1 to0/1:122,0,147. So, I removed the extra characters using:

$awk '!/^BLOCK/ {sub(/:.*/, " ", $8); NF=11}1' output.hapcut >output.hapcut.new

$head output.hapcut.new

BLOCK: offset: 1 len: 2 phased: 2 SPAN: 15 MECscore 0.00 fragments 24
1 0 1 BTABA00001_EO

[2021-05-06 10:55] crossz opened #675 "IntelInflater are used on Mac 11.3.1 (macOS Big Sur), how to turn to jdk one?"
IntelInflater is used on Mac, but this issue should be fixed from 1.1.0 thru a pr for this jdk/intel inflater issue.
Run the following command, on which fgbio is installed thru Conda, the errors of Intel inflater will be reported.

[code]

[code]

[2021-05-06 16:55] nh13 commented on #675
Looks like we still use `0.8.6`: https://github.com/fulcrumgenomics/fgbio/blob/468a843d19da4f67106dc148a1dba1f2c3390eab/build.sbt#L136

Can you try the branch for the this PR: https://github.com/fulcrumgenomics/fgbio/pull/676?

[2021-06-13 20:33] salpie opened #678 "GroupReadsByUmi - all the reads are filtered because of Ns"
When running GroupReadsByUmi most of the reads were filtered because they contained one or more Ns in their UMs. Is there a way I can remove these Ns and will this fix the issue?

[code]

thanks

[2021-06-14 22:18] tfenne commented on #678
The problem right now is that the algorithm for error-correcting UMIs doesn't handle `N`s in the UMI appropriately, so the software is conservative and rejects reads with Ns in their UMIs.  If for example the `Ns` are 1-2bp at the ends of the UMIs then I would definitely recommend just truncating.  Have you inspected your UMIs to see where the Ns are?  The fact that 100% of your reads got filtered

[2021-06-17 07:00] tahuh opened #680 "ReviewConsensusVariants : Variants and consensus iterator out of sync."
Hi team.

When I tried to use `ReviewConsensusVariants` command, an error has occurred.

What does `Variants and consensus iterator outof sync` mean and how to solve this problem?

Below is the command line I used and the full error message.

I use conda environment

[CommandLine]
[code]
[Error Message]
[code]

[2021-06-17 19:54] nh13 commented on #680
@tahuh can you ensure that the order of the variants in the VCF are the same as the records in the BAM?  I'd bet the sex chromosomes or other chromosomes after the autosomes are in different order.

If you're up for it, you can [modify the code ](https://github.com/fulcrumgenomics/fgbio/blob/468a843d19da4f67106dc148a1dba1f2c3390eab/src/main/scala/com/fulcrumgenomics/umi/ReviewConsensusVariants.sca

[2021-06-21 12:34] tahuh commented on #680
@nh13

Do you mean that the BAM header (`@SQ` lines) must in the same order of VCF's `##contig` line?

[2021-06-21 14:52] nh13 commented on #680
Exactly. The two files should be sorted similarly,  and have the same contig lines in the same order.

[2021-06-22 05:21] tahuh commented on #680
@nh13 Thanks for the reply. I have checked the order of BAM `@SQ` line and VCF's `##contig` line and found that those are in the same order as shown below.

My another question is the ##contif line 's potition in the file. Is ther any specifications?

Thanks in advance
[code]

[2021-06-23 17:52] nh13 commented on #680
@tahuh could you post or share your BAM and VCF files for us to reproduce?  It would ideal to reduce the size both to isolate the issue.

[2021-06-26 04:25] tahuh commented on #680
@nh13 Sorry for late reply. I'd like to share data but the volume of BAM file is too large.

Do you think the sub-sampling of BAM records will reproduce the issue?

If so, how I could share data in secret? (since this is confidential data.)

[2021-06-28 18:23] fleharty opened #682 "Add option to CallDuplexConsensusReads to force base call"
I'm experimenting with some issues related to DNPs (2 letter SNPs).  I've noticed in a few cases I get evidence where suppose the reference read is "TGCA", and the alt read is "TCAT" representing an GC->CA DNP.

Some alt-reads will be reference, "TGCA"
Others will be alt, "TCAT"
while others may be, "TNAT" and "TCNT", or even "TNNT".

I believe that some variant callers that do graph assemblies ca

[2021-06-28 18:23] nh13 commented on #680
@tahuh Ideally you'd reduce the VCF to a region that causes the issue, as well as to the sam region in the BAM file eg with `samtools`/`bcftools`.  If you can do that, you share with my email (Nils at fulcrumgenomics dot com).  Otherwise, I'd suggest you work with your IT department to share the data.

[2021-06-28 18:28] nh13 commented on #682
I'd vote for setting it to the reference base with Q2. I'd be open to an option to opt in to that behavior.  I think having an `N` is much more explicit about the ambiguous/low-quality call, but I understand the need.  One could even have a post-processing tool to re-insert the reference bases at any N calls in the reads if you wanted to keep it separate.  @tfenne thoughts?

Any chance you could a

[2021-06-28 19:49] fleharty commented on #682
@nh13 The issue is in M2, I don't yet have a ticket open, and I honestly don't know if this is really what is causing the problem, so I should just do some experiments, and just test it out.

I think for this idea to work, I would need to set the base to the most common (or most probable) base with a tie break going to the reference, rather than just the reference.  The reason is because if we use

[2021-06-28 22:45] nh13 commented on #682
@fleharty what if you set `--min-consensus-reads 1`.  I wonder if that will blow things up or if it will Just Work TM.  For why I think it might work, see [this link](https://github.com/fulcrumgenomics/fgbio/blob/468a843d19da4f67106dc148a1dba1f2c3390eab/src/main/scala/com/fulcrumgenomics/umi/VanillaUmiConsensusCaller.scala#L214-L219)

[2021-07-13 02:17] worker000000 opened #683 "fgbio and umi-tools, and called variant with vardict, umi-tools get 8 times variants than fgbio"
Thanks a lot for your comprehensive software.

with vardict caller.

for a target sequencing of 100k panel, umitool get 1105 get variants, fgbio get 257 varians

for a target sequencing of 2000k panel, umitool get nearly 80000 variants, fgbio get nearly 10000 varians

with fgbio, it does not specify the deduplication algorithm that corrects for PCR/sequencing errors in UMI sequences. # http://fulc

[2021-07-13 15:55] fleharty commented on #683
@worker000000 I'm not an fgbio developer, but I thought I would weigh in.

It's impossible to know here which tool is doing better than the other.  It's important that you identify which variants are true positives and which are false positives.  If you can't do that with your current data, it may be necessary to construct and sequence libraries for which you have good truth information.

From the

[2021-07-13 16:15] nh13 commented on #683
@worker000000 there are a lot of details missing from your description of what you're trying to do.  Is there one UMI, two UMIs, duplex sequencing?  What _strategy_ are you using in `GroupReadsByUmi`?  Are you calling consensus reads after grouping or calling variants directly?  Is this a gemline sample, somatic sample, other?  Do you have a truth sample with known variants (allele frequencies for

[2021-07-13 16:15] #683 closed

[2021-07-19 09:06] worker000000 commented on #683
Thanks a lot for your kind and helpful suggestion.@nh13  @fleharty
 1    I am doing somatic calling of paired samples of PE sequencing, I have Umi  in both reads,

2     I call variants after do consensus
3   there are so many variants here, I do not have truth dataset, but both tools may have done this before I guess.
4    strategy are you using in GroupReadsByUmi
java -Djava.io.tmpdir=TMP -Xmx10

[2021-07-22 03:03] worker000000 opened #688 "reopen: fgbio and umi-tools, and called variant with vardict, umi-tools get 8 times variants than fgbio"
because the first question is closed, so I need to reopen it

This isssue related to #683
#
Thanks a lot for your kind and helpful suggestion.@nh13 @fleharty
1 I am doing somatic calling of paired samples of PE sequencing, I have Umi in both reads,

2 I call variants after do consensus
3 there are so many variants here, I do not have truth dataset, but both tools may have done this before I guess.

[2021-07-22 03:57] nh13 commented on #688
Without (1) having access to the data, (2) understanding UMI tools, and (3) having some spare time to help debug this, I’m not sure I’ll be much help. Can you look at the different variants in IGV or your favorite genome browser along with the reads and see if you can spot a pattern. You’ll have to spend time digging into why some consensus reads and variants. are present in one versus another. I

[2021-07-22 03:58] nh13 commented on #688
I’ll also say that if you do want us to spend the significant time it takes to look into this issue, you can contact us at www.fulcrumgenomics.com and tell us the budget you have for this issue and we can discuss.

[2021-07-22 05:39] worker000000 commented on #688
@nh13
Thanks a lot for the help, it is really not that easy, I will contact the email in the website

[2021-07-28 17:05] alleeBio opened #690 "fgbio-1.3.0.jar Demux Fastqs JAVA runtime error"
Issue with DemuxFastqs while running java version "15.0.1"
![image](https://user-images.githubusercontent.com/88105654/127365684-4621e7a0-7a22-4bb3-859a-583f47de2ba9.png)

[2021-08-14 02:01] cnk113 opened #694 "CallMolecularConsensusReads on a bam with both PE and SE reads?"
Hello,

I'm running into issues with CallMolecularConsensusReads b/c I have a mixed library sequenced separately with both SE and PE. When I do SetMateInformation I'll lose my SE library if I try to do `-x` I can't since CallMolecularConsensusReads will throw an error on missing mates on my SE reads.

Would you recommend splitting the library to both SE and PE and run CallMolecularConsensusReads s

[2021-08-14 02:22] nh13 commented on #694
Yes, for now splitting the SE and PE into two and processing them independently until variant calling makes sense.

[2021-08-14 02:22] #694 closed

[2021-08-19 02:29] liuhepkk opened #695 "GroupReadsByUmi issue"
Dear engineer：

There are some fusion templates  which R1 R2 may be from different chr in pair end reads.
question1:
                Are these  templates can be passed after GroupReadsByUmi ?
I was confused of the docs:
 " Reads are aggressively filtered out so that only high quality read pairs with both ends mapped are taken forward."

question2:
               It is that mean only the templates

[2021-08-19 06:08] nh13 commented on #695
The support for grouping R1 and R2 across contig was added here: https://github.com/fulcrumgenomics/fgbio/pull/648

I don’t think we’ve done a release with it, so you’ll need to build off master.

[2021-08-19 06:08] #695 closed

[2021-08-31 07:18] roh329 opened #697 "CallDuplexConsensusReads didn't subtracts base quality by 20, instead subtracts by 19."
I'm trying to rescue more nucleotides when making DCS from a very small family size.

In my case, the nt was masked by base quality. And I'm looking back to the consensus algorithm.

I found it looks like the base qualities were adjusted by subtracting by 19 phred score.

Could you check this issue?

I'm using fgbio latest version 1.3.0.

[2021-08-31 12:12] nh13 commented on #697
Can you provide a small reduced SAM file for us to reproduce the issue along with what you expected?

[2021-09-01 00:26] roh329 commented on #697
I'm sorry, I was confused. It is working perfectly.

[2021-09-01 00:26] #697 closed

[2021-09-02 07:08] diushiguzhi opened #698 "There is a error, when i use FilterConsensusReads"
Hi，
   The following is an error message ：
 Exception in thread "main" java.lang.IllegalArgumentException: requirement failed: Expected the AB-strand to have depth >
 0 for read: RD31CM069962_T:12284905 1/2 1b unmapped read.

[2021-09-03 22:33] nh13 commented on #698
@diushiguzhi could you:

1. Tell us how you created the consensus reads?
2. Provide a test case (small SAM with just the reads with name `RD31CM069962_T:12284905`)

When we run create consensus reads with our tools, the A strand (for duplex sequencing) should always have depth,  while the B strand may not.

[2021-09-08 08:45] emissiaglia opened #701 "UMI collision"
Hi,
Using a UMI with just 9nt generates a large number of UMI collisions in our library. In fact, in our libraries we observed up to 10-20 different groups of reads (based on genomic positions) sharing the same UMI. It seems that the complexity of our libraries is far higher than the number of unique UMI provided by the company.  Therefore, I would like to make sure to understand correctly how Gro

[2021-09-08 15:53] nh13 commented on #701
That's correct, for paired end reads it looks at the start and stop/end positions of the template (outer coordinates) along with the UMI.  So if any of the UMI bases, start, or stop/end differ, they are assigned a different unique molecule (MI tag).

Collisions will occur if two reads are derived from difference source molecules but have the same UMI _and same start and stop/end_.  In that case, a

[2021-09-10 15:58] qsik opened #704 "Documentation"
Hello all.
Using fgbio from conda. It would be nice if the documentation mentioned that the reference fasta needs to have an accompanying .dict file generated by Picard or other tools. I spent a long time trying to figure out why I kept getting a NullPointerException until I read somewhere that some of fgbio's tools required the .dict file

[2021-09-10 16:01] nh13 commented on #704
@qsik thank-you for the report, we should fix that error message as that's really not informative.  And we should update the documentation.  Thank-you!

[2021-09-11 17:28] Poshi opened #705 "Lowering memory usage in AnnotateBamWithUMIs"
I saw that you are loading the entire FastQ file with the UMIs for processing. This makes sense when you expect a bam file with a different sorting, like an aligned and coordinate sorted bam.
But this could be streamlined with the alignment itself: you could get the output from the aligner (typically in sam or bam format), which is in the same order as the input, and attach the UMIs from the UMI F

[2021-09-11 21:58] nh13 commented on #705
Agreed. This is certainly feasible and wouldn’t be too hard to implement. Happy to review a PR if you’re up for it.

[2021-09-13 10:16] Nickier0510 opened #707 "WES data with UMI"
Hi ~ I get a WES data set, each sample contains 3 fastq files, 1.fastq.gz, 2.fastq.gz and *umi.fastq.gz, as shown in the figure below. I know the workflow of WES data, but I don't know what the UMI file does. Whether there is a related tutorial?  I know the non-UMI WES data workflow: BWA-MarkDuplicates-BQSR-Call Variant, but I don't know how to analyze UMI-WES data, such as how to Call Variant. Wh

[2021-09-13 11:56] Poshi commented on #705
I'll try to create something useful, but I don't really think I would make it. Never coded in scala and I don't either have the environment for it. Although being a simple algorithm, not sure if I will be able to create it without a lot of work (learning a whole new language).
I could provide pseudocode, or code in another language (easily in Python, probably in C or even Java).
Let's see what can

[2021-09-13 16:06] nh13 commented on #705
It might be helpful to read through some other code if you're thinking of contributing, and Scala is just a more concise Java, so hopefully not too hard.  Unfortunately, we make such improvements on our own time, so prioritize paid client work (feel free to reach out if you'd like to engage with us).  Thank-you for your understanding!

[2021-09-13 16:08] nh13 commented on #707
@Nickier0510 this question is a little too broad for this venue.  Have you tried posting this question to [Biostars](https://www.biostars.org/)?  If there are questions about specific fgbio tools, feel free to re-open and we're happy to continue the discussion.

[2021-09-13 16:08] #707 closed

[2021-09-14 03:03] Nickier0510 commented on #707
Hello, I saw that fgbio has a tool FastqToBam. I want to know whether my data needs to be preprocessed by this tool. Or how should I use fgbio's best practice workflow to process my data. I have asked this question on biostars, and someone answered using umi_tools, I am trying.

[2021-09-14 10:33] Poshi commented on #705
Just created a [PR](https://github.com/fulcrumgenomics/fgbio/pull/709) for this. I hope the code is not too horrible. I'm surprised I managed to do that in so few time given my null experience with scala.

[2021-09-16 14:43] FelixMoelder opened #710 "Improvement (maybe bug): Improper paired read get trimmed by max primer length instead by assigned primer length"
When performing primer trimming with single primers I noted that improper paired reads are always trimmed by the maximum primer length even if a primer can be assigned to one of both reads.

To illustrate this further I've attached an example.
`sample.bam` contains a pair of two reads where the first read has been mapped while the second read is unmapped.
`primers.tsv` contains two primers single-

[2021-09-22 07:46] FelixMoelder opened #715 "request: new release"
We would like to utilize the latest changes of fgbio in our pipeline. So, would you create a new release of fgbio?

[2021-09-22 22:23] nh13 commented on #715
@FelixMoelder we have a few more PRs to add to a new release (#711, #713, #714, and one incoming), but will do so shortly (and bump bioconda)

[2021-09-23 06:08] FelixMoelder commented on #715
Perfect, thank you!

[2021-09-25 06:11] crossz opened #718 "GroupReadsByUmi returns empty bam"
We got a mapped bam file, and we want to do consensus calling,  but ```fgbio GroupReadsByUmi -Xmx6g --input=test.bam --output=test.grouped.bam --strategy=adjacency --edits=1  --min-map-q=20``` generated empty bam and saying:

[code]

Any ideas, what we missed?

the test.bam as samtools view looks like following:
[code]

[2021-09-30 08:53] asmlgkj opened #721 "readstrcuture puzzle"
Dear author,
thanks a  lot for this tool.
1   I want to know if umi data needed to do adpter trim before umi extract(I think should do extract umi first)
2 if I set  fgbio ExtractUmisFromBam  3M2S146T 3M2S146T, if a read not has 146T, will it be filtered?

[2021-09-30 09:17] emissiaglia commented on #701
Many thanks for your clarifications and help.
I was wondering if the presence of different reads (with different starting or ending positions) with the same UMI would impact the computational time required by the algorithm to assign them to different families. In other words, if we increase the length of our UMI to minimize the risk of having different reads labeled with the same UMI, would that d

[2021-09-30 18:23] nh13 commented on #721
1. If you want to adapter trim, then do so after alignment, which may just not align adapters anyhow.
2.  `3M2S146T` will require the given read to have 151bp.  You can also use `3M2S+T` to capture reads of any length but with a leading fixed set of 5bp.  See the [read structures on the wiki](https://github.com/fulcrumgenomics/fgbio/wiki/Read-Structures) and [this handy web-tool for validating you

[2021-09-30 18:23] #721 closed

[2021-09-30 18:26] nh13 commented on #701
@emissiaglia if two reads have the same UMI but different coordinates, then computational performance wont be affected since reads are split by coordinates first.  If we have many many reads with the same start/stop positions, then computational performance degrades significantly as we have to compare UMI sequences across all reads with the same start/stop positions.  We have a few novel ideas to

[2021-09-30 18:26] #701 closed

[2021-10-01 22:37] asmlgkj commented on #721
@nh13
thanks  a lot
I am not clear about do trim after align, tools like fastp fastqc do trim on fastq

[2021-10-01 22:42] nh13 commented on #721
@asmlgkj you could run `picard MarkIlluminaAdapters`, but that doesn't trim, only mark.  It may not be necessary to trim your adapters based on your application, as likely the aligner (.g. `bwa`) will soft-clip them.  Nonetheless, the question of soft-clipping is a bit beyond the scope of `fgbio` tools, so I'd refer you to a more general help forum like https://www.biostars.org/.

[2021-10-02 00:56] asmlgkj commented on #721
thankas  alot
for the non-umi data, we oftern run fastp and then bwa,
I am not very sure about umi data, whether extract umi; fastp and then bwa,  is a suitable process

[2021-10-04 16:44] gcarbajosa opened #722 "How to group reads from same duplex DNA fragment (Sureselect XT HS) grouping by UMI"
Hello,

I am trying to analyse a dataset generated using Sureselect XT-HS. I believe this technology generates duplex DNA data (see methods of this paper) but I am failry new working with UMIs and I am bit confused.

 My main doubt is: how do I know which reads come from the same duplex? in other words, is there a way to match the barcodes to identify "matching" read pairs that come from the same

[2021-10-04 22:33] nh13 commented on #722
@gcarbajosa I'd love to know _how_ the three FASTQs (R1, R2, UMI) were generated.  I think this is the main source of the confusion.

 For duplex sequencing, typically there are dual molecular barcodes that are found at the start of R1 and R2 respectively.  I see 10bp in the UMI file, so perhaps the leading 5bp from R1 and leading 5bp from R2 are concatenated into this file?  I think that that onl

[2021-10-05 05:33] FelixMoelder commented on #715
@nh13 Any news on when to expect a new release?

[2021-10-05 05:34] nh13 commented on #715
Still a few more features to implement in the next week or two (client sponsored, so we’re motivated to get them done before a release). Thanks for your patience!

[2021-10-05 06:50] gcarbajosa commented on #722
@nh13 Thank you so much for the quick reply and your detailed explanation!

They libraries were generated by BGI (https://www.bgi.com/us/dnbseq-ngs-technology/ ), that claims to be Illumina-like.

AFAIK, the protocol used for the libraries was Sureselect HT XS (https://www.agilent.com/cs/library/usermanuals/public/G9702-90000.pdf) not Sureselect XT HS2. Reading the protocol I assumed the reads hav

[2021-10-05 07:51] gcarbajosa commented on #722
In case it helps too, here is an image from the paper I mentioned before:
![image](https://user-images.githubusercontent.com/304706/135982080-d5b792fb-6e75-415c-b7a7-d96faa1c24c0.png)
 and the legend is:

(D) Illustration of duplex read pair detection. A double stranded cfDNA fragment (black) containing a variant (green) is depicted, ligated to Y-shaped MBC-tagged adapters (grey).

[2021-10-05 18:41] nh13 commented on #722
@gcarbajosa I don't see how this is duplex sequencing if you don't have the same barcodes (e.g. blue) read on both the top and bottom strand reads.   Looking at the paper, they say:

Also:

From my reading of the paper, the top and bottom strand from the same original duplex molecule can not be distinguished from a top and bottom strand from different original duplex molecules.  They find variants

[2021-10-05 19:36] gevro opened #723 "Indels in CallMolecularConsensus"
Hi,
How are indels handled by CallMolecularConsensusReads?
The documentation says "Insertion or deletion errors in the reads are not considered in the consensus model."

But what is actually the output when reads within a UMI group differ by indels?

Thanks.

[2021-10-05 20:05] nh13 commented on #723
@gevro take a quick look at the [cigar filtering](https://github.com/fulcrumgenomics/fgbio/wiki/Calling-Duplex-Consensus-Reads#cigar-filtering), where reads from the same source molecule are further filtered to get rid of ones that have indel differences among other things.

We've found this model doesn't work well when (a) you have indel differences (e.g. PCR strutter in STRs), (b) have low cover

[2021-10-05 20:08] gcarbajosa commented on #722
@nh13 Thanks a lot for the clarification! I was suspecting that it was not really duplex sequencing but now is a lot clearer to me.

I would like to comment on just one more thing related to my original question (i.e. how to group UMI reads with Sureselct XT HS ) to wrap this up before I go. I'll understand if you have other things to do... but I'd love to hear what you think if you have the time.

[2021-10-05 20:48] gevro commented on #723
Unfortunately STRs is one of the types of loci we are concerned about. Any other UMI tool you are familiar with that could make a consensus in a reasonable way with indels?

[2021-10-05 21:00] nh13 commented on #723
We did a bit of work on this a while back [`fgstr`](https://github.com/fulcrumgenomics/fgstr) which used [`HipSTR`](https://github.com/tfwillems/HipSTR) to model STR-specific PCR stutter.  It was very much in the early-alpha stage for a given project where we were genotyping known STR markers.  That was a few years ago and our client-sponsor worked moved onto other projects, so we did not fully ba

[2021-10-05 21:06] gevro commented on #723
Interesting. Looks like that is a full duplex-seq pipeline. Is there a part of fgstr that can be used for just single molecule consensus calling from standard UMI groups, not necessarily duplex? If so, we could try it.

But I understand this is not an active project anymore for you...

[2021-10-05 21:57] nh13 commented on #723
I don't there is, but the pieces are there, we just don't have a client-project to motivate the work ;)

[2021-10-06 02:26] gevro commented on #723
Thanks, we will think it over, and will be in touch if we need your services as a project!

[2021-10-13 07:21] zhangjl-work opened #725 "[ FgBioMain | Info] CallDuplexConsensusReads failed. Elapsed time: 7.49 minutes. Exception in thread "main" java.lang.OutOfMemoryError: GC overhead limit exceeded"
Hello, dear teacher,
I run ：fgbio CallDuplexConsensusReads --input=S1.GroupedReads.bam --output=S1.consensus.unmapped.bam --error-rate-pre-umi=45 --error-rate-post-umi=30 --min- input-base-quality=30 ，The following error appears：
[ FgBioMain | Info] CallDuplexConsensusReads failed. Elapsed time: 7.49 minutes.
Exception in thread "main" java.lang.OutOfMemoryError: GC overhead limit exceeded  。 How

[2021-10-14 19:38] caitloh opened #727 "Using CallMolecularConsensusReads output with Picard CollectHsMetrics"
I am trying to use an output .bam from CallMolecularConsensusReads as the input for Picard CollectHsMetrics, but I get the error "Sequence dictionaries are not the same length".

I looked at the header of the CMCR .bam and saw that there is no sequence dictionary in that file, whereas the original .bam had one. I assume this is causing the issue with Picard.

Is it possible to remedy the sequence

[2021-10-14 19:47] nh13 commented on #727
@caitloh you'll need to map the reads coming out of `CallMolecularConsensusReads` as we do not retain mapping information.  Hopefully since there are far fewer consensus reads than input raw reads, that isn't too much of a burden.

[2021-10-14 19:47] #727 closed

[2021-10-15 16:13] nh13 commented on #690
@alleeBio looks like an issue with the https://github.com/Intel-HLS/GKL library we use.  Let us know if you still have this issue.

[2021-10-15 16:13] #690 closed

[2021-10-19 18:41] #688 closed

[2021-10-19 20:46] nh13 commented on #675
@crossz closing due to inactivity

[2021-10-19 20:47] #674 closed

[2021-10-19 20:48] nh13 commented on #672
@gevro the reads coming out of `CallMolecularConsensusReads` should have the `MI` tag, which you can use to look back into the grouped BAM.

[2021-10-19 20:48] #672 closed

[2021-10-19 20:55] #633 closed

[2021-10-19 20:56] #599 closed

[2021-10-20 03:13] gevro commented on #668
I have a bit of a different situation than the usual one. My library structure provides sequence on both top and bottom strand in each individual flow cell cluster. And there are PCR duplicates. So I first use GroupReadsByUmi to group together all the PCR duplicates of the top strand sequence -> CallMolecularConsensusReads, and the same thing for the bottom strand. Then I want to call a duplex con

[2021-10-20 03:17] gevro opened #731 "CallMolecularConsensusReads - collapsed UMI sequence contains 'N'"
Sorry, I don't see a way for me to re-open the prior issue #668 that I commented on again, so I am making this issue just in case you don't see my comment/reply.

[2021-10-20 03:20] #731 closed

[2021-10-20 18:13] nh13 opened #732 "Support outputting the UMI base qualities when extracting/annotating UMIs"
Optionally extract/annotate the UMI qualities in addition to the UMI bases in the following tools:

- [x] `AnnotateBamWithUmis` (see #733)
- [ ] `ExtractUmisFromBam`
- [x] `FastqToBam` (see #740)
- [ ] ~`DemuxFastqs`~

[2021-10-21 04:21] crossz commented on #718
1.3.0 and 1.4.0 still can not work on Mac due to the incompatible and unchangeable IntelInflater, and IntelDeflater.

[2021-10-21 05:06] nh13 commented on #718
@crossz just a heads up we all use Macs and use fgbio without issue.  I think there was another issue that talks about this. Feel free to comment on that one, but you’re statement is a little strong.

[2021-10-21 05:25] crossz commented on #718
good to know this. very important info. I will do more research to find out what's going wrong and improper configuration there.

And I do appreciate what you guys doing, it's great work. Will try my best to help. And there are still quite a lot to learn ahead for me in this field.

[2021-10-21 05:39] nh13 commented on #718
Here’s the issue: https://github.com/fulcrumgenomics/fgbio/issues/718#issuecomment-948245127

[2021-10-22 08:58] Poshi opened #734 "Wrong missing data handling in AnnotateBamWithUmis"
In the latest version of `AnnotateBamWithUmis`, where the option to assume same sorting in both files is offered, this is tackled in two branches:

1. The original branch, where all the UMIs are read into a dictionary and for each BAM record the dictionary is queried. If some UMI is not found, we complain that we have a missing UMI. That's good.
2. The new branch, where we traverse the UMIs file a

[2021-10-26 19:59] #734 closed, assigned to nobody

[2021-11-04 19:54] caitloh opened #738 "Cigar filtering in CallMolecularConsensusReads"
Does CallMolecularConsensusReads use the same method of cigar filtering as CallDuplexConsenusReads?

If so, what happens if there are only two reads or you have two groups with the same number of reads, essentially a tie for the largest group? How does the program pick which group to use for calling the consensus read?

[2021-11-04 20:05] nh13 commented on #738
1. Yes, `CallMolecularConsensusReads` uses [the same method of cigar filtering](https://github.com/fulcrumgenomics/fgbio/blob/b01fc04e46ab5ddf18076136f5ac8c1ebe9ad53f/src/main/scala/com/fulcrumgenomics/umi/UmiConsensusCaller.scala#L331) as `CallDuplexConsenusReads`
2. It picks one of the two groups as the final group of reads (see [here](https://github.com/fulcrumgenomics/fgbio/blob/b01fc04e46ab5d

[2021-11-15 02:01] asmlgkj opened #741 "tumor and normal both used umi"
Dear professor,
Thanks a lot for developing such a powerful tool for umi treated data
If tumor and paired normal sample both used umi , when use vardict for calling data, should I used the fgbio treated normal sample or just sorted_dedup.bam

model1
tumor_fgbio.bam    vs       normal_fgbio.bam

<br>
<br>
model2
tumor_fgbio.bam    vs       normal_sorted_dedup.bam

[2021-11-15 20:11] nh13 commented on #741
Can you provide more context about what you're trying to accomplish (specificity, sensitivity, low frequency variant detection, etc. etc)?  Can you tell us how the UMIs are treated?  In general, we're happy to help with the downstream use of our tools with more context.

If there is an issue or question with a specific `fgbio` tool feel free to re-open this issue, otherwise I suggest you move over

[2021-11-15 20:11] #741 closed

[2021-11-15 22:18] gcarbajosa opened #743 "Issue with duplicates (artifact?) with BGI DNA barcoded data"
Dear fgbio developers,

I know this is issue is not something that is really specific of the fgbio tools but it's something I've been puzzled about for quite a while and I would really appreciate it if I could have advice from other people that have experience working with UMIs.

We have generated DNA-seq data using a panel of genes with the Sureselect XT HS technology. I have generated my own pip

[2021-11-16 01:12] asmlgkj commented on #741
yes, both the normal and tumor sample add umi when sequencing, umi is 3M2S+T in both reads,
Thanks a lot

[2021-11-17 05:45] nh13 commented on #743
I haven't looked at the Sureselect XT HS technology prep (only the HS2 which is duplex sequencing with dual index sample barcodes).

If I recall correctly, the UMI length is 10bp read in the i5 Illumina index read?  I am not sure how this all manifests with BGI data and have no intuition as I've never looked at BGI data.  Do they use the same sequencing adapters?  If not, how did you modify the Ag

[2021-12-05 11:56] zhangyafeng1 opened #744 "SamToFastq ERROR"
hello:
 After I finish CallMolecularConsensusReads,  when I use SamToFastq, the following error appears, indicating that there is an illegal mate state: A:10000006/A,   could you tell me the reason?  thank you very much !

![屏幕截图 2021-12-05 195148](https://user-images.githubusercontent.com/52239895/144745359-f265cf65-7bff-45f8-b833-acbb73a6d296.png)

Exception in thread "main" picard.PicardExcepti

[2021-12-05 12:16] zhangyafeng1 commented on #744
This is the case in BAM

![image](https://user-images.githubusercontent.com/52239895/144746111-18212052-10de-45c2-9ced-ed1aeec2ba34.png)

[2021-12-05 12:46] zhangyafeng1 commented on #744
This is my code , I'm not sure what caused the error，,Thanks for your help !!

**Step1:**
/usr/bin/java fgbio-1.3.0.jar GroupReadsByUmi \
	-i  merge.extra_umi.bam \
	-o group.bam \
	-t RX -T MI -m 20 --strategy=paired -e 1 \
	-f familysize.txt

**Step2:**
/usr/bin/java -Xmx4g -jar fgbio-1.3.0.jar SortBam \
	-i  group.bam \
	-s TemplateCoordinate \
	-o group.sorted.bam

**Step3:**
/usr/bin/java -Xm

[2021-12-10 05:29] mirwais2k opened #745 "T7uh"

[2021-12-10 05:29] #745 closed

[2021-12-13 20:35] eboyden opened #746 "improve ClipBam speed?"
The output of most aligners is already name-collated, but ClipBam still re-sorts name-collated input into queryname order - is this necessary?

Additionally, after clipping it sorts the output into coordinate order, which is a nice feature but perhaps should be optional, in case either the output needs to be in name-collated order or a faster sort tool is desired.

[2021-12-14 15:09] nh13 commented on #746
@eboyden
1. `ClipBam` will only re-sort if the SAM header is neither `queryname` sorted nor `query` grouped.  (e.g. `@HD\tVN:1.5\tSO:quername` or `@HD\tVN:1.5\tSO:unsorted\tGO:query`).  So if the header is correct, the input will not be resorted.  If you're using `bwa mem`, consider using the `-H` option to specify a `@HD` line, and lend support to this PR: https://github.com/lh3/bwa/pull/336
2. @

[2021-12-14 18:12] eboyden commented on #746
That makes sense, I wasn't aware that the file needs to be _explicitly_ sorted or collated according to the `@HD` line (rather than e.g. fgbio auto-detecting and crashing if it incorrectly decides that the file is already sorted).  We do use `bwa mem` and appreciate the PR (+1'd) but we also use several other aligners including `bwa-mem2`, `minimap2`, and `bowtie2`; getting everyone on the same pa

[2021-12-14 18:12] #746 closed

[2021-12-14 18:50] eboyden commented on #746
@nh13 Thanks for the tip!  It looks like Samtools `reheader` can also do this, and with the `-c` option it can edit a header rather than replace the entire thing.

[2021-12-17 19:12] eboyden opened #748 "bug: ClipBam incorrectly modifies NM tags and crashes when @SQ lines are missing from bam header"
I already raised an issue with Picard, which is similarly affected, and Bowtie2, which is the root cause of the problem.
https://github.com/broadinstitute/picard/issues/1764
https://github.com/BenLangmead/bowtie2/issues/365

Briefly, when using a reference with contigs that are 100% N-masked, Bowtie2 apparently ignores them when building its index, and these contigs do not appear in the `@SQ` line

[2021-12-17 20:37] nh13 commented on #748
@eboyden can you please add a test case?

[2021-12-17 23:59] eboyden commented on #748
Using the first 250k reads of a 1000g sample (SRR1518133):
[code]
I attached the abbreviated SRR1518133 fastqs.  Briefly, I created the reference by using Bedtools to mask the specified reference file with the specified bed files; this results in three contigs that are 100% N-masked.  I then used Bowtie2 (2.4.4) to create a standard index with no options.

Reference:
https://ftp.ncbi.nlm.nih.gov/g

[2021-12-18 00:34] nh13 commented on #748
@eboyden I think this is definitely a nice to have, and will improve the user experience.  I do think it is not unreasonable to assume the input files are not malformed and have the same sequence dictionary.  But this is Bioinformatics!  Thank-you for reporting all this with such detail, and it sounds like you have a temporary solution (update the BAM's header with the proper sequence dictionary).

[2021-12-18 01:06] eboyden commented on #748
Sounds good; ultimately this is a Bowtie2 issue that I hope they will fix.  And perhaps a cleaner solution would be to eliminate fully N-masked contigs from the reference in the first place.  I certainly don't expect downstream tools to handle malformed headers, but it would be nice if they at least recognized them and exited with a descriptive error message.

[2021-12-18 20:52] nh13 commented on #659
@tahuh can you let us know if this worked?

[2021-12-20 10:06] OH-AU opened #749 "log4j version"
Although I don't expect issues, scanners pick up fgbio as vulnerable - could you update to the latest version?
CVE-2021-45046 and CVE-2021-45105 detected in file fgbio-1.4.0.jar. log4j versions: 2.4-2.5

[2021-12-20 15:40] #749 closed

[2021-12-22 23:23] hartzell opened #750 "Log4j version should go to 2.17.0 to remediate CVE-2021-45105"
Thanks for sharing the software with us!

Your fix #747 only updated to 2.15.0.  Unfortunately versions through 2.16.0 were vulnerable to a recursion problem, [CVE-2021-45105](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-45105).

From [the Log4j2 release notes](https://logging.apache.org/log4j/2.x/):

Before you make the release that updates to 2.15.0, you should bump to 2.17.0.

[2021-12-23 00:02] nh13 commented on #750
@tfenne any chance you could take a look since you made the last update?

[2021-12-23 02:51] tfenne commented on #750
I've made PR #751 but that's really just to give people a warm and fuzzy.  The previous update overrides transitive dependencies on log4j to _at least_ 2.15, and actually when running the build today with the build.sbt on master it pulls in 2.17.0.

[2021-12-23 03:23] #750 closed

[2021-12-23 03:29] hartzell commented on #750
Thanks.   Having it be explicit makes conversations with the info sec team easier.

very much appreciated!

[2021-12-23 04:01] tfenne commented on #750
Will also just leave this link here: https://github.com/Intel-HLS/GKL/pull/168

Intel's GKL is where the dependency is coming in from and I'm trying to get them to ditch log4j.

[2021-12-27 16:25] nh13 opened #752 "Update commons dependency to use bug-fixed AsyncIterator"
See: https://github.com/fulcrumgenomics/commons/pull/74

[2021-12-30 08:16] tahuh commented on #659
@nh13 Sorry for late reply.

I tried to use the method you have suggested for my research project but unfortunately me and colleagues decided not to use the read pair assembly option.

I really appreciate your kind help and feel sorry for not using the option.

I think you can close this issue.

[2021-12-30 14:46] #659 closed

[2021-12-30 14:46] nh13 commented on #659
No worries. Thank you for reporting back!

[2022-01-04 00:21] clintval commented on #303
Here's what you need:

- [`Interval.scala`](https://gist.github.com/clintval/088f4a2699f8fc178c6ad989b3504a8c)
- [`IntervalSource.scala`](https://github.com/fulcrumgenomics/fgbio/pull/665/files#diff-02c401a132f4e753f645c66f9402895307724bce864fee3e5d288ac3c94b7171)

[2022-01-10 05:51] Alexander-Palmer opened #756 "GroupReadsByUmi not assigning correct strand information"
Hi team,

I’m trying to group paired end reads as part of a duplex sequencing experiment using _GroupReadsByUmi_.

However, instead of assigning the forward and reverse strands of each molecule as #/A & #/B in the MI tag, the program calls both strands as #/A **OR** #/B. As a result, it artificially increases the total number of UMI groups and prohibits grouping of identical reads with _CallDuplex

[2022-01-11 06:47] nh13 commented on #756
The two examples you gave are reads from the same read-pair (template), so they should have the same molecular identifier suffix (eg. `/A`).  In this case you have R1 at `chr11:32646552+` and R2 at `chr11: 32646621-`.   If you see another read-pair with **R2** at `chr11:32646552-` and **R1 at `chr11: 32646621+` (note the R1/R2 swapped and strand swapped versus the first read-pair), then this latte

[2022-01-12 00:22] Alexander-Palmer commented on #756
Thanks for getting back to me so quickly! I didn't realize that the `/A` and `/B` strands were dependent on the original sense as predicated in the SAM flags. My issue with UMI groups must be a result of insufficient amplification on my end. Again, thanks for the help.

[2022-01-12 00:22] #756 closed

[2022-01-12 01:54] ruolin opened #759 "CallMolecularConsensusReads truncate reads"
Hi fgbio community,

I have a single read-pair family (cD=1) which after call consensus was truncated. This is indeed weird because it should just do nothing and output the same read. To reproduce this run `java fgbio-1.5.0.jar CallMolecularConsensusReads -i a.bam -o a.ccs.bam -M 1`. The following is the a.bam.

[code]

[2022-01-14 04:50] nh13 commented on #759
@ruolin I think this is a bug.  I'll update shortly.

[2022-01-14 06:13] nh13 commented on #759
Buggy output, where the reads are shorter by exactly the # of bases inserted.

[code]

[2022-01-14 06:21] nh13 commented on #759
@ruolin we do some upfront quality trimming, but more importantly trimming based on the insert size, so that we don't include reads on end of a pair that map past bases on the mate.   But this calculate (I think) is wrong based on your example, and causes the read to be truncated/shortened by exactly the insertion in your case, and more generally the difference in mapped read bases versus mapped r

[2022-01-14 14:08] ruolin commented on #759
@nh13 Hi Thanks for quick update. The quality trimming and the pass the mate end trimming might explain some of the other truncations I have seen. But There is currently no option to turn the trimming off in the `CallConsensus`. Is that right? Will you be able to include a new option in the next release that does no trimming at all, as intact as possible? Also, I think both `CallMolecularConsensus

[2022-01-14 20:10] nh13 commented on #759
@ruolin For quality trimming and mate-end trimming, it's always possible to add a command line option.  It makes more sense for the former, but for the latter, I am not sure it makes a lot of sense to skip trimming if we have reads that past the start of its mate.  I think rather than turning off the trimming, you could try running the fix to see if that works?

[2022-01-19 19:50] ruolin commented on #759
Sounds good. thanks.

[2022-01-19 19:50] #759 closed

[2022-01-20 14:37] clintval commented on #752
Fixed with: https://github.com/fulcrumgenomics/fgbio/commit/a73fe89c013805f523384fce491e76823b791918

[2022-01-20 14:37] #752 closed

[2022-01-27 12:43] EwaMarek opened #765 "The reads in family-size-histogram do not add up to what is present in consensus mapped BAM?"
Hi,

I'm confused about the content of family-size-histogram produced by GroupReadsByUmi. I was expecting it to report how many reads there are with a given family size but it doesn't add up to the total number of reads in my consensus mapped BAM:

test_sample.consensusMapped.bam total number of reads: **468 344**

| family size | histogram | consensus mapped BAM^ |
|-------------|-----------|----

[2022-01-27 22:44] nh13 commented on #765
@EwaMarek The counts coming out of `GroupReadsByUmi` are per-template, where as your command counts R1 and R2 twice.  You'll want to run `samtools view -F 64 test_sample.consensusMapped.bam | grep -c "cD:i:X"` to just look at R1 to get the per-template family size.  See https://broadinstitute.github.io/picard/explain-flags.html for more details on why `-F 64` selects only R1 reads.

[2022-01-27 22:44] #765 closed

[2022-01-28 11:02] EwaMarek commented on #765
Thanks for your quick response! I didn't realize that the counts are reported per-template  :facepalm:
It makes sense now, thanks for the clarification.

[2022-02-17 23:07] stkgo opened #773 "FilterConsensusReads: Multiple non-secondary, non-supplemental R1s"
When using FilterConsensusReads with v1.5.0 I receive the following error:

[code]

Starting from a BAM file aligned with hisat2 I do the following:

[code]

Notably, I do not see this issue when aligning with bwa at step 5, regardless of which aligner was used to generate the initial aligned BAM. I'm not sure if this is an appropriate issue to discuss with you all, but do you have any thoughts on

[2022-02-17 23:44] nh13 commented on #773
@stkgo could you grep for the ` Solexa-272222:1089771` reads from the output of (3) and in the output of (5)?  It looks like we have multiple read ones that are "primary", which is invalid according to the SAM spec.

[2022-02-18 00:53] stkgo commented on #773
@nh13 Sure, here's the output from (3):

[code]

And from (5):

[code]

[2022-02-18 18:27] nh13 commented on #773
@stkgo this is super strange.  Feeding the output of (3) as the unmapped BAM and the output of (5) as the mapped BAM into `MergeBamAlignment` gives me all six records, when I would have expected only the four (mapped) records. I'd definitely ask the GATK/Picard/Broad folks for help on this one, as I may not have time to dig into this in short order.

[2022-02-21 21:39] mjhipp opened #784 "Could `--max-records-in-ram` be a top-level param?"
Similar to `--compression` and `--sam-validation-stringency`.

Currently, `--max-records-in-ram` is an option in some tools, such as `SortBam`.

Other tools that also sort, such as `ClipBam`, do not have this option, and will always use the default, which is `1M` records. If I had less RAM or more RAM, it would be nice to make other tools that use `Bams.sorter()` use a specified amount of records.

[2022-02-21 22:24] nh13 commented on #784
Sgtm, @tfenne

[2022-02-22 15:50] KevinYie opened #785 "Error building with sbt"
Hello,

I am encountering the following issues when building with sbt. I'm relatively new to using sbt so there may be some configuration that could be incorrect. Thank you in advance for the help and time!

[yiek01_adm@gn-0001 fgbio]$ sbt assembly
[info] welcome to sbt 1.6.2 (Oracle Corporation Java 1.8.0_181)
[info] loading settings for project fgbio-build from plugins.sbt ...
[info] loading pro

[2022-02-22 15:54] nh13 commented on #785
@KevinYie it looks like you are using scala 2.12.  We removed support for scala 2.12 in [release 1.4.0](https://github.com/fulcrumgenomics/fgbio/releases/tag/1.4.0). Please update your scala version to 2.13.

[2022-02-22 15:54] #785 closed

[2022-02-22 20:45] nh13 commented on #773
@stkgo also take a look at this issue: https://github.com/broadinstitute/picard/issues/589

I wonder if the multiple primary alignments being output by `MergeBamAlignment` is also caused by the `bwa mem -M option` which is causing supplementary alignment to be output as secondary.

@tfenne is writing a new tool to replace `MergeBamAlignment` you can test here: https://github.com/fulcrumgenomics/fg

[2022-02-22 20:45] #773 closed

[2022-02-23 02:04] nguyenjoshvo commented on #557
Hi, I am facing the same problem. Any updates on this?

[2022-02-23 03:16] nh13 commented on #557
@nguyenjoshvo we started work on [this here](https://github.com/fulcrumgenomics/fgbio/pull/563) but have not had time to push it over the line.

[2022-02-23 16:24] sstadick opened #787 "[bug] demuxFastqs does not throw error when a read is shorter than the specified template length"
[This](https://github.com/fulcrumgenomics/fgbio/blob/ed906cd29a7f38c9da0583c8307dc7fbcd94880b/src/test/scala/com/fulcrumgenomics/fastq/DemuxFastqsTest.scala#L470) creates the read structure 17B139T. [The read](https://github.com/fulcrumgenomics/fgbio/blob/ed906cd29a7f38c9da0583c8307dc7fbcd94880b/src/test/scala/com/fulcrumgenomics/fastq/DemuxFastqsTest.scala#L569) used to test [here](https://github

[2022-02-24 00:20] sstadick opened #788 "[tests] Read assingment and barcodes are never checked"
https://github.com/fulcrumgenomics/fgbio/blob/ed906cd29a7f38c9da0583c8307dc7fbcd94880b/src/test/scala/com/fulcrumgenomics/fastq/DemuxFastqsTest.scala#L795

The `assignment` and `barcodes` are set up but never actually checked.

[2022-02-24 00:40] sstadick commented on #788
The assignments / barcodes are also wrong. Here's the corrected results in rust:
[code]

[2022-02-25 01:08] nh13 commented on #787
@sstadick

The read structure is [modified](https://github.com/fulcrumgenomics/fgbio/blob/ed906cd29a7f38c9da0583c8307dc7fbcd94880b/src/main/scala/com/fulcrumgenomics/fastq/DemuxFastqs.scala#L780) to have the last segment be a variable #.  It's then used [here](https://github.com/fulcrumgenomics/fgbio/blob/ed906cd29a7f38c9da0583c8307dc7fbcd94880b/src/main/scala/com/fulcrumgenomics/fastq/DemuxFastqs

[2022-02-25 15:34] tfenne commented on #784
Sure, I see no reason not to have a global way to set the default.  Will probably want to make that number accessible to tools too though as some will do things like divide it into two or three and generate multiple sorters/caches, so it'd be more than _just_ changing the default on Sorter/SamWriter.

[2022-02-25 18:18] clintval commented on #784
I think my opinion is a minority one, but I've never liked the GATK/Picard/fgbio common option strategy.

There are many tools in fgbio where very few of the common options are actually relevant, yet these options still appear in the help string of the tool. Additionally, some tools never use any of the common options and it [can make for confusing UX](https://twitter.com/clintcodesbio/status/1328

[2022-02-25 18:26] tfenne commented on #784
That's fair @clintval - though I do think that at least `fgbio` is better than GATK/picard in this case in that the options are separated out and are clearly "toolkit" level options, vs. in Picard/GATK them being mixed into the options for the specific tool.

[2022-02-25 18:48] mjhipp commented on #784
I guess what I am really requesting is that more tools that could benefit from it make the `--max-records-in-ram` option available. I just figured the most logical implementation was to make it a top-level param.

[2022-02-25 18:51] clintval commented on #784
I agree fgbio is better by partitioning them! @mjhipp I'm cool with another top-level param, I think there is a precedent for it. Simply wanted to churn the pot with a warning about how this has played out in other UIs so that we can be more careful!

[2022-02-28 00:17] eboyden opened #795 "[bug] ClipBam: remaining aligned read bitflag not properly set when mate is clipped to 0 and unaligned"
When ClipBam clips one read in a pair to length 0, it properly sets that read's `0x4` "read unmapped" bitflag, and sets the remaining aligned read's `0x8` "mate unmapped" bitflag.  However the remaining aligned read still has the `0x2` bitflag set for "read mapped in proper pair".  If I'm not mistaken, the `0x2` bitflag should never be set if either the `0x4` or `0x8` bitflag is set.

[2022-02-28 21:43] nh13 opened #796 "Turn off codacy"

[2022-02-28 23:11] nh13 commented on #795
@eboyden unless @tfenne disagrees (feel free to reopen), we do not to touch that flag as it is completely determined by the aligner (or other upstream tools) and we tend to ignore it anyhow.

[2022-02-28 23:19] eboyden commented on #795
That may be, but it's an important flag for filtering.  If ClipBam renders one of the two previously aligned reads unaligned, it is logically impossible for `0x2` to be set; no aligner would ever do that.  So if I filter based on it, at a minimum I should only obtain pairs of aligned reads.  (Different aligners may vary with regard to read orientation, interval size, etc.)  So I think it's entirel

[2022-03-01 00:11] nh13 commented on #795
@eboyden I could be convinced with a PR.

[2022-03-01 23:48] nh13 opened #799 "API Function to check for queryname or query group sorts"
In a lot of places we check if the input SAM header is queryname or query group sorted.  We should have a single function in `Bams` to do this.

I think we should also have a function that can be used on an iterator of SAM records that checks for either queryname or query group sorts, and emits a warning (or fails) when proven wrong.  It would return an iterator of sam records so it can be used in

[2022-03-04 04:03] blackbeerd opened #803 "Singleton rescue to improve error-correction"
Hello fgbio,

Do you have any plans for incorporating singleton rescue into your UMI workflow? I'm curious how much it would actually improve error-correction performance (reduce error rate while also increasing coverage). Is this something you've already tried?

Thanks!
Chris

[2022-03-04 04:29] nh13 commented on #803
Sorry, it’s not immediately obvious to me what singleton rescue is. Can you give a bit more of a description?

[2022-03-04 11:43] tfenne commented on #803
Ditto @blackbeerd can you explain a little more?  We just added functionality on master to accept read-pairs where one end is mapped and the other is unmapped, which _could_ be what you're describing but I'm unsure.   See https://github.com/fulcrumgenomics/fgbio/commit/5c7e22bf8171f00dacf684eacd4bd7549218bd92

[2022-03-04 17:10] nh13 commented on #803
Having thought about it for three minutes, I could see calling consensus reads with strict filtering as a first pass to estimate the alleles present at each site, then using the consensus reads without filters (including singletons) to improve the depth and allele frequency estimate at that site.  They quick-and-dirty way I'd do it is:

1.  Call consensus reads, don't filter
2. Filter aggressively

[2022-03-08 04:12] blackbeerd commented on #803
Thanks for the suggestion - I'm still ruminating on it... I'll give it a test run on some data and let you know!

[2022-03-09 17:05] roysomak4 commented on #773
@nh13, I encountered the same error with FilterConsensusReads v 1.5.0 and can confirm that it was resolved by eliminating the -M flag from the bwa mem command.

[2022-03-09 21:43] taicher opened #808 "Consensus base qualities are all N after CallMolecularConsensusReads"
Hi,

When I run CallMolecularConsensusReads on my BAM file (after grouping by UMI and creating the MI tag) it outputs consensus reads but the FASTQ quality scores are all marked as N. I don't understand why as the original FASTQ quality scores are high and the consensus reads look as they overlap perfectly (I have attached a screenshot of one example of this). I understand N is a masked base when

[2022-03-09 23:19] nh13 commented on #808
@taicher that is super strange.  I'd suggest the following:
1. Can you try running `CallMolecularConsensusReads` with the latest release version (`1.5.1`).  I am doubtful it will help, but worth a shot.
2. Can you post a SAM file for just the grouped reads in the screen shot for us to try to reproduce?

[2022-03-10 00:15] blackbeerd opened #810 "ClipBam not clipping overlapping reads"
Hi fgbio,

I am running ClipBam at the end of my workflow to remove overlapping reads (command and screenshot below) and when I look at the resulting bam in IGV, I still see overlapping read pairs . Am I using it wrong? When I run this file through bamutils clipOverlap it seems to work right. Any thoughts?

java -Xmx1g -jar  fgbio.jar ClipBam --clipping-mode=Hard --clip-overlapping-reads=T --input

[2022-03-10 03:59] tfenne commented on #808
@taicher the quality scores are encoded as ASCII characters by adding 33 to the numerical Phred score and converting to a character.  So `N` indicates a quality score of Q45.   (and M = Q44 and so on).  So what you're actually seeing is that post consensus calling and filtering as you're doing, we're calling most of the bases as  Q45.  This is exactly what I'd expect.

[2022-03-10 04:43] nh13 commented on #808
Doh, and here I am, the one who authored this page: https://broadinstitute.github.io/picard/explain-qualities.html. It’s time for bed, thanks @tfenne!

[2022-03-10 12:14] tfenne commented on #810
@blackbeerd It's hard to tell from that picture.  Assuming that those reads are mate pairs, then yes this sounds like a bug.  Would you be able to attach two BAMs, each with just a single read-pair, before and after running ClipBam, that exhibit the problem please?

[2022-03-10 17:54] #808 closed

[2022-03-10 19:11] blackbeerd commented on #810
@tfenne Here are those reads pre and post ClipBam (these are uncompressed sams - wouldn't let me upload bams). Let me know if you need a different format. Thanks for taking a look!

[pre-ClipBam.txt](https://github.com/fulcrumgenomics/fgbio/files/8226350/pre-ClipBam.txt)
[post-ClipBam.txt](https://github.com/fulcrumgenomics/fgbio/files/8226351/post-ClipBam.txt)

[2022-03-10 19:41] nh13 commented on #810
@blackbeerd the input reads are both mapped to the reverse strand, so unfortunately these are not FR pairs

[`ClipBam`](http://fulcrumgenomics.github.io/fgbio/tools/latest/ClipBam.html) says:

I think there could be a discussion about if we want to loosen the FR orientation requirement for ClipBam.

[2022-03-10 19:44] blackbeerd commented on #810
Ahhh - thanks! I thought I had read through the tool description, I must have missed that. What's the thinking behind only clipping FR orientation, why not clip these RR overlaps as well?

[2022-03-10 20:07] taicher commented on #808
Thank you that makes sense my bad! I was confused because the documentation says "Deprecated: will be removed in future versions; use FilterConsensusReads to filter consensus bases on quality instead. Mask (make ‘N’) consensus bases with quality less than this threshold."

But I realize when it says "Mask (make 'N') consensus bases" the actual base will be coded as N instead of its quality score w

[2022-03-10 22:49] mjhipp opened #812 "`VcfWriter` does not write VCF index files anymore"
...unless overwriting an existing path (after #753)

When deciding whether to write an index, `VcfWriter` uses `isRegularFile()` on the output path. This will almost always return `false`, because the output path is usually a new, non-existing path (there is not already a regular file there).

Example (using `FilterSomaticVcf`), if I have this dir:

[code]

And run the tool using a new output path

[2022-03-10 22:53] clintval commented on #812
That's my fault :/ I can take a stab at a fix soon. Would be nice to have this patched before 2.0

[2022-03-10 22:59] tfenne commented on #812
I think we're still a week or more away from a 2.0 release, but I do want to cut a beta/milestone either tomorrow or Monday for folks to start testing

[2022-03-11 09:31] Gregory94 commented on #744
Hi @zhangyafeng1
I'm using a very similar workflow that you show here and I get the same error. Indeed I also find more than two reads having the same name in the output bam file from ```GroupReadsByUmi```. Have you already found a solution?
Thanks in advance your help!

[2022-03-11 14:40] nh13 commented on #744
Could you share the input BAM to GroupReadsByUmi for us to reproduce and debug? If it’s too large, try picking the first hundred or so reads and verify that you get the same error. Thank you!

[2022-03-11 14:41] nh13 commented on #744
@zhangyafeng1 sorry this slipped through the cracks and @Gregory94 thanks for any data you could provide to help debug!

[2022-03-11 16:01] Gregory94 commented on #744
Hi @nh13, thanks for quick reply! I think I already found the solution. ```CallMolecularConsensusReads``` requires the bam files to be sorted using ```SortBam -s TemplateCoordinate``` (like @zhangyafeng1 shows in the third comment and also as is recommended by ```CallMolecularConsensusReads``` when you call this function). But ```CallMolecularConsensusReads``` does not, by default, consider the re

[2022-03-11 16:32] nh13 commented on #744
@Gregory94 in our next release, we're going to be more explicit about the sorts going in and out, so this is good timing.

@zhangyafeng1 can you send a test case?

[2022-03-15 17:53] #812 closed

[2022-03-24 12:20] asmlgkj opened #818 "how will figbio choose base?"
if one position has 6 reads with the same start and end postion(postion1-position100),
two reads with umi1 has base T in postion50, two reads with umi2 has base G in postion50,,and the other 2  with umi3  base C in postion50, how will fibio select the final base of this postion?
 Thanks a lot

[2022-03-24 16:26] nh13 commented on #818
Please add more details if the below assumptions are not correct, in particular about which tools you are using. There are many tools in `fgbio` including two for consensus calling depending on the type of data you have.

First, I assume you have run `GroupGreadsByUmi`.  This will assign the two reads with `umi1` to `molecule11, the two reads with`umi2` to `molecule2`, and the two reads with`umi3`

[2022-03-24 23:05] asmlgkj commented on #818
thanks  a lot for your kind help @nh13 .
I am using fgbio as the best practice.
I am just thinking of this question for fgbio, because if more input dna in library, the above assuption may happen, for each cluster it has a conssensus base, as T G C for umi1,2,3
but how will fgbio give the final base of this site, this is what I want to know

[2022-03-24 23:10] nh13 commented on #818
fgbio will not give a final base at this site, since there is no variant caller in fgbio.  Depending on your use case, you can use VarDictJava, MuTect2, GATK Haplotypecaller, freebase, strelk2, or others.  But that is beyond the scope of this toolkit.

[2022-03-24 23:10] #818 closed

[2022-03-24 23:12] asmlgkj commented on #818
thanks a lot for your kind help @nh13 .
I know it will not give variant, but will fgbio keep all these three consensus base at the final output bam?

[2022-03-24 23:15] nh13 commented on #818
Yes, each consensus read will be its own SAM record in the output BAM file.  Give it a try!

[2022-03-24 23:18] asmlgkj commented on #818
thanks a lot for your kind help @nh13 .
because I am not able to produce such case in data.
I am just thinking of such case in my mind.
in the other hand, from your experience, if  there was the above case, no matter which tools to be used (VarDictJava, MuTect2, GATK Haplotypecaller, freebase, strelk2, or others), do you think this base should call out a variant?

[2022-03-24 23:22] nh13 commented on #818
it should, but you need to get your hands on some data

[2022-03-24 23:24] asmlgkj commented on #818
thanks a lot for your kind help @nh13.

[2022-03-24 23:30] nh13 commented on #818
Oh, and look for publicly available data from papers that deposit up to SRA and elsewhere.  I don't see why you can't get access to data if you spend the time looking.

[2022-03-24 23:32] asmlgkj commented on #818
thanks a lot for your kind help @nh13.
I mean it is hard for me to find such sppecial case in bam or I can not find the easy way to find this

[2022-04-10 01:14] blackbeerd opened #821 "Where to insert Picard MarkIlluminaAdapters in an fgbio workflow?"
How do you suggest handling the potential presence of adaptor sequence in NGS data processed with your current workflow?

I am putting together an adapted version of the 2.0 fgbio release and workflow you have published and I'm wondering where in the pipeline would be best to carry out Picard's MarkIlluminaAdaptors? A small percentage of my reads often contain adaptor read-through due to short ins

[2022-04-12 22:59] nh13 opened #822 "Feature to have ZipperBams output to SAM format"
So the output of ZipperBams can be fed directly into samblaster without a `samtools view -h`.

[2022-04-13 04:20] nh13 commented on #821
@tfenne can weigh in here too, but I am not convinced that adapter _marking_ is all that impactful when you have longer  reads (2 x 75+ bp) and map with an aligner that soft-clips (i.e. `bwa mem`).  In my experience, `bwa mem` will just soft-clip the adapter reads, and that doesn't cause false variant calls later or issues with consensus calling.

You could remove the adapter sequence rather than

[2022-04-13 09:17] rebber opened #823 "Extract number of duplex reds supporting a variant"
Hi,

Do you have a tool to extract the number of duplex reads supporting a specific variant from a consensus bam file containing both duplex and non-duplex reads?
I saw your tool ReviewConsensusVariants. From what I understand in the metrics description (http://fulcrumgenomics.github.io/fgbio/metrics/latest/#consensusvariantreviewinfo), it's only possible to extract the total number of A's, C's et

[2022-04-13 12:25] tfenne commented on #821
I would have to verify but I'm like 95% sure that the consensus callers themselves also clip reads that extend past their mates prior to consensus calling.  If that's the case perhaps we should just add an option to hard clip at that point rather than inserting `ClipBam`.  FWIW I have not run into issues with adapter sequence being aligned and leading to false variant calls, so I'd be leary to add

[2022-04-13 12:26] tfenne commented on #822
I think you could do this with the current version by doing:

[code]

But agreed, when writing to stdout it would be nice to be able to set the output format.

[2022-04-13 16:08] blackbeerd commented on #821
Thanks for weighing in - it was unclear to me how the CallMolecularConsensusReads tool handles soft-clipped reads so I was trying to avoid providing them to the tool.

However, I tried running the pipeline as follows:

uBam -> picard MarkIlluminaAdapters -> SamToFastq with **CLIPPING_ATTRIBUTE=XT CLIPPING_ACTION=N** -> BWA MEM ->  FindSwitchbackReads -> ZipperBams -> GroupReadsByUmi -> CallMolecul

[2022-04-13 16:46] nh13 commented on #821
For FR pairs, `CallMolecularConsensusReads` will trim back reads that extend past its mate (in 2.0), so you shouldn't need to run `ClipBam` in 2.0 for consensus callng.

[2022-04-13 16:48] nh13 commented on #823
@rebber you could split the BAM into duplex/non-duplex reads then run `ReviewConsensusVariants` on each.  Similarly, you could run `VarDictJava` in pileup mode (or whatever caller you're using to make calls) to get the read depth.

[2022-04-13 16:49] blackbeerd commented on #821
Great - thanks!

[2022-04-13 20:40] blackbeerd commented on #821
Also, running the above pipeline on ~100 libraries and there are a couple that fail at CallMolecularConsensusReads step with the following error:

FgBioMain | Info] CallMolecularConsensusReads failed. Elapsed time: 1.38 minutes.
Exception in thread "main" java.util.NoSuchElementException: None.get

There are no obvious differences in the uBams input into the pipeline and the error can occur anywhe

[2022-04-13 21:53] nh13 commented on #821
Do you have a full stack trace?

[2022-04-13 21:59] blackbeerd commented on #821
(This is from a different one - same issue though)
[2022/04/13 04:36:42 | SamWriter | Info] Wrote     40,000,000 records.  Elapsed time: 00:20:46s.  Time for last 2,000,000:   63s.  Last read position: */*
[2022/04/13 04:36:43 | CallMolecularConsensusReads | Info] processed   124,000,000 records.  Elapsed time: 00:20:48s.  Time for last 1,000,000:    9s.  Last read position: chr4:55,113,611.  Last

[2022-04-13 22:08] nh13 commented on #821
I added a debug statement that will tell you the read name that's causing the issue in this branch: https://github.com/fulcrumgenomics/fgbio/tree/nh13-debug-overlapping.  If you build and run the JAR from that, and then extract the reads with that read name, that's probably a small enough test case for me to debug with.  This is super helpful, thank-you!

[2022-04-14 02:45] blackbeerd commented on #821
Here are two examples from different libraries including error stack and offending reads identified with your debug script. Both sets of reads have deletions. Looks like it might be related to the consensus-call-overlapping-bases feature?

example-Library1:

[2022/04/13 17:59:07 | CallMolecularConsensusReads | Info] processed    10,000,000 records.  Elapsed time: 00:01:30s.  Time for last 1,000,00

[2022-04-14 05:03] nh13 commented on #821
Perfect, I’ll add it to the queue.

[2022-04-14 05:43] blackbeerd commented on #821
I had just had to edit my last comment - first stack log was incorrect. Corrected now.

[2022-04-14 06:08] nh13 commented on #821
For the last example, it's like to do with the fact that the two reads overlap in span, but not in mapped bases, and we need to be more careful about that.  E.g. R2 starts right after the 90M in R1, then R2 maps 24M right in R1s 30D.  That's insidious, but valid, and we should handle it.

[2022-04-14 15:34] blackbeerd commented on #821
Like I said, the majority of the other libraries completed the pipeline without issue, so this can't be that common, but as you said - it's a possibility to account for. In the mean time, I will try removing those specific reads from the bams since they don't appear to bring much value. I haven't checked if the mapping bit is gene-coding, etc. but I'm assuming it's very unlikely to be a "real" mut

[2022-04-15 07:38] nh13 commented on #821
@blackbeerd I was able to reproduce and fix your issue in #824 (under code review).  You're welcome to build from source to see if that fixes it on your end.

[2022-04-15 15:41] blackbeerd commented on #821
Great - I'll give it a go! Thanks

[2022-04-15 16:59] nh13 commented on #821
@blackbeerd if you run it on the problematic samples and confirm it works, I can then merge the PR and make a release.  This is super helpful, thank-you!

[2022-04-15 17:08] blackbeerd commented on #821
Two libraries have already completed without issue - so far it looks like it's working... I did notice a few new lines in the output (for ver 2.0 in general) that I caught my attention. Example:

[2022/04/15 09:58:29 | CallMolecularConsensusReads | Info] processed   201,000,000 records.  Elapsed time: 00:26:21s.  Time for last 1,000,000:   10s.  Last read position: chrY:13,950,476.  Last read name

[2022-04-15 18:41] nh13 commented on #821
Ah, that's another good observation and likely a bug (only in the logging output).  I'll make another PR to fix that too.

[2022-04-15 23:42] nh13 commented on #821
Fixed the logging issue here: https://github.com/fulcrumgenomics/fgbio/pull/825.  This PR targets and includes the changes in #824.

[2022-04-18 21:43] nh13 commented on #821
@blackbeerd thank-you for all your help, the changes above have made it into a new release: https://github.com/fulcrumgenomics/fgbio/releases/tag/2.0.1

[2022-04-18 21:43] #821 closed

[2022-04-20 16:23] denriquez opened #827 "Does DemuxFastqs mismatch option apply to each barcode individually?"
I have a question about the software tool fgbio DemuxFastqs. Does the max-mismatches option apply to each individual sample barcodes separately with regards to dual indexing? For instance, does that option allow one mismatch for the i7 index barcode and one for the i5 index barcode similar to bcl2fastq and BCL Convert?

[2022-04-20 23:04] nh13 commented on #827
The # of mismatches is calculated across all barcodes bases, so for dual index barcodes, that's across i5 and i7.   There is no option to specify the maximum number of mismatches _per segment_.  If you have a motivating example, I'd be curious.

[2022-04-21 23:18] nh13 opened #828 "Should consensus calling trim back to the _unclipped end_ versus the aligned end of its mate"

[2022-04-25 11:18] asmlgkj opened #830 "The minimum number of reads supporting a consensus base/read."
Dear professor,
thanks a lot for this great tool. in the command FilterConsensusReads. there is a argument -M

-M Int{1..3}, --min-reads=Int{1..3}
                              The minimum number of reads supporting a consensus base/read.

if I set - M 1, does it mean the  single reads (singletons) can also be used even in a library of R1 R2 both have umi?

and I also found   -M can be set as -M 2

[2022-04-25 19:32] genegolts opened #831 "CallDuplexConsensusReads hard-clips ONE of the two duplex reads"
Hello fgbio folks,
I am encountering an issue where one of the consensus sequences in a duplex pair gets clipped to the insert size while the other read doesn't get clipped.  Here is an example.  First, these are the UMI reads going in:

@SQ     SN:22   LN:51304566
@SQ     SN:hs37d5       LN:35477943
@RG     ID:A    SM:GT-30-2903_EOT-plasma        LB:GT-30-2903_EOT-plasma        PL:illumina
A00138

[2022-04-25 20:30] nh13 commented on #831
@genegolts what version of fgbio are you using?  There was some behavior difference between 2.0 and 1.x.

[2022-04-25 20:35] genegolts commented on #831
It's v. 2.0.2

[2022-04-25 21:24] nh13 commented on #831
Will need to fine to to look at this, that's going to be tough for this week. My apologies for the delay.

[2022-04-25 21:25] nh13 commented on #831
Can you run `fgbio SetMateInformation` for now?

[2022-04-25 22:02] genegolts commented on #831
Just ran it.  It outputs reads identical to my inputs. Thanks for looking into this!

[2022-04-26 00:07] genegolts commented on #831
Just to add visuals to the story, here's a slide describing the problem.
![image](https://user-images.githubusercontent.com/104388423/165193906-91001070-1912-41f8-a754-e11341461c41.png)

[2022-04-26 00:28] denriquez commented on #827
I am interested in demultiplexing off of FASTQ files to try to generate as similar results as BCL Convert. This is for uncommon situations when the BCL files are not accessible/available and demultiplexing needs to be redone.

[2022-04-26 01:59] nh13 commented on #827
Got it. Unfortunately it won’t be a perfect match and there’s no plan to do so. Hopefully that’s ok in the rare cases you need to use it.

[2022-04-26 01:59] #827 closed

[2022-04-26 14:18] dstephensSD commented on #830
To add to this I noticed that --min-reads 0 0 0 retains slightly more reads than --min-reads 1 0 0.  Why is this the case?

[2022-04-26 14:20] asmlgkj commented on #830
@dstephensSD
how do u understand the --min-reads 1 0 0   --min-reads 0 0 0   -M 2 1 1

[2022-04-26 15:58] nh13 commented on #830
@asmlgkj

I am assuming duplex sequencing below (observe both strands).

In general, the `-M` option works as `-M X Y Z`, where `X` is total consensus depth, `Y` is the depth of the strand with higher depth, and `Z` is the depth of the strand with lower depth.  When only `X` is given, then `Y` and `Z` are set to `X`.

1. So `-M 1` is equivalent to `-M 1 1 1`.  This requires that each strand have a

[2022-04-26 16:09] dennis-serum opened #833 "FilterConsensusReads --min-reads 1 0 0 vs --min-reads 0 0 0; Why do they differ?"
I ran this function with --min-reads 1 0 0 and --min-reads 0 0 0 and get slightly more reads in the second setting.  I was just curious as to how these could give a different result?

[2022-04-26 16:34] nh13 commented on #833
@dstephensSD that's a bit surprising, since a consensus read should have depth at least 1 always.  Can you show a read that is kept in the second setting.

[2022-04-26 22:27] mjhipp opened #834 "`CigarStats.apply` could give better error if internal clipping operators found inside re"
After #761, this `apply` method will fail during this loop if a clipping operator is found within the read, as it halts prematurely here:

https://github.com/fulcrumgenomics/fgbio/blob/57a72b46b78998d7835b628ea0797ef19af24e3f/src/main/scala/com/fulcrumgenomics/alignment/Alignment.scala#L124-L131

The error just says that the cigar did not consume all elements:

[code]

It would be helpful if the e

[2022-04-27 00:44] asmlgkj commented on #830
@nh13
Thanks  a lot
so if I set -M 3, it means -M X Y Z  is -M 3 3 3, so it actually the  X is 6 (because X is the sum of Y + Z)?

in the command CallMolecularConsensusReads, there is also an argumennt -M (The minimum number of reads to produce a consensus base.), and FilterConsensusReads  (The minimum number of reads supporting a consensus base/read.)  what is the difference?, in my mine, it is t

[2022-04-27 01:51] nh13 commented on #830
As a heads up, I’ll be slow to respond to prioritize client work. Thanks for your understanding.

[2022-04-27 01:53] asmlgkj commented on #830
yes, thanks for your kind help, wish your work can be processed more smoothly

[2022-04-27 11:56] tfenne commented on #833
You might try setting `--max-no-call-fraction` to 1?  I suspect there is some weird interaction going on where even having the min reads be 1 might be occasionally masking more bases in consensus reads, then causing the reads to fail the additional filter of how many Ns are in the read?  As @nh13 says, a BAM file with 1-2 example reads that pass with `0 0 0` and get filtered out with `1 0 0` would

[2022-04-28 09:09] ymcki opened #835 "My fgbio pipeline worked for 1.5.1 but not 2.0.0. Why?"
I have a fgbio pipeline based on 1.5.1 that generates an consensus unmapped bam without errors.

time java -jar ~/bingo/fgkit/bin/picard.jar FixMateInformation I=proper.bam O=/dev/stdout | java -jar ~/bingo/fgkit/bin/fgbio-1.5.1.jar ClipBam -i /dev/stdin -o /dev/stdout -r /data/genome_reference/Homo_sapiens_assembly19.fasta -H -a | samtools view -F 12 | awk -F"\t" '{if(/^@/){print}else{split($1,a,

[2022-04-28 11:38] tfenne commented on #835
I think this is a known bug that was fixed in 2.0.2 - can you try that release please?

[2022-04-28 14:34] nh13 commented on #835
Previously reported here: https://github.com/fulcrumgenomics/fgbio/issues/821

Fixed here: https://github.com/fulcrumgenomics/fgbio/pull/824

[2022-04-28 14:34] #835 closed

[2022-04-29 22:48] blackbeerd opened #837 "Check for UMI swapping"
I have observed cases where my dual UMIs can get swapped during amplification steps in library prep resulting in two consensus sequences which align to the same start/stop position and share the half of the dual UMI for a given PE. Note that my UMI are two random 6mers, one on each I5/I7 index, next to the fixed-based multiplexing index seq and are read out in the index reads (I manually append th

[2022-04-29 23:39] nh13 commented on #837
This is super interesting, do you have more information on which prep you're using?

[2022-04-30 00:30] blackbeerd commented on #837
Sure - we've got a couple of papers but the data pipelines are old. The fgbio tools working much better ;)

(publication links: https://pubmed.ncbi.nlm.nih.gov/33466369/, https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8861971/, https://pubmed.ncbi.nlm.nih.gov/30833418/)

Basically the prep is as follows:
1) inputting cfDNA or sonicated DNA (~150 bp)
2) end-repair/A-tail with KAPA hyper prep kit
3) l

[2022-04-30 00:37] nh13 commented on #837
Some obvious questions:
1. is the UMI `ATCGAT` just more common in general?
2. could this be a result of chimerism?

[2022-04-30 00:51] blackbeerd commented on #837
1) there are multiple examples of this in a given library and the UMI involved don't seem to have any features in common (what I gave as an example was just made up)
2) I assume this is the same switchback "mechanism" that makes chimeras and I was hoping that using the FindSwitchbackReads in my pipeline would eliminate these. Maybe I need to adjust the params? I will say that otherwise the reads a

[2022-05-05 09:39] xiucz opened #839 "Should fastqs be trimmed after ExtractUmisFromBam and before GroupReadsByUmi?"
Hi,
Thanks for your wonderful tool, after search the documents and the internet, I  still have a question, Should fastqs be trimmed after ExtractUmisFromBam and before GroupReadsByUmi?
And my pipline steps:

[code]
Thank you,
xiucz

[2022-05-06 20:45] nh13 opened #840 "Check that alleles in calls are a subset of the variant alleles in VcfBuilder"

[2022-05-06 22:07] blackbeerd commented on #837
I have considered several mechanisms for these events and I'm thinking that since there isn't a significant amount of chimeras and the entire read typically maps fine, it is most likely the result of residual adaptor present during the amplification steps.

I'm trying to figure out the best way to flag these consensus read pairs and either mask or omit one of the two in a given set (probably the c

[2022-05-06 22:59] nh13 commented on #837
It's probably better to put it into `FilterConsensusReads` if it is flagging/masking/omitting _consensus reads_.  Do you want to share your script?

[2022-05-06 23:30] blackbeerd commented on #837
I'm realizing that its not going to work as is (even if it wasn't prohibitively slow). I was doing a simple iteration through the position-sorted (filtered) consensus bam and comparing tags between adjacent reads that have that same start/stop. This catches consensus sequences that have discordant umi1 and matching umi2 (tag format I previously described, ie., RX:Z:umi1-umi2), but misses matching

[2022-05-09 04:56] xiucz commented on #839
Thank you! @nh13 ,

maybe I use an old version(fgbio-1.3.0.jar), so the `ExtractUmisFromBam` is still in my pipeline. I will update to the lastest version to feedback.  But I don't know why people don't do quality filtering during the fgbio processing when I search the keyword of "fgbio".

[2022-05-09 21:52] nh13 commented on #839
1. Aligners are pretty good about soft-clipping bases (e.g. adapters)
2. There is base quality trimming in `FilterConsensusReads`.

I think a motivating example where you got better results with quality trimming at a given step would be super helpful to us.

[2022-05-09 21:52] #839 closed

[2022-05-12 19:51] dstephensSD commented on #833
Sorry for the late reply.  I'm unable to share any reads due to privacy protections.  I ran CallDuplexConsensusReads with a variety of settings and here are some more results:

![image](https://user-images.githubusercontent.com/103445628/168156840-209d6b5e-1933-4c88-8573-8028bebc978d.png)

If I can get some additional samples that aren't protected I will share some reads with you to help troublesh

[2022-05-16 18:42] jrm5100 commented on #831
We've run into this bug as well.  We noticed a drop in coverage after `FilterDuplexConsensusReads` when upgrading to fgbio 2.0.2 despite `GroupReadsByUmi` being more permissive (keeping pairs with one unmapped read) which resulted in more consensus reads going into that step.

Running each step on identical input, `FilterDuplexConsensusReads` is unchanged, but `CallDuplexConsensusReads` trims some

[2022-05-17 06:01] fengdong110 opened #841 "FilterConsensusReads error"
Dear fgbio developers:

   When i use fgbio-1.0.0.jar  FilterConsensusReads to deal my sample, I get the following error:

      Exception in thread "main" java.lang.IllegalArgumentException: requirement failed: Expected the AB-strand to have depth > 0 for read: BJ22CM006938_T:32807517 1/2 1b unmapped read.

    When I go back to check my BAM files, I find the BJ22CM006938_T:32807517 reads in cons

[2022-05-17 16:06] nh13 commented on #841
1. Please use the latest version of fgbio as 1.0.0 was almost three years ago!
2. It also looks like one of the reads is only a single-base.  Please investigate why before reporting back.

[2022-05-17 16:06] #841 closed

[2022-05-17 19:42] mjhipp commented on #831
@genegolts would you mind testing your case with the changes from #842?

[2022-05-18 01:25] genegolts commented on #831
Pulled commit 3f1e664 and re-built the target.  Still getting the same unevenly clipped consensus pair.  Would it help if I uploaded the mini-bam file I'm testing this on?

[2022-05-18 05:01] mjhipp commented on #831
@genegolts I think I can explain your case. During consensus making, the consensus maker will clip bases that extend past the mate. It does this by comparing the read's left-most position to the mate's left-most position. So when looking at the negative strand, it is comparing to the positive strand's primary alignment start position (which is half way through the read). So it then clips off all t

[2022-05-19 22:14] tobyaicher opened #843 "Calling both duplex and single-strand consensus sequences"
Hi,

I wanted to ask if fgbio is able to create duplex consensus strands when possible but includes single-strand consensus strands even when you are unable to create duplex strands.

My guess is that this is what happens when you use:

 CallDuplexConsensusReads using -min-reads=2 2 0

But I wanted to confirm.

Thank you!

[2022-05-19 22:30] nh13 commented on #843
Yes, it does have this feature.  Try `--min-reads 1 1 0`.  The first value says that the consensus has to have at least one input read, the second value says the "A" strand must have at least one input read, and the third value says the "B" strand can have no reads.  With `--min-reads 2 2 0` you'd require that all consensus reads must have at least two reads, even single strand consensus reads.

[2022-05-19 22:31] #843 closed

[2022-05-20 11:14] stsergbg opened #844 "ZipperBams vs bwa mem -C"
Hi!

Is there any difference between doing samtools fastq -T RX + bwa mem -C and using ZipperBams in the pipeline?

[2022-05-20 14:55] tfenne commented on #844
There are functional differences, but depending on your use case they may not matter.  The major differences are:

1. Using `ZipperBams` the header of your unmapped BAM will be preserved in the output BAM.  This isn't usually such a big deal if a) you just have raw sequencing data and b) your uBam contains a single read-group (`@RG`), but is quite helpful if your uBAM has either multiple read grou

[2022-05-20 15:57] stsergbg commented on #844
Thank you! Looks indispensable, especially for the [step 2(a).2](https://github.com/fulcrumgenomics/fgbio/blob/main/docs/best-practice-consensus-pipeline.md#step-2a2-consensus-ubam---consensus-mapped-bam) of the best practices document.

[2022-05-20 16:27] #844 closed

[2022-05-26 09:04] angeladarling opened #847 "FilterConsensusReads --min-reads=1 1 0 requirement failed: Expected the AB-strand to have depth > 0 for read: BJ22CM006291R:2660272 1/2 1b unmapped read"
hello:
    I ran this function with --min-reads 1 0 0  but  failed  ,the reason is : Exception in thread "main" java.lang.IllegalArgumentException: requirement failed: Expected the AB-strand to have depth > 0 for read: BJ22CM006291R:2660272 1/2 1b unmapped read.
![image](https://user-images.githubusercontent.com/26453683/170454564-2beb489c-6918-40dd-8b49-095ee88a506e.png)

I checked  reads which s

[2022-05-30 20:46] nh13 commented on #796
Fixed in https://github.com/fulcrumgenomics/fgbio/pull/798

[2022-05-30 20:46] #796 closed

[2022-06-02 18:42] jrm5100 opened #849 "Regression in `ClipBam` in Fgbio v2."
Any soft-clipping at the end being clipped is double-counted.

Input into `ClipBam`

[code]

Using fgbio v1.4

[code]

Using latest fgbio snapshot we create a gap of 3 bp (equivalent to the soft-clip length)

[code]

The alignment looks like this:

[code]

I've tracked it down and will have a PR immenently.

[2022-06-06 06:37] angeladarling commented on #847
@nh13   Now ,we are using  fgbio-1.0.0.jar .

[2022-06-06 15:28] nh13 commented on #847
@angeladarling this is from almost two years ago, and there have been both many bug fixes and improvements.  Please update to the latest version.

[2022-06-06 19:35] ruolin opened #851 "bug in CallMolecularConsensusRead?"
Hello, I encountered some issues in the CallMolecularConsensus. I think the output of this program is wrong. I used the following cml `java -jar fgbio-2.0.2.jar CallMolecularConsensusReads -i test.bam -o test.consensus.bam -M 1`. The reads were mapped to hs37. The example input is here [test.sam.txt](https://github.com/fulcrumgenomics/fgbio/files/8847062/test.sam.txt). It is one single family.

Th

[2022-06-06 21:30] dstephensSD opened #852 "ExtractUmisFromBam "Read was not the second end of a pair" Error"
I'm getting a error with ExtractUmisFromBam (fgbio 2.0.2) that I can't figure out how to get around.  I converted fastq to bam using:

[code]

Then ran ExtractUmisFromBam as follows:

[code]

Here is the error:

![MicrosoftTeams-image](https://user-images.githubusercontent.com/103445628/172251976-adb1f852-4bee-4a31-a22d-7ec7932aa999.png)

I'm not sure how to get around this.  Any suggestions?

[2022-06-06 21:43] nh13 commented on #852
@dstephensSD I don't see anything immediately obvious with what you're doing.  The only think I can think of is that the FASTQs are out of sync with each other, but that seems unlikely.

The other option is to go straight from FASTQ to annotated BAM.  You can use `fgbio FastqToBam` to perform the above two steps directly.

[2022-06-06 21:45] dstephensSD commented on #852
Thank you very much for the very quick reply!  I will try what you have suggested - thanks again

[2022-06-06 23:47] dstephensSD commented on #852
I implemented the following:

[code]

Unfortunately I get this error:

![image](https://user-images.githubusercontent.com/103445628/172267086-1ffaf1d7-4751-441c-8c9e-f5ffb72c306b.png)

Any ideas of what to check or test further?

Thank you

[2022-06-06 23:53] nh13 commented on #852
Check the FASTQs for the read with the name on the error message, it likely is truncated from 151bp. Did you adapter or quality trim prior to running the tool? If so, you can try the read structure: 8M+T 8M+T. The plus-T allows for a variable number of template bases up to the end of the read.

[2022-06-06 23:56] dstephensSD commented on #852
I did not do any adapter or quality trimming.  I will take a look at the read in question.  Thank you for the response!

[2022-06-07 00:07] dstephensSD commented on #852
Changing the read structure worked, thank you!

[2022-06-07 01:50] nh13 commented on #852
I’d still check your reads too. Glad the latter unblocked you!

[2022-06-07 01:50] #852 closed

[2022-06-07 05:18] nh13 commented on #851
I'm curious, the UMIs in the RX tag look very different across the reads in this same family.  Is that to be expected?

I don't think this is correct:

For the R1s I see:

[code]

and for R2s I see:
[code]

Thus there is significant disagreement for that particular base in the R1 and R2 reads respectively.

[2022-06-07 15:09] ruolin commented on #851
@nh13 Hi, thanks for the quick reply as always! Sorry I was not very clear. I am talking about the 44th bp after alignment or in the reference genome direction. If you do
[code]

and if you mapped the consensus read, the 44th aligned consensus bp become a `T` which leads to a false mutation detection.

I think I may have a sense of what might happened. This read family actually contains fragments

[2022-06-07 18:29] nh13 commented on #851
For duplex data, you'll want to use `--strategy adjacency`.  And typically one uses `CallDuplexConsensusReads` after that.  But you can use `CallMolecularConsensusReads` on the output and it should create single strand reads (see https://github.com/fulcrumgenomics/fgbio/wiki/Developer-Note:-Tracking-Reads-through-Grouping-and-Duplex-Consensus-Calling for AB and BA reads)

[2022-06-08 16:49] dstephensSD opened #853 "Multiple non-secondary, non-supplemental R1s Error"
Hello,

I followed the fgbio best practices procedure and get the following error from step2 below.  Step1 finishes correctly.  I'm not sure how to get around this.  Thank you.

![image](https://user-images.githubusercontent.com/103445628/172671756-3a273d35-24c2-4cbe-80e4-779a6b7d24f1.png)

**Step1:**
[code]

**Step2:**
[code]

Here are the reads in question output from step1 (sequences removed)
[

[2022-06-08 16:55] ruolin commented on #851
ok. I don't have further questions. you can close it if you want.

[2022-06-08 18:28] #851 closed

[2022-06-08 23:24] dstephensSD commented on #853
Sorry for the false alarm - this was a problem on our end.

[2022-06-08 23:24] #853 closed

[2022-06-09 23:28] #849 closed

[2022-06-14 02:55] mblohmer opened #855 ""Too many open files" when running DemuxFastqs on large sequencing run"
Hi,

DemuxFastqs is repeatedly failing with the error "Too many open files" when I try to run it on a large sequencing run . The run contains ~3 billion paired end reads with unique dual indices and UMIs from 96 samples. DemuxFastqs works well for me on smaller files (150 million reads).
It seems like the "DemuxFastqs" part of the program can finish , but when the program is only outputting "SamWr

[2022-06-14 03:34] nh13 commented on #855
The issue is its trying to sort the output FASTQs, and its using temporary files when there isn’t enough space in memory. This tool was originally built to handle MiSeq runs and given the voluntary nature of supporting these tools, we have not spent time scaling this tool for larger outputs, and/or porting it to a more performant programming language (happy to with financial support).

That being

[2022-06-16 02:35] mblohmer commented on #855
Running the command with  `--sort-order unsorted` worked perfectly and already reduced the running time considerably.

Thank you so much for your help and your work on fgbio!

[2022-06-16 03:09] #855 closed

[2022-06-23 15:57] Phylloxera opened #856 "Error: Sample at ordinal #1 is missing: Sample_ID"
Using DemuxFastqs for the first time. It doesn't seem to like my metadata file, but I'm using one I got from another user on site and It seems to be following your specifications.
`head plate_04.csv`
﻿Sample_ID,Sample_Name,Library_ID,Sample_Barcode
LIB111785,SAM115593,LIB111785,CGTACGTA
LIB111786,SAM115594,LIB111786,AGCTAGCT
LIB111787,SAM115595,LIB111787,GCTTAACG
LIB111788,SAM115596,LIB111788,ATCC

[2022-06-23 17:32] nh13 commented on #856
Try running `dos2unix` on the file.

[2022-06-23 18:51] Phylloxera commented on #856
dos2unix appears to have converted to tab delimited?
`head plate_04.csv`
Sample_ID       Sample_Name     Library_ID      Sample_Barcode
LIB111785       SAM115593       LIB111785       CGTACGTA
LIB111786       SAM115594       LIB111786       AGCTAGCT
LIB111787       SAM115595       LIB111787       GCTTAACG
LIB111788       SAM115596       LIB111788       ATCCGGTA
LIB111789       SAM115597       LIB1

[2022-06-23 18:53] nh13 commented on #856
dos2unix should not have changed the delimiter.  Here's mine:
[plate_04.unix.csv](https://github.com/fulcrumgenomics/fgbio/files/8970152/plate_04.unix.csv)

[2022-06-23 19:09] Phylloxera commented on #856
your file worked! i probably lost my delimiter trying to copy/paste from excel to nano

[2022-06-23 19:09] #856 closed

[2022-06-27 19:52] genegolts commented on #831
@mjhipp Thank you for the explanation, it makes perfect sense.  In my use case scenario, this behavior results in the sequence at chimeric or fusion breakpoints getting hard-clipped.  I can see how in most situations you would indeed want to exclude unaligned sequence from the consensus, but in my case I actually don't want that to happen.  I am wondering if I could make a feature request to add a

[2022-06-27 23:45] nh13 commented on #831
@genegolts feature requests welcome, though to be transparent we’re all volunteer and so there’d be no time line on when we’d look at it (unless it one of clients wanted us to look at it).

[2022-07-06 02:40] sarahwajid commented on #604
The exact same issue is happening to me with version 2.0.2 and ReviewConsensusVariants:
[code]
I get some marginal output that stops about a quarter of the way through my interval list. Any fixes or suggestions? Also not able to share the input files.

[2022-07-06 03:51] nh13 commented on #604
There are some inputs zipped above if someone is able to take a look.

[2022-07-12 13:55] WackerO opened #857 "GroupReadsByUMI produces snappy error"
Hello there,

fgbio GroupReadsByUmi is used by the SAREK nextflow pipeline which I am currently working on. While trying to fix the code, I found that the command
[code]
, when run from pytest, produces a snappy error:
[code]
You can also find the command and error [here](https://github.com/nf-core/sarek/runs/7298883423?check_suite_focus=true) under "Output log on failure". I was able to reproduce

[2022-07-14 11:54] dstephensSD opened #858 "Error in FilterConsensusReads"
I get the same error as #847 while using v2.0.2

![image](https://user-images.githubusercontent.com/103445628/178973639-a797291b-26b7-42f7-ad61-e9220ecec5a8.png)

Code:
[code]

How the input to the above was generated:
[code]
Also occurs with --min-reads=1 0 0

Here is that read:

![image](https://user-images.githubusercontent.com/103445628/178976444-a7183d42-4d5d-4f08-8b75-82b18252d7d2.png)

[2022-07-15 14:45] WackerO commented on #857
The error was found, it was because of a tmpdir declaration that for some reason was accepted by nextflow but not pytest. Closing this.

[2022-07-15 14:45] #857 closed

[2022-07-20 03:31] nh13 commented on #858
Interesting! Any chance you can share the the input to `CallDuplexConsensusReads` for the reads with that UMI?  I'd like to debug how the consensus reads are called, to give the error in filtering.

[2022-07-20 03:33] nh13 commented on #858
I am also curious what you're doing to have 3bp reads!

[2022-07-20 03:38] nh13 commented on #847
@angeladarling could you share your input BAM to calling the consensus reads?

[2022-07-20 04:42] nh13 commented on #858
Alternatively, could you test out your data on: https://github.com/fulcrumgenomics/fgbio/pull/859?

[2022-07-20 04:44] nh13 commented on #847
@angeladarling also, could you try the latest release, and if that doesn't work, try: https://github.com/fulcrumgenomics/fgbio/pull/859

[2022-07-20 04:46] nh13 commented on #833
@dstephensSD you could probably just replace all the bases with As, change the read names to "READ<i>", and then there's no information left that's a privacy concern.

[2022-07-20 05:12] nh13 commented on #604
@agagarega thank-you for the test case, can you see if this PR fixes it: https://github.com/fulcrumgenomics/fgbio/pull/860?

@mmterpstra @sarahwajid this likely fixes your issue too, so take a look at the explanation and let me know if the fix works for you too!

[2022-07-20 06:55] bebelya opened #861 "Error in CallMolecularConsensusReads"
Hi,

First of all, thanks a lot for a great tool!

Is there a way to modify CallMolecularConsensusReads to prevent a crash in the following situation?

Occasionally, a dataset has a high number of PCR duplicates. These generally manifest as reads mapping to the same position and having identical UMI. On my machine, fgbio CallMolecularConsensusReads crashes in the presence of ~10K UMI's at a positi

[2022-07-20 07:07] nh13 commented on #861
Try using `--max-reads` to limit the number of reads used in consensus calling.  See: http://fulcrumgenomics.github.io/fgbio/tools/latest/CallMolecularConsensusReads.html

[2022-07-20 07:28] bebelya commented on #861
That worked! Thank you so much for a quick response!

[2022-07-20 09:17] nh13 commented on #861
@bebelya the answer is in the link I sent and in the usage on the command line!

[2022-07-20 09:17] #861 closed

[2022-07-20 09:26] bebelya commented on #861
Thanks!

[2022-07-22 04:56] bebelya opened #862 "Unexpected Consensus Sequence When Using CallMolecularConsensusReads"
Hi, I have a bam file containing a number of PCR duplicates. ~80% raw reads match the reference sequence exactly, while the rest have one or more errors. I would expect the consensus sequence to match the reference in most cases, but it doesn't.

To isolate the problem, I extracted 30K reads corresponding to one specific UMI (yes, there were a lot of PCR duplicates!). I further set all quality sco

[2022-07-22 05:12] nh13 commented on #862
I can't see something obvious, other than getting unlucky.  Can you try with different values (e.g. --max-reads 50 or --max-reads 100)?

We use a [fixed seed for the random number generator](https://github.com/fulcrumgenomics/fgbio/blob/a96cdd781e43538eb777f51334d798f6ac661782/src/main/scala/com/fulcrumgenomics/umi/VanillaUmiConsensusCaller.scala#L121) used to shuffle the reads to downsample, so u

[2022-07-22 05:13] nh13 commented on #862
@bebelya would you mind sharing what kit/assay/technology you're using and from which organization you're from, eas I always interested in who is using our tools on what technology.

[2022-07-22 05:24] bebelya commented on #862
Tried --max-reads values between 10 and 5000. The second sequence of the consensus pair never matched the reference. The first sequence was a hit-and-miss.

If it matters, bam file was first grouped using the following command:
$ fgbio GroupReadsByUmi -i $inFile -o $outFile --strategy=adjacency --edits=1 --assign-tag=MI.

Happy to share the data! Archive contains bam file and reference fasta. Than

[2022-07-22 18:18] nh13 commented on #862
A few things:

I looked at the most and least frequent sequences in your input BAMs.

R1:
[code]

R2:
[code]

Clearly there are two molecules that have been given the same MI (molecular identifier).

I then looked a the RX tag for the reads in the input BAM, and saw they all have the value `GGTAAGAGACCGTTGTTCTT`.  But then when I looked at the read name I see that it ends with a UMI sequence (mayb

[2022-07-22 18:20] nh13 commented on #862
@bebelya as this is likely an issue with your analysis and upstream workflow, and not an issue with the tools themselves, I am closing this issue.  Feel free to re-open if there's an issue with an upstream tool.  If you'd like support beyond fgbio, similar to what I've done above, feel free to reach out to us at https://fulcrumgenomics.com/ (we like getting paid for our work :P).

[2022-07-22 18:20] #862 closed

[2022-07-23 15:16] tobyaicher opened #863 "Best practices ZipperBam after CallDuplexConsensusReads"
Hi,

I am following fgbio's best practices (https://github.com/fulcrumgenomics/fgbio/blob/main/docs/best-practice-consensus-pipeline.md#step-2a2-consensus-ubam---consensus-mapped-bam) but using CallDuplexConsensusReads with min-reads 1 1 0 instead of CallMolecularConsensusReads.

Do I have to change anything with ZipperBams if I use CallDuplexConsensusReads instead of CallMolecularConsensusReads a

[2022-07-23 15:39] nh13 commented on #863
Nope, just remember to use the two options:

[code]

and you should be fine.

[2022-07-23 15:40] #863 closed

[2022-07-26 11:34] dstephensSD commented on #858
Here are a few reads that can be input to CallDuplexConsensusReads which will generate the 3bp read from above.

[test_sorted.txt](https://github.com/fulcrumgenomics/fgbio/files/9189400/test_sorted.txt)

Thanks!

[2022-07-26 16:07] bebelya commented on #862
I agree with your assessment, @nh13. Thanks for looking at the data so diligently.

[2022-07-26 22:15] #604 closed

[2022-07-27 00:10] nh13 commented on #858
This is a really insidious scenario.

First, the insert size for the raw reads are reported as `3`.  Taking a look at the reads, these are FR pairs, where the start of R1 is almost at the end of R2.  For one read pair, R1 maps to `498924-499063` on the positive strand while R2 maps to  `498784-498926` on the negative strand.  So R1's start position is just two bases before the end of R2.  For FR p

[2022-07-27 00:17] nh13 commented on #858
@dstephensSD check out #864

[2022-07-28 20:35] tobyaicher opened #866 "Best practices CallDuplexConsensusReads with min-reads= 1 1 0"
Hi,

I wanted to double check that CallDuplexConsensusReads can be used with min-reads=1 1 0 and then later filtered for duplex reads using FilterConsensusReads. I ask because using min-reads=1 is encouraged in the best practices page (https://github.com/fulcrumgenomics/fgbio/blob/main/docs/best-practice-consensus-pipeline.md#step-2a2-consensus-ubam---consensus-mapped-bam) but this is for the Call

[2022-07-28 21:09] #858 closed

[2022-07-28 21:12] nh13 commented on #866
Yes, that should work.  I think it was first supported in #293.

[2022-07-28 21:13] #866 closed

[2022-08-10 01:14] BiancaMor opened #869 "5’-3’ origin of UMIs"
Hello,
Sorry this is not an issue, it’s a question.
I have just started working with duplexseq data for my PhD and I have a naive question which I didn’t quite get from the docs.
For the RX: UMI1-UMI2
Is UMI1 always from my 5’end of the lib and UMI2 always from the 3’ end?
thank you

[2022-08-10 14:52] nh13 commented on #869
No worries, questions welcome.  Can you take a look [at the wiki](https://github.com/fulcrumgenomics/fgbio/wiki/Developer-Note:-Tracking-Reads-through-Grouping-and-Duplex-Consensus-Calling) and see if you still have questions?

[2022-08-10 19:49] ChadAHighfill opened #870 "CallMolecularConsensusReads failing"
Hi Team,

I am running fgbio CallMolecularConsensusReads. But this fails after starting for a bit. I am unsure what the issue is. I first sorted bam via Queryname, add MI tags via SetMateInformation, then grouped reads by UMI. Thus, I should have all the required inform to run this command.

[2022/08/10 14:03:55 | FgBioMain | Info] Executing CallMolecularConsensusReads from fgbio version 2.0.0 as

[2022-08-10 20:28] ChadAHighfill commented on #870
Code I am calling:
java -Xmx110g -jar /data/highfillca/Tools/fgbio-2.0.0.jar CallMolecularConsensusReads \
    --input=PATH/TO/MQ.grouped.QsortedUMI.bam \
    --min-reads=1 \
    --error-rate-post-umi=30 \
    --output=/PATH/FROM/MQ.consensus.grouped.QsortedUMI.bam

[2022-08-10 20:48] nh13 commented on #870
Try with 2.0.2.  See similar issues: https://github.com/fulcrumgenomics/fgbio/issues?q=java.util.NoSuchElementException%3A+None.get

[2022-08-11 17:19] ChadAHighfill commented on #870
You can close. 2.0.2 worked.

[2022-08-11 19:16] #870 closed

[2022-08-31 16:20] linuxbioinfoguy opened #872 "anyway to indentify the consensus reads with umi group size = 1 in the consensus fastq gz file (set min group size == 1) in umi process"
Hi, I have the following situation, if I set the min umi group size == 1 in the umi process, is there anyway I can filter the final consensus fastq output by a further defined umi group size, for example, in the final consensus fastq, I want to extract only the consensus sequence with umi size >=2, is that possible.

Thanks!

[2022-08-31 16:47] nh13 commented on #872
Use [`FilterConsensusReads`](http://fulcrumgenomics.github.io/fgbio/tools/latest/FilterConsensusReads.html) on the consensus BAM to select consensus reads with a minimum # of reads with `--min-reads` (actual value(s) differs based on if you have duplex or non-duplex data).

[2022-08-31 16:47] #872 closed

[2022-09-10 11:55] migrau opened #873 "Add UMIs to fastq"
I have my UMIs in an additional FASTQ file, containing only the UMIs:

[code]

I'm doing the UMIs calling using `AnnotateBamWithUmis` to include the UMIs in the RX tag after the alignment, but it is quite memory demanding so I was instead considering to start using `FastqToBam` at the begging of the pipeline. Is it a good idea adding my UMIs sequences to one of my paired fastq files (to R2 for exa

[2022-09-10 15:18] nh13 commented on #873
Do you have the UMIs in a FASTQ already? If so, you can use FastqToBam directly.

[2022-09-10 22:19] migrau commented on #873
Yes, I have two fastq files (R1, R2) + another fastq only with UMIs. The paired fastq contains the sequences without barcodes, indexes etc. Would it be correct?
`--input r1.fq r2.fq umi.fq --read-structures +T +T +M`

I realized that Sarek is using the fgbio pipe for UMIs, but it looks like the only way to use it is having the UMIs in the fastq reads, right? https://nf-co.re/sarek/usage#how-to-han

[2022-09-12 17:44] nh13 commented on #873
@migrau the above command looks right to me.   I haven't used `sarek`, so you'd need to see how FastqToBam is being used there.

[2022-09-12 17:44] #873 closed

[2022-09-13 10:31] migrau opened #874 "CallMolecularConsensusReads `--min-reads `"
First time working with UMIs, so probably it is very basic question.
About the `--min-reads` parameter of CallMolecularConsensusReads:

`--min-reads The minimum number of reads to produce a consensus base.`

In the previous step (GroupReadsByUmi), it groups reads together that appear to have come from the same original molecule. So `--min-reads` (CallMolecularConsensusReads) it's creating a single

[2022-09-15 00:09] nh13 commented on #874
Reads that are identified by GroupReadsByUmi as from the same source molecule (MI tag) can be fed into consensus calling (CallMolecularConsensusReads or CallDuplexConsensusReads) to create a single best guess at the bases from the source molecule.  The usage of `--min-reads` in `CallMolecularConsensusReads` affects both the results and run time.  From the usage: